<div class="blocktitle">
	<em></em>
	<h2><tpl> $langShopModuleMp3 </tpl></h2>
</div>
<div class="blockcontent">
	<div class="shop_6">
	<EMBED style="DISPLAY: block" height=110 type=application/x-shockwave-flash pluginspage=http://www.macromedia.com/go/getflashplayer width=210 src='<tpl> $template_dir </tpl>/flashs/player_mp3_multi.swf?mp3=<tpl>$mp3_url</tpl>&title=<tpl>$mp3_name</tpl>&autoplay=1&loop=1&shuffle=0&showvolume=1' quality="high" wmode="transparent" allowNetworking="internal" allowScriptAccess="never">
	</div>
</div>