<div id="footer" style=" height:140px;">
	<div class="copyright">
				Powered by <a href="http://www.shopnc.net" target="_blank" style="color:#FF6600">ShopNC</a>  &copy; v2.7 2007-2010 <a href="http://www.shopnc.net" target="_blank" style="color:#FF6600">网城创想</a> Inc.<br />
	   版权所有 天津市网城创想科技有限责任公司
	  <a style="color:#588CC0" href="http://www.miibeian.gov.cn/" target="_blank">津ICP备080001719号</a>
	  <br />
      <tpl> $langStoreWelcome </tpl> <font style="color:#000;"><tpl> $shop_info.shop_name </tpl></font>
	</div>
   </div>
