<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title>
<tpl>$shop_admin_header_system_manage</tpl>
-
<tpl>$admin_system_email</tpl>
</title>
<!-- 网店管理 - 邮件设置 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.tabs li').click(function(){
		$('.tabs li').removeClass('select');
		$(this).addClass('select');
		$('.entry-body').hide();
	});
	$('#tab1').click(function(){
		$('#entry1').fadeIn(600);
	});
	$('#tab2').click(function(){
		$('#entry2').fadeIn(600);
	});
	
	/* 输入信息的校验 */
	$("#mail_form").validate({
		errorClass: "wrong",
		rules: {
			smtpserver	: {required	:function (){
				if ($('#whichMail option:selected').val() == 'smtp'){
					return true;
				}else{
					return false;
				}},minLength	:3,	maxLength:30},
			smtpemail	: {required	:function (){
				if ($('#whichMail option:selected').val() == 'smtp'){
					return true;
				}else{
					return false;
				}},minLength	:3,	maxLength:30},
			smtppass	: {required	:function (){
				if ($('#whichMail option:selected').val() == 'smtp'){
					return true;
				}else{
					return false;
				}}},
			smtpprot	: {required	:function (){
				if ($('#whichMail option:selected').val() == 'smtp'){
					return true;
				}else{
					return false;
				}},number	:true},
			mailto		: {required	:function (){
				if ($('#whichMail option:selected').val() == 'smtp'){
					return true;
				}else{
					return false;
				}},email		:true,	maxLength:30}
		},
		messages: {
			smtpserver	: {required	:"<tpl>$admin_system_email_hosting_null</tpl>",minLength:"<tpl>$admin_system_email_string_min</tpl>",maxLength:"<tpl>$admin_system_email_string_max</tpl>"},
			smtpemail	: {required	:"<tpl>$admin_system_email_smtp_id_null</tpl>",email:"<tpl>$admin_system_email_string_min</tpl>",maxLength:"<tpl>$admin_system_email_string_max</tpl>"},
			smtppass	: {required	:"<tpl>$admin_system_email_smtp_pw_null</tpl>"},
			smtpprot	: {required	:"<tpl>$admin_system_email_smtp_port_null</tpl>",number:"<tpl>$admin_system_email_num</tpl>"},
			mailto		: {required	:"<tpl>$admin_system_email_display_mail_null</tpl>",email:"<tpl>$admin_system_email__mail_error</tpl>",maxLength:"<tpl>$admin_system_email_string_max</tpl>"}
		}
	});
});

/* 切换邮件发送方式 */
function showMore(value){
	if(value=="smtp"){
		$("#smtp").css("display","");
	}else{
		$("#smtp").css("display","none");
	}
}

</script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>
<body id="noulmenu">

	<h4 id="rightcon_h"><b>
		<tpl>$shop_admin_header_system_manage</tpl> &gt;&gt; <tpl>$admin_system_email</tpl>
		<!-- 网店管理 >> 邮件设置 -->
		</b></h4>
	<div id="rightcon"><form action="?action=save_mail" method="post" name="mail_form" id="mail_form">
	<div class="rc_con">
		<ul class="tabs">
			<li id="tab1" class="select"><a href="#nogo">
				<tpl>$admin_system_email_config</tpl>
				<!-- 参数设置 -->
				</a></li>
			<li id="tab2"><a href="#nogo">
				<tpl>$admin_system_email_send</tpl>
				<!-- 邮件发送 -->
				</a></li>
		</ul>
		<div class="clear"></div>
		<div class="entry-body" id="entry1">
			<table border="0" width="35%">
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td width="110"><tpl>$admin_system_email_type</tpl>
						<!-- 邮件发送类型 -->
						:</td>
					<td><select name="setmail" id="whichMail" onchange="showMore(this.value)">
							<option value="mail" 
							<tpl>if $mailtype == 'mail'</tpl>
							selected="selected"
							<tpl>/if</tpl>
							>
							<tpl>$admin_system_email_use_mail</tpl>
							<!-- 系统内容mail发送 -->
							</option>
							<option value="smtp" 
							<tpl>if $mailtype == 'smtp'</tpl>
							selected="selected"
							<tpl>/if</tpl>
							>
							<tpl>$admin_system_email_use_smtp</tpl>
							<!-- 系统内容smtp发送 -->
							</option>
						</select></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<div class="notice" id="smtp" style="display:none;">
				<table width="100%" border="0">
					<tr>
						<td width="110"><tpl>$admin_system_email_hosting</tpl>
							<!-- smtp服务器 -->
							:</td>
						<td><input class="TextBox" type="text" name="smtpserver" id="smtpserver" value="<tpl>$smtpserver</tpl>" />
							<div class="check-error">
								<label style="display:none" for="smtpserver" class="wrong" metaDone="true" generated="true"></label>
							</div></td>
					</tr>
					<tr>
						<td><tpl>$admin_system_email_smtp_id</tpl>
							<!-- smtp邮箱帐户 -->
							:</td>
						<td><input class="TextBox" type="text" name="smtpemail" id="smtpemail" value="<tpl>$smtpemail</tpl>" />
							<div class="check-error">
								<label style="display:none" for="smtpemail" class="wrong" metaDone="true" generated="true"></label>
							</div></td>
					</tr>
					<tr>
						<td><tpl>$admin_system_email_smtp_pw</tpl>
							<!-- smtp邮箱密码 -->
							:</td>
						<td><input class="TextBox" type="text" name="smtppass" id="smtppass" value="<tpl>$smtppass</tpl>" />
							<div class="check-error">
								<label style="display:none" for="smtppass" class="wrong" metaDone="true" generated="true"></label>
							</div></td>
					</tr>
					<tr>
						<td><tpl>$admin_system_email_smtp_port</tpl>
							<!-- smtp服务端口 -->
							:</td>
						<td><input class="TextBox" type="text" name="smtpprot" id="smtpprot" value="<tpl>$smtpprot</tpl>" />
							<div class="check-error">
								<label style="display:none" for="smtpprot" class="wrong" metaDone="true" generated="true"></label>
							</div></td>
					</tr>
					<tr>
						<td><tpl>$admin_system_email_display_mail</tpl>
							<!-- 显示的邮箱 -->
							:</td>
						<td><input class="TextBox" type="text" name="mailto" id="mailto" value="<tpl>$mailto</tpl>" />
							<div class="check-error">
								<label style="display:none" for="mailto" class="wrong" metaDone="true" generated="true"></label>
							</div></td>
					</tr>
				</table>
			</div>
			<!--  end of smtp  -->
		</div>
		<!--  end of entry1  -->
		<div class="entry-body" id="entry2" style="display:none;">
			<table width="100%" border="0">
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td width="150"><tpl>$admin_system_email_new_user</tpl>
						<!-- 新商家住 -->
						:</td>
					<td><input name="new_user_mail" type="radio" 
						<tpl>if $new_user_mail == '1'</tpl>
						checked="checked"
						<tpl>/if</tpl>
						value="1" />
						<tpl>$admin_send_email</tpl>
						<input name="new_user_mail" type="radio" 
						<tpl>if $new_user_mail == '0'</tpl>
						checked="checked"
						<tpl>/if</tpl>
						value="0" />
						<tpl>$admin_no_send_email</tpl>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="?action=view_mail_temp&temp_name=new_user_mail" style="text-decoration: underline;">
						<tpl>$admin_send_template</tpl>
						</a></td>
				</tr>
				  <tr>
					<td><tpl>$admin_system_virtual_card_send</tpl><!-- 虚拟卡发货 -->:</td>
					<td><input name="send_virtual_card_mail" type="radio" <tpl>if $send_virtual_card_mail == '1'</tpl>checked="checked"<tpl>/if</tpl> value="1" /><tpl>$admin_send_email</tpl><input name="send_virtual_card_mail" type="radio" <tpl>if $send_virtual_card_mail == '0'</tpl>checked="checked"<tpl>/if</tpl> value="0" /><tpl>$admin_no_send_email</tpl>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="?action=view_mail_temp&temp_name=send_virtual_card_mail" style="text-decoration: underline;"><tpl>$admin_send_template</tpl></a></td>
				  </tr>				
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
		<!--  end of entry2  -->
		<div class="textLeft btnDiv">
			<input type="submit" name="button" id="button" value="<tpl>$admin_system_submit</tpl>" class="btnInput" />
			<!-- 点此保存 -->
			<input type="reset" name="button2" id="button2" value="<tpl>$admin_system_reset</tpl>" class="btnInput" />
			<!-- 重置 -->
		</div>
	</div>
</form>
<tpl>include_php file ='footer.php'</tpl>
<!-- 底部版权信息 -->
</div>
<!--  end of content  -->
<script type="text/javascript">
	<tpl>if $mailtype == 'smtp'</tpl>
		document.getElementById("smtp").style.display = '';	
	<tpl>/if</tpl>
</script>
</body>
</html>
