<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$system_header_goods_manage</tpl> - <tpl>$admin_goods_type_add</tpl></title><!-- 商品管理 - 添加商品类型 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* 对需要填写验证的信息，进行验证 */
	$("#attr_form").validate({
		errorClass: "wrong",
		rules: {
			txt_goods_type_name	: {required:true}
		},
		messages: {
			txt_goods_type_name	: {required: "<tpl>$admin_goods_type_name_null</tpl>"}
		}
	});
});
</script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>

<body>
<form action="admin_goods_attribute.php?action=type_save" name="attr_form" id="attr_form" method="post">
<input type="hidden" name="goods_type_id" value="<tpl>$type_info.goods_type_id</tpl>" />
	<h4 id="rightcon_h"><b><span class="alignRight"><a href="admin_goods_attribute.php" target="_self" class="btnInput"><tpl>$admin_goods_type_list</tpl><!-- 商品类型列表 --></a></span>
	<tpl>$system_header_goods_manage</tpl> &gt;&gt; <tpl>if $type_info.goods_type_id!=''</tpl><tpl>$admin_goods_type_edit</tpl><tpl>else</tpl><tpl>$admin_goods_type_add</tpl><tpl>/if</tpl><!-- 商品管理 >> 添加商品类型 -->
    </b></h4>
<div id="rightcon">
		<div class="rc_con">
				<h5><tpl>if $type_info.goods_type_id!=''</tpl><tpl>$admin_goods_type_edit</tpl><tpl>else</tpl><tpl>$admin_goods_type_add</tpl><tpl>/if</tpl></h5>
    <div class="textRight">
      <input type="submit" name="button" id="button" value="<tpl>$admin_goods_click_save</tpl>" class="btnInput" /><!-- 点此保存 -->
    </div>
    <div class="entry-body" id="entry1">
      <table width="90%" border="0">
        <tr>
          <td width="22%"><tpl>$admin_goods_type_name</tpl><!-- 商品类型名称 -->:</td>
          <td width="78%"><label>
            <input type="text" name="txt_goods_type_name" id="txt_goods_type_name" value="<tpl>$type_info.goods_type_name|escape:html</tpl>" />
          </label><span class="red">*</span>
		  <div class="check-error"><label style="display:none" for="txt_goods_type_name" class="wrong" metaDone="true" generated="true"></label></div>
		  </td>
        </tr>
		<tr>
        <!-- <tr>
          <td><tpl>$admin_goods_type_attr_group</tpl>--><!-- 属性分组 --><!--:</td>
          <td><label>
            <textarea name="txt_goods_type_group" cols="45" rows="5"><tpl>$type_info.goods_type_group</tpl></textarea>
          </label></td>
        </tr>-->
        <tr>
          <td><tpl>$admin_goods_type_state</tpl><!-- 商品类型状态 -->:</td>
          <td><tpl>$type_state</tpl></td>
        </tr>
		<tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="button" id="button" value="<tpl>$admin_goods_click_save</tpl>" class="btnInput" /><!-- 点此保存 -->
      <input type="reset" name="button2" id="button2" value="<tpl>$admin_goods_reset</tpl>"  class="btnInput" /><!-- 重置 --></td>
        </tr>
      </table>
    </div>
    <!--  end of entry-body  -->
    <div class="textLeft btnDiv">
      
    </div>
</form>
</div>
<tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
