<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_goods_manage</tpl> - <tpl>$admin_goods_class_list</tpl></title><!--  后台管理 - 商品分类列表  -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>
<body>
<h4 id="rightcon_h"><b><span class="alignRight"><a href="admin_goods_class.php?action=page_goods_class" target="_self" class="btnInput"><tpl>$system_goods_class_add</tpl><!--  添加分类  --></a></span>
<tpl>$system_header_goods_manage</tpl><!--  商品管理  --> &gt;&gt; <tpl>$system_goods_class_list</tpl><!--  商品分类列表  -->
    	</b></h4>
<div id="rightcon">
			<div class="rc_con">
				<form id="form" name="form" action="admin_goods_class.php" method="post">
					<input type="hidden" name="action" id="action"/>
					<input type="hidden" name="id" id="id"/>
					<input type="hidden" name="select" id="select" />
					<h5><div class="floatRight2">
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_folder_add.gif" /><span>:<tpl>$admin_goods_class_list_add_sub</tpl></span><!--  添加子分类  -->
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_switch.gif" /><span>:<tpl>$admin_goods_class_list_move_goods</tpl></span><!--  转移商品  -->
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_edit.gif"/><span>:<tpl>$admin_goods_class_list_deit</tpl></span><!--  编辑  -->
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_cancel.gif" /><span>:<tpl>$admin_goods_class_list_del</tpl></span><!--  删除  -->   
            </div></h5>
    <div class="entry-body" id="p-list-div">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
          <tr>
            <th class="textLeft"><tpl>$admin_goods_class_list_name</tpl><!--  分类名称  --></th>
            <th><tpl>$admin_goods_class_list_ifput</tpl><!--  是否发布  --></th>
            <th><tpl>$admin_goods_class_list_sort</tpl><!--  分类排序  --></th>
            <th><tpl>$admin_goods_class_list_goods_num</tpl><!--  包含商品数量  --></th>
            <th><tpl>$admin_goods_class_list_oper</tpl><!--  操作  --></th>
          </tr>
          <tpl>section name=i loop=$class_array</tpl>
          <tr id="<tpl>$class_array[i].0</tpl>"  <tpl>if $class_array[i].4!=0</tpl>style="display:none"<tpl>/if</tpl>>
            <td class="classname font14">
            	<span id="open<tpl>$class_array[i].0</tpl>">
                	<tpl>$class_array[i].header</tpl>
                    <tpl>if $class_array[i].5 !=0</tpl>
                        <a href="#nogo" onclick="showOpen('<tpl>$class_array[i].sub_one_class</tpl>',<tpl>$class_array[i].0</tpl>)" ><img src="<tpl>$Site_Url</tpl>/system/templates/images/collapsed2.gif"/>
                    <tpl>/if</tpl>
					<tpl>if $class_array[i].5 !=0</tpl>
                    	</a>
                     <tpl>/if</tpl>
                        <a href="admin_goods.php?action=list&sel_goods_class=<tpl>$class_array[i].0</tpl>"><tpl>$class_array[i].name</tpl></a>
                </span>
                <span style="display:none" id="close<tpl>$class_array[i].0</tpl>">
                <tpl>$class_array[i].header</tpl>
                <a href="#nogo" onclick="showClose('<tpl>$class_array[i].sub_class</tpl>',<tpl>$class_array[i].0</tpl>)" >
                <img src="<tpl>$Site_Url</tpl>/system/templates/images/expanded2.gif"/>
            	<tpl>$class_array[i].name</tpl>
                </a>
                </span>
            </td>
            <td><span id="state_<tpl>$class_array[i].0</tpl>"><a onclick="nc_state_update('<tpl>$class_array[i].0</tpl>','class_state','<tpl>$class_array[i].class_state</tpl>','state_<tpl>$class_array[i].0</tpl>')"><img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_<tpl>$class_array[i].class_state</tpl>.gif" alt='<tpl>$admin_goods_class_click_update</tpl>' title='<tpl>$admin_goods_class_click_update</tpl>' /></a></span></td>
            <td><tpl>$class_array[i].class_sort</tpl></td>
            <td><tpl>$class_array[i].goods_count</tpl></td>
            <td><a href="<tpl>$Site_Url</tpl>/system/admin_goods_class.php?action=page_goods_class&type=sub&cid=<tpl>$class_array[i].0</tpl>"><img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_folder_add.gif" alt="<tpl>$admin_goods_class_list_add_sub</tpl>" title="<tpl>$admin_goods_class_list_add_sub</tpl>" /></a><!--  添加子分类  -->&nbsp;
            	<a href="#nogo" onclick="showMove(<tpl>$class_array[i].0</tpl>)"><img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_switch.gif" alt="<tpl>$admin_goods_class_list_move_goods</tpl>" title="<tpl>$admin_goods_class_list_move_goods</tpl>" /></a><!--  转移商品  -->&nbsp;
            	<a href="<tpl>$Site_Url</tpl>/system/admin_goods_class.php?action=page_goods_class&type=modify&cid=<tpl>$class_array[i].0</tpl>"><img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_edit.gif" alt="<tpl>$admin_goods_class_list_deit</tpl>" title="<tpl>$admin_goods_class_list_deit</tpl>" /></a><!--  编辑  -->
            	<a href="#nogo" onclick="showDel(<tpl>$class_array[i].0</tpl>)"><img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_cancel.gif" alt="<tpl>$admin_goods_class_list_del</tpl>" title="<tpl>$admin_goods_class_list_del</tpl>" /></a><!--  删除  --></td>
          </tr>
          <tr id="move<tpl>$class_array[i].0</tpl>" class="mfunctions" style="display:none">
          	<td colspan="7"><tpl>$admin_goods_class_list_shall</tpl><!--  将  --><font color="red"><tpl>$class_array[i].name</tpl></font><tpl>$admin_goods_class_list_move_to</tpl><!--  转移到  -->
          	  <tpl>$class_array[i].class_top_id</tpl>
          	  <input type="button" name="button2" id="button2" class="btnInput" value="<tpl>$admin_goods_list_move_enter</tpl>" onclick="moveSubmit(<tpl>$class_array[i].0</tpl>)" /><!--  确定  -->&nbsp;&nbsp;&nbsp;
          	  <input type="button" name="button3" id="button3" class="btnInput" value="<tpl>$admin_goods_list_close</tpl>" onclick="showMove(<tpl>$class_array[i].0</tpl>)" /><!--  关闭  --><input type="hidden" id="move_open_state<tpl>$class_array[i].0</tpl>" name="move_open_state<tpl>$class_array[i].0</tpl>" value="0" /></td>
          </tr>
           <tr id="del<tpl>$class_array[i].0</tpl>" class="mfunctions" style="display:none;">
          	<td colspan="3">&nbsp;</td>
			<td colspan="3" style="text-align:left">
                  <p><input type="radio" name="delclass<tpl>$class_array[i].0</tpl>" id="delclass<tpl>$class_array[i].0</tpl>" value="1" onclick="select_class_display(<tpl>$class_array[i].0</tpl>,0);" checked /> 
				  <tpl>$admin_goods_class_list_del</tpl><!--  删除  --><font color="red"><tpl>$class_array[i].name</tpl></font><tpl>$admin_goods_class_list_inc</tpl><!--  包括  --><font color="red"><tpl>$class_array[i].name</tpl></font><tpl>$admin_goods_class_list_text1</tpl><!--  的子分类和商品  --></p>
                	<p>
                	<input type="radio" name="delclass<tpl>$class_array[i].0</tpl>" id="delclass<tpl>$class_array[i].0</tpl>" value="2" onclick="select_class_display(<tpl>$class_array[i].0</tpl>,1);" />  
               	   <tpl>$admin_goods_class_list_del</tpl><!--  删除  --><font color="red"><tpl>$class_array[i].name</tpl></font><tpl>$admin_goods_class_list_text2</tpl><!--  ，移动子分类和商品  --></p>
                	<p>
                	 <input type="radio" name="delclass<tpl>$class_array[i].0</tpl>" id="delclass<tpl>$class_array[i].0</tpl>" value="3" onclick="select_class_display(<tpl>$class_array[i].0</tpl>,1);" /> 
               	     <tpl>$admin_goods_class_list_del</tpl><!--  删除  --><font color="red"><tpl>$class_array[i].name</tpl></font><tpl>$admin_goods_class_list_text3</tpl><!--  和子分类，只移动商品  --><br /><tpl>$class_array[i].class_top_id_2</tpl>
                      <input type="button" name="button" id="button" class="btnInput" value="<tpl>$admin_goods_class_list_enter</tpl>" onclick="selectDel(<tpl>$class_array[i].0</tpl>)" /><!--  确定  -->&nbsp;&nbsp;&nbsp;
					  <input type="button" name="button4" id="button4" class="btnInput" value="<tpl>$admin_goods_list_close</tpl>" onclick="showDel(<tpl>$class_array[i].0</tpl>)" /><!--  关闭  -->
					  <input type="hidden" name="open_state<tpl>$class_array[i].0</tpl>" value="0" id="open_state<tpl>$class_array[i].0</tpl>" /><!-- 用于关闭展开的判断 -->
            </td>
          </tr>
          <tpl>/section</tpl>
        </table>
    
    	<div class="clear"></div>
    </div><!--   end of p-list-div   -->
	<h5 class="h5_down"><div class="floatRight2">
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_folder_add.gif" /><span>:<tpl>$admin_goods_class_list_add_sub</tpl></span><!--  添加子分类  -->
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_switch.gif" /><span>:<tpl>$admin_goods_class_list_move_goods</tpl></span><!--  转移商品  -->
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_edit.gif"/><span>:<tpl>$admin_goods_class_list_deit</tpl></span><!--  编辑  -->
             <img src="<tpl>$Site_Url</tpl>/system/templates/images/icon_cancel.gif" /><span>:<tpl>$admin_goods_class_list_del</tpl></span><!--  删除  -->   
            </div></h5></form>
	</div>
<tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div><!--   end of content   -->
<script language="javascript">
/* 展开分类 */
function showOpen(id,top_id){
	id_array = id.split(",");
	for(i=0;i<id_array.length;i++){
		$("#"+id_array[i]).css("display","");
	}
	$("#open"+top_id).css("display","none");
	$("#close"+top_id).css("display","");
}
/* 关闭分类 */
function showClose(id,top_id){
	id_array = id.split(",");
	for(i=0;i<id_array.length;i++){
		$("#open"+id_array[i]).css("display","");
		$("#"+id_array[i]+",#close"+id_array[i]+",#move"+id_array[i]+",#del"+id_array[i]).css("display","none");
	}
	$("#open"+top_id).css("display","");
	$("#close"+top_id).css("display","none");
}

/* 展开/关闭移动 */
function showMove(id){
	if($("#move_open_state"+id).val() == '0') {
		$("#move"+id).css("display","");
		$("#move_open_state"+id).attr("value",'1');
	} else {
		$("#move"+id).css("display","none");
		$("#move_open_state"+id).attr("value",'0');
	}
}
/* 移动操作提交处理 */
function moveSubmit(id){
	$("#action").attr("value",'move');
	$("#id").attr("value",id);
	$("#form").submit();
}

/* 对删除打开有，里面的下拉分类进行反灰显示与正常显示间的切换 */
function select_class_display(select_id,select_state) {
	if(select_state == 0) {
		$("#txt_class_top_id"+select_id+"_2").attr('disabled','disabled');
	} else{
		$("#txt_class_top_id"+select_id+"_2").attr('disabled','');
	}
}

/* 显示/关闭删除菜单 */
function showDel(id){
	if($("#open_state"+id).val() == '0') {
		$("#del"+id).css("display","");
		$("#open_state"+id).attr("value",'1');
		$("#txt_class_top_id"+id+"_2").attr('disabled','disabled');
		$("input[@type=radio][@value=1]").attr("checked",'checked'); 
	} else {
		$("#del"+id).css("display","none");
		$("#open_state"+id).attr("value",'0');
	}
}
/* 删除操作执行 */
function selectDel(id){
	var value = $("input[@name=delclass"+id+"][@checked]").val();
	$("#action").attr("value",'del');
	$("#id").attr("value",id);
	$("#select").attr("value",value);
	$("#form").submit();
}


/* ajax修改分类状态操作 */
function nc_state_update(class_id,ajax_type,old_state,id) {
	$.get('admin_goods_class.php',{'action':'class_ajax','ajax_type':ajax_type,'old_state':old_state,'class_id':class_id,'css_id':id},function(data){
		$("#"+id).html(data);
	});
}
</script>
</body>
</html>
