<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title>ShopNC分销王系统 - Powered by ShopNC</title>
</head>

<frameset rows="80,*" cols="*" frameborder="no" border="0">
  <frame src="index.php?action=top" name="topFrame" id="topFrame" scrolling="no" noresize framespacing="0" />
  <frameset rows="*" cols="146,11,*" name="bodyFrame" id="bodyFrame">
    <frame src="index.php?action=left" id="menu-frame" name="menu-frame" scrolling="no" framespacing="0" />
    <frame src="index.php?action=leftsid" id="menu-frame1" name="menu-frame1" scrolling="no" framespacing="0" />
    <frame src="index.php?action=main" id="main-frame" name="main-frame"  scrolling="no" framespacing="0" />
  </frameset>
</frameset>
<noframes><body>
</body>
</noframes></html>
