<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_module_manage</tpl> - <tpl>$admin_module_lang_list</tpl></title><!-- 模块管理 - 语言列表 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>

<body id="goodsList">
    <h4 id="rightcon_h"><b><span class="alignRight"><a href="admin_module_language.php?action=add_language_area" target="_self" class="btnInput"><tpl>$admin_module_lang_add</tpl></a></span><!-- 添加语言 -->
	<tpl>$admin_header_module_manage</tpl> &gt;&gt; <tpl>$admin_module_lang_list</tpl><!-- 模块管理 >> 语言列表 -->
    </b></h4>
<div id="rightcon">
		<div class="rc_con"><form  id="form1" name="form1" method="post" action="admin_module_language.php?action=del_language_area">
				<h5><div class="floatRight2">
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_module_currencies_edit</tpl>" /><span>:<tpl>$admin_module_lang_list_edit</tpl><!-- 编辑 --> </span>
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_module_currencies_del</tpl>" /><span>:<tpl>$admin_module_lang_list_del</tpl><!-- 删除 --></span>
                </div>
              <input type="submit" value="<tpl>$admin_module_lang_list_del</tpl>" class="delBtnInput" /><!-- 删除 --></h5>
    <div class="entry-body" id="p-list-div">
  
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
          <tr>
            <th><input type="checkbox" name="all" id="all" /></th>
            <th><tpl>$admin_module_lang_add_name</tpl><!-- 语言名称 --></th>
            <th><tpl>$admin_module_lang_add_code</tpl><!-- 语言代码 --></th>
            <th><tpl>$admin_module_lang_list_pic</tpl><!-- 语言图片 --></th>
            <th><tpl>$admin_module_lang_list_state</tpl><!-- 语言状态 --></th>
            <th><tpl>$admin_module_lang_list_sort</tpl><!-- 语言排序 --></th>
            <th><tpl>$admin_module_lang_list_oper</tpl><!-- 操作 --></th>
          </tr>
		  <tpl> section name=list loop=$language_array </tpl>
          <tr>
            <td><input type="checkbox" name="language_id[]" value="<tpl>$language_array[list].language_id</tpl>" class="cb" /></td>
            <td><tpl>$language_array[list].language_name</tpl></td>
            <td><tpl>$language_array[list].language_code</tpl></td>
            <td class="flag"><tpl>if $language_array[list].language_image!=''</tpl><img src="<tpl>$Site_Url</tpl>/<tpl>$language_array[list].language_image</tpl>" /><tpl>else</tpl><tpl>$admin_module_lang_list_img_null</tpl><tpl>/if</tpl></td>
            <td>
			<span id="state_<tpl> $language_array[list].language_id</tpl>"><a onclick="nc_state_update('<tpl> $language_array[list].language_id</tpl>','language_state','<tpl> $language_array[list].language_state </tpl>','state_<tpl> $language_array[list].language_id</tpl>');"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_<tpl>$language_array[list].language_state</tpl>.gif" alt="<tpl>$admin_module_lang_list_edit_state</tpl>" /></a></span></td>
            <td><tpl>$language_array[list].language_sort</tpl></td>
            <td>
				<a href="admin_module_language.php?action=add_language_area&language_id=<tpl>$language_array[list].language_id</tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_module_lang_list_edit</tpl>" /></a><!-- 编辑 -->
				<a href="admin_module_language.php?action=del_language_area&language_id=<tpl>$language_array[list].language_id</tpl>" onclick="return confirm('<tpl>$admin_module_lang_list_del_info</tpl>')"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_module_lang_list_del</tpl>" /></a><!-- 删除 -->
			</td>
          </tr>
		  <tpl>/section</tpl>
        </table>
    
    </div><!--  end of p-list-div  -->
	<h5 class="h5_down"><div class="floatRight2">
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_module_currencies_edit</tpl>" /><span>:<tpl>$admin_module_lang_list_edit</tpl><!-- 编辑 --> </span>
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_module_currencies_del</tpl>" /><span>:<tpl>$admin_module_lang_list_del</tpl><!-- 删除 --></span>
                </div>
              <input type="submit" name="del" value="<tpl>$admin_module_lang_list_del</tpl>" class="delBtnInput" /><!-- 删除 --></h5></form>
	</div>
	<tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
<script language="javascript">
<!--
/* ajax修改状态 */
function nc_state_update(language_id,ajax_type,old_state,id) {
	$.get('admin_module_language.php',{'action':'language_ajax','ajax_type':ajax_type,'old_state':old_state,'language_id':language_id,'css_id':id},function(data){
		$("#"+id).html(data);
	});
}
//-->
</script>
</body>
</html>
