<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$system_header_module_manage</tpl> - <tpl>$admin_module_pay_region_add</tpl></title><!-- 模块管理 - 添加支付区域 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* 对需要填写验证的信息，进行验证 */
	$("#form1").validate({
		errorClass: "wrong",
		rules: {
			txt_pay_area_name		: {required:true,maxLength:50},
			txt_pay_area_directory	: {required:true,maxLength:20}
		},
		messages: {
			txt_pay_area_name		: {required: "<tpl>$admin_module_pay_region_name_null</tpl>",maxLength:"<tpl>$admin_module_pay_region_name_long</tpl>"},
			txt_pay_area_directory	: {required: "<tpl>$admin_module_pay_region_path_null</tpl>",maxLength:"<tpl>$admin_module_pay_region_path_long</tpl>"}
		}
	});
});
</script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>

<body id="noulmenu">
<form action="admin_module_pay.php?action=pay_area_save" method="post" name="form1" id="form1">
  <input type="hidden" name="txt_pay_area_id" value="<tpl>$pay_area_array.pay_area_id</tpl>" />
    <h4 id="rightcon_h"><b><span class="alignRight"><a href="admin_module_pay.php?action=pay_area" target="_self" class="btnInput"><tpl>$admin_module_pay_region_list</tpl></a></span><!-- 支付区域 -->
	<tpl>$system_header_module_manage</tpl> &gt;&gt; <tpl>if $pay_area_array.pay_area_id!=''</tpl><tpl>$admin_module_pay_region_list_edit</tpl><tpl>else</tpl><tpl>$admin_module_pay_region_add</tpl><tpl>/if</tpl><!-- 工具管理 >> 添加支付区域 -->
    	</b></h4>
<div id="rightcon">
		<div class="rc_con">
				<h5><tpl>if $pay_area_array.pay_area_id!=''</tpl><tpl>$admin_module_pay_region_list_edit</tpl><tpl>else</tpl><tpl>$admin_module_pay_region_add</tpl><tpl>/if</tpl></h5>
    <div class="textRight">
      <input type="submit" name="button" id="button" value="<tpl>$admin_module_pay_submit</tpl>" class="btnInput" /><!-- 点此保存 -->
    </div>
    <div class="entry-body">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="100"><tpl>$admin_module_pay_region_name</tpl>:</td><!-- 区域名称 -->
				<td><input class="TextBoxAt" type="text" name="txt_pay_area_name" id="txt_pay_area_name" value="<tpl>$pay_area_array.pay_area_name|escape:html</tpl>" />&nbsp;<span class="red">*</span>
				<div class="check-error"><label style="display:none" for="txt_pay_area_name" class="wrong" metaDone="true" generated="true"></label></div>
				</td>
			</tr>
			<tr>
				<td><tpl>$admin_module_pay_region_path</tpl>:</td><!-- 支付文件目录 -->
				<td><input class="TextBoxAt" type="text" name="txt_pay_area_directory" id="txt_pay_area_directory"  value="<tpl>$pay_area_array.pay_area_directory|escape:html</tpl>" />&nbsp;<span class="red">*</span>
				<div class="check-error"><label style="display:none" for="txt_pay_area_directory" class="wrong" metaDone="true" generated="true"></label></div>
				</td>
			</tr>
			<tr>
				<td><tpl>$admin_module_pay_region_desc</tpl>:</td><!-- 支付区域简介 -->
				<td><textarea name="txt_pay_area_info" id="txt_pay_area_info" cols="40" rows="8"><tpl>$pay_area_array.pay_area_info</tpl></textarea>
				</td>
			</tr>
			<!-- <tr>
			  <td><tpl>$admin_module_pay_region_sort</tpl></td>
			  <td class="display_pic"><input type="text" name="txt_pay_area_sort"  value="<tpl>$pay_area_array.pay_area_sort</tpl>" size="10" /></td>
		  </tr> -->
			<tr>
				<td><tpl>$admin_module_pay_region_state</tpl>:</td><!-- 支付区域状态 -->
				<td class="display_pic"><tpl>$pay_state</tpl></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="button" id="button" value="<tpl>$admin_module_pay_submit</tpl>" class="btnInput" /><!-- 点此保存 -->
      <input type="reset" name="button2" id="button2" value="<tpl>$admin_module_pay_reset</tpl>" class="btnInput" /><!-- 重置 --></td>
			</tr>
		</table>
    </div><!--  end of entry-body  -->
    <div class="textLeft btnDiv">
      
    </div>
	<div class="clear"></div>
</form>
</div>
<tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
