<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$shop_admin_header_shop_manage</tpl> - <tpl>$shop_admin_shop_list</tpl></title><!-- 会员管理 - 会员列表 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
<script type="text/javascript">
/* 修改产品状态 */
function nc_state_update(user_id,ajax_type,old_state,id) {
	$.get('admin_user.php',{'action':'user_ajax','ajax_type':ajax_type,'old_state':old_state,'user_id':user_id,'css_id':id},function(data){
		$("#"+id).html(data);
	});
}
</script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>

<body>
<h4 id="rightcon_h"><b><span class="alignRight"><a href="admin_shop.php?action=shop_add" target="_self" class="btnInput"><tpl>$shop_admin_shop_add</tpl><!-- 添加网店 --></a></span> 
<tpl>$shop_admin_header_shop_manage</tpl><!-- 网店管理 --> &gt;&gt; <tpl>$shop_admin_shop_list</tpl><!-- 网店列表 -->
    	   
    </b></h4>
<div id="rightcon">
			<div class="rc_con">
				<h5><div class="floatRight">
                	<form id="form2" name="form2" method="get">
					<input type="hidden" name="action" value="shop_list" />
                          <select name="select_type" id="select_type">
                            <option value="domainname"><tpl>$shop_admin_shop_list_name_search</tpl><!-- 按网店域名搜索 --></option>
                            <option value="shopname"><tpl>$shop_admin_shop_list_shop_search</tpl><!-- 按网店名称搜索 --></option>
                          </select>
                          <input class="TextBoxAt2" type="text" name="keywords" id="keywords" value="<tpl>$smarty.get.keywords</tpl>" />
                          <input type="submit" name="button" id="button" value="<tpl>$shop_admin_shop_list_submit</tpl>" class="btnInput" /><!-- 提交 -->
                    </form>
                </div>
      <form id="form1" name="form1" method="post" action="admin_shop.php?action=shop_del">
              <input type="submit" value="<tpl>$shop_admin_shop_list_del</tpl>" class="delBtnInput" /><!-- 删除 --></h5>
    <div class="entry-body" id="p-list-div">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
          <tr>
            <th><label>
            <input type="checkbox" name="singlecheck_all" id="all" />
            </label></th>
            <th><tpl> $shop_admin_shop_list_shop_type</tpl></th>
            <th><tpl> $shop_admin_shop_list_shop_name</tpl></th>
            <th><tpl> $shop_admin_shop_list_shop_domain</tpl></th>
            <th><tpl> $shop_admin_shop_list_is_pub</tpl></th>
            <th><tpl> $shop_admin_shop_list_view_order</tpl></th>
            <th><tpl> $shop_admin_shop_list_operate</tpl><!-- 操作 --></th>
          </tr>
		  <tpl> section name=list loop=$shop_array </tpl>
          <tr id="line<tpl> $shop_array[list].userid </tpl>">
            <td><label>
              <input type="checkbox" name="user_id[]" id="checkbox2" value="<tpl> $shop_array[list].userid </tpl>" class="cb" />
            </label></td>
            <td><tpl> $shop_array[list].classname </tpl></td>
            <td><tpl>$shop_array[list].shopname</tpl></td>
            <td><tpl> $shop_array[list].domainname </tpl></td>
			<td><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_<tpl> $shop_array[list].shopstate </tpl>.gif" alt="<tpl>$shop_admin_article_class_list_edit_state</tpl>" /></td>
            <td><tpl>$shop_array[list].sort</tpl></td>
            <td>
            	<a href="admin_shop.php?action=shop_add&user_id=<tpl> $shop_array[list].userid </tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl> $shop_admin_shop_list_edit</tpl>" /><!-- 编辑 --></a>  
                <a href="admin_shop.php?action=shop_del&user_id=<tpl> $shop_array[list].userid </tpl>" onclick="return confirm('您确定删除该子店吗？')"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl> $shop_admin_shop_list_del</tpl>" /><!-- 删除 --></a></td>
          </tr>
		  <tpl> /section </tpl>
        </table>
		<h5 class="h5_down"><div class="pagebar"><tpl> $show_page </tpl></div><input type="submit" value="<tpl> $shop_admin_shop_list_del</tpl>" class="delBtnInput" /><!-- 删除 -->
              </h5>
      </form>
    </div>
	</div>
    <!--  end of entry-body  -->
<tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
