<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$system_header_analysis_manage</tpl> - <tpl>$system_statis_shop_reg</tpl></title><!-- 统计分析 - 注册网店 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>
<body id="goodsList">
  <h4 id="rightcon_h"><b>
    <tpl>$system_header_analysis_manage</tpl>
    <!-- 统计分析 -->
    &gt;&gt;
    <tpl>$system_statis_shop_reg</tpl>
    <!-- 注册网店 -->
  </b></h4>
<div id="rightcon">
		<div class="rc_con">
				<h5><tpl>$system_statis_shop_reg</tpl></h5>
  <div class="entry-body" id="p-list-div">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
      <tr>
        <th class="textLeft"><tpl>$admin_analysis_shop_name</tpl>
          <!-- 店铺名称 --></th>
        <th><tpl>$admin_analysis_shop_class</tpl>
          <!-- 店铺分类 --></th>
        <th><tpl>$admin_analysis_shop_user</tpl>
          <!-- 店主 --></th>
        <th><tpl>$admin_analysis_shop_state</tpl>
          <!-- 店铺状态 --></th>
        <th><tpl>$admin_analysis_shop_reg</tpl>
          <!-- 注册时间 --></th>
		<th><tpl>$admin_analysis_shop_goodscount</tpl>
			<!--商品数量--></th>
		<th><tpl>$admin_analysis_shop_usecount</tpl>
			<!--会中数量--></th>	  
      </tr>
      <tpl> section name=list loop=$shop_array </tpl>
      <tr>
        <td class="textLeft"><tpl>$shop_array[list].shopname</tpl></td>
        <td><tpl>$shop_array[list].classname</tpl></td>
        <td><tpl>$shop_array[list].username</tpl></td>
		<td><tpl>if $shop_array[list].shopstate eq 1</tpl><tpl>$admin_analysis_shop_state_on</tpl><tpl>else</tpl><tpl>$admin_analysis_shop_state_off</tpl><tpl>/if</tpl></td>
        <td><tpl>$shop_array[list].createtime|date_format:"%Y-%m-%d %H:%M:%S"</tpl></td>
		<td><a href="admin_statistics.php?action=goodslist&shop_id=<tpl>$shop_array[list].userid</tpl>"><tpl>$shop_array[list].goods_count</tpl></a></td>
        <td><a href="admin_statistics.php?action=userlist&shop_id=<tpl>$shop_array[list].userid</tpl>"><tpl>$shop_array[list].user_count</tpl></a></td>
      </tr>
      <tpl> /section </tpl>
    </table>
  </div>
  <!--  end of p-list-div  -->
  <h5 class="h5_down"><div class="pagebar">
         	<tpl>$page_list</tpl>
          </div></h5>
  </div>
 <tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div>
<!--  end of content  -->
</body>
</html>
