<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_goods_manage</tpl> - <tpl>$admin_goods_list</tpl></title><!-- 商品管理 - 商品列表 -->
<link href="templates/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* 显示缩略图 */
	<tpl> section name=i loop=$goods_array </tpl>
		$("#imgTd<tpl>$smarty.section.i.rownum</tpl> img.img_icon").mouseover(function(){
			$("#imgTd<tpl>$smarty.section.i.rownum</tpl> img.img_thumb").show();
		});
		$("#imgTd<tpl>$smarty.section.i.rownum</tpl> img.img_icon").mouseout(function(){
			$("#imgTd<tpl>$smarty.section.i.rownum</tpl> img.img_thumb").hide();
		});
	<tpl> /section </tpl>
});
</script>
<script type="text/javascript">
	function changeFun(value){
		document.getElementById("action_type").value = value;
	}
/* 修改产品状态 */
function nc_state_update(goods_id,ajax_type,old_state,id) {
	$.get('admin_goods.php',{'action':'goods_ajax','ajax_type':ajax_type,'old_state':old_state,'goods_id':goods_id,'css_id':id},function(data){
		$("#"+id).html(data);
	});
}
</script>
<script type="text/javascript">
function windowHeight() {
    var de = document.documentElement;
    return self.innerHeight||(de && de.clientHeight)||document.body.clientHeight;
	//获取浏览器高度
}
function windowWidth() {
    var di = document.documentElement;
    return self.innerWidth||(di && di.clientWidth)||document.body.clientWidth;
	//获取浏览器宽度
}
window.onload=window.onresize=function(){
var wh=windowHeight();
var ww=windowWidth();
document.getElementById("rightcon").style.height = (wh-60)+"px";
//右半部rightcon的高度
}
$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>

<body id="goodsList">
<h4 id="rightcon_h"><b><span class="alignRight"><a href="admin_goods.php?action=goods_page&goods_type=virtual_card" target="_self" class="btnInput"><tpl>$system_virtual_card_add</tpl><!-- 添加虚拟卡 --></a></span>
<tpl>$system_header_goods_manage</tpl><!-- 商品管理 --> &gt;&gt; 
		<tpl> $system_virtual_card_list</tpl><!-- 虚拟卡表列 -->
    	
    </b></h4>
<div id="rightcon">
			<div class="rc_con">
				<h5><div class="floatRight">
              <form action="admin_goods.php" method="get">
			  <input type="hidden" name="action" value="list" />
			  <input type="hidden" name="goods_type" value="virtual_card" />
			  <input type="hidden" name="goods_id" value="<tpl> $smarty.get.goods_id </tpl>" />
				  <tpl> $sel_goods_class </tpl><!-- 商品分类 -->
				  <tpl> $goods_subject </tpl>	<!-- 主题分类 -->
                  <tpl> $goods_brand </tpl>		<!-- 品牌分类 -->
				  <tpl> $goods_provider </tpl>	<!-- 供应商分类 -->
                  <input class="TextBoxAt2" type="text" name="search" id="search" value="<tpl> if $smarty.get.search != '' </tpl><tpl>$smarty.get.search</tpl><tpl> /if </tpl>" />
                  <input type="submit" name="button" id="button" value="<tpl>$admin_goods_list_submit</tpl>" class="btnInput" /><!-- 提交 -->
               </form>
              </div>
            <form action="admin_goods.php"  method="post" >
            	<input type="hidden" name="action" id="action_type" />
              <select name="fun" id="fun" class="delBtnInput" onchange="changeFun(this.value)">
                <option value="list"><tpl>$admin_goods_list_select_oper</tpl><!-- 选择操作 --></option>
                <option value="put"><tpl>$admin_goods_list_put</tpl><!-- 发布 --></option>
                <option value="cancel_put"><tpl>$admin_goods_list_cancel_put</tpl><!-- 取消发布 --></option>
                <option value="commend"><tpl>$admin_goods_list_commend</tpl><!-- 推荐 --></option>
                <option value="cancel_commend"><tpl>$admin_goods_list_cancel_commend</tpl><!-- 取消推荐 --></option>
                <option value="special"><tpl>$admin_goods_list_special</tpl><!-- 特价 --></option>
                <option value="cancel_special"><tpl>$admin_goods_list_cancel_special</tpl><!-- 取消特价 --></option>
                <option value="hot"><tpl>$admin_goods_list_hot</tpl><!-- 热卖 --></option>
                <option value="cancel_hot"><tpl>$admin_goods_list_cancel_hot</tpl><!-- 取消热卖 --></option>
				<option value="del"><tpl>$admin_goods_list_del</tpl><!-- 回收站 --></option>
              </select>
              <input type="submit" value="<tpl>$admin_goods_list_enter</tpl>" class="delBtnInput" /><!-- 确定 --></h5>
    <div class="entry-body" id="p-list-div">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
          <tr>
            <th><input type="checkbox" name="all" id="all" /></th>
            <th><span <tpl> if $order_state.ordertype == 'goods_bn' </tpl> class="<tpl> $order_state.order </tpl>"<tpl> /if </tpl>><a href="admin_goods.php?action=list&goods_type=virtual_card&ordertype=goods_bn&order=<tpl> if $order_state.ordertype != '' && $order_state.order=='down' </tpl>up<tpl> else </tpl>down<tpl> /if </tpl>" title="<tpl>$admin_goods_list_goods_bn</tpl><tpl>$admin_goods_list_order</tpl>"><tpl>$admin_goods_list_goods_bn</tpl><!-- 商品编号 --></a></span></th>
            <th><span>
              <tpl>$admin_goods_list_goods_class</tpl>
            <!-- 商品类别 -->
            </span></th>
            <th><span>
              <tpl>$admin_goods_list_goodname</tpl>
            <!-- 商品名称 -->
            </span></th>
            <th><span>
              <tpl>$admin_goods_list_img</tpl>
            <!-- 缩略图 -->
            </span></th>
            <th><span <tpl> if $order_state.ordertype == 'goods_pricedesc' </tpl> class="<tpl> $order_state.order </tpl>"<tpl> /if </tpl>><a href="admin_goods.php?action=list&goods_type=virtual_card&ordertype=goods_pricedesc&order=<tpl> if $order_state.ordertype != '' && $order_state.order=='down' </tpl>up<tpl> else </tpl>down<tpl> /if </tpl>"  title="<tpl>$admin_goods_list_storage</tpl><tpl>$admin_goods_list_order</tpl>"><tpl>$admin_goods_list_pricedesc</tpl><!-- 本店售价 --></a></span></th>
            <th><tpl>$admin_goods_list_put</tpl><!-- 发布 --></th>
            <th><span <tpl> if $order_state.ordertype == 'goods_storage' </tpl> class="<tpl> $order_state.order </tpl>"<tpl> /if </tpl>><a href="admin_goods.php?action=list&goods_type=virtual_card&ordertype=goods_storage&order=<tpl> if $order_state.ordertype != '' && $order_state.order=='down' </tpl>up<tpl> else </tpl>down<tpl> /if </tpl>"  title="<tpl>$admin_goods_list_storage</tpl><tpl>$admin_goods_list_order</tpl>"><tpl>$admin_goods_list_storage</tpl><!-- 库存 --></a></span></th>
            <th><tpl>$admin_goods_list_oper</tpl><!-- 操作 --></th>
          </tr>
         <tpl> section name=i loop=$goods_array </tpl>
          <tr>
            <td><label>
            <input type="checkbox" name="gid[]" id="gid[]" value="<tpl> $goods_array[i].goods_id </tpl>" class="cb" />
            </label></td>
            <td><tpl> $goods_array[i].goods_bn </tpl></td>
            <td><tpl> $goods_array[i].class_name </tpl></td>
            <td><a href="<tpl>$Site_Url</tpl>/system/admin_goods.php?action=goods_page&modify_id=<tpl>$goods_array[i].goods_id</tpl>"><tpl> $goods_array[i].goods_name </tpl></a></td>
            <td id="imgTd<tpl>$smarty.section.i.rownum</tpl>"><tpl> if $goods_array[i].goods_image eq "default.jpg"</tpl><tpl>$admin_goods_list_null</tpl><!-- 无 --><tpl>else</tpl><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_pic.gif" alt="" class="img_icon" />
            <div class="thumbDiv"><img src="<tpl>$Site_Url</tpl>/<tpl> $goods_array[i].goods_small_image </tpl>" class="img_thumb" /></div>
            <tpl>/if</tpl></td>
            <td><tpl> $goods_array[i].goods_pricedesc </tpl></td>
            <td><span id="state_<tpl>$goods_array[i].goods_id</tpl>"><a onclick="nc_state_update('<tpl>$goods_array[i].goods_id</tpl>','goods_state','<tpl> $goods_array[i].goods_state </tpl>','state_<tpl>$goods_array[i].goods_id</tpl>')"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_<tpl>if $goods_array[i].goods_state == 1 </tpl>1<tpl>else</tpl>0<tpl>/if</tpl>.gif" alt="<tpl>$admin_goods_list_click_update</tpl>" /></a></span></td>
            <td><tpl> $goods_array[i].goods_storage </tpl></td>
            <td>
                <a href="<tpl>$Site_Url</tpl>/system/admin_goods.php?action=goods_page&modify_id=<tpl>$goods_array[i].goods_id</tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_goods_list_edit</tpl>" /><!-- 编辑 --></a>
                <a href="<tpl>$Site_Url</tpl>/admin/admin_goods.php?action=del&gid=<tpl>$goods_array[i].goods_id</tpl>"  onclick="return confirm('<tpl>$admin_goods_list_del_conf</tpl>')"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/fb-delete.gif" title="<tpl>$admin_goods_list_del</tpl>" /><!-- 删除 --></a>
					 | <a href="admin_virtual_card.php?action=list&goods_id=<tpl>$goods_array[i].goods_id</tpl>" target="_self"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_view02.gif" title="<tpl>$admin_virtual_card_list_view</tpl>" /><!-- 查看虚拟卡信息 --></a>
					<a href="admin_virtual_card.php?action=add&goods_id=<tpl>$goods_array[i].goods_id</tpl>" target="_self"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_add.gif" title="<tpl>$admin_virtual_card_add_detail</tpl>" /><!-- 补货 --></a>
					<!--<a href="../product.php?id=<tpl>$goods_array[i].goods_id</tpl>" target="_blank"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_output.gif" title="<tpl>$admin_virtual_card_add_cards</tpl>" /></a>--><!-- 批量补货 -->
				</td>
          </tr>
          <tpl> /section </tpl>
        </table>
    
    </div>
	<h5 class="h5_down">
				<div class="pagebar">
                  <tpl>$show_page</tpl>
              	</div>
			  	<select name="fun" id="fun" class="delBtnInput" onchange="changeFun(this.value)">
                <option value="list"><tpl>$admin_goods_list_select_oper</tpl><!-- 选择操作 --></option>
                <option value="put"><tpl>$admin_goods_list_put</tpl><!-- 发布 --></option>
                <option value="cancel_put"><tpl>$admin_goods_list_cancel_put</tpl><!-- 取消发布 --></option>
                <option value="commend"><tpl>$admin_goods_list_commend</tpl><!-- 推荐 --></option>
                <option value="cancel_commend"><tpl>$admin_goods_list_cancel_commend</tpl><!-- 取消推荐 --></option>
                <option value="special"><tpl>$admin_goods_list_special</tpl><!-- 特价 --></option>
                <option value="cancel_special"><tpl>$admin_goods_list_cancel_special</tpl><!-- 取消特价 --></option>
                <option value="hot"><tpl>$admin_goods_list_hot</tpl><!-- 热卖 --></option>
                <option value="cancel_hot"><tpl>$admin_goods_list_cancel_hot</tpl><!-- 取消热卖 --></option>
				<option value="del"><tpl>$admin_goods_list_del</tpl><!-- 回收站 --></option>
              </select>
              <input type="submit" value="<tpl>$admin_goods_list_enter</tpl>" class="delBtnInput" /><!-- 确定 -->
              </h5>
			  </form>
	</div>
    <!--  end of p-list-div  -->
<tpl>include_php file ='footer.php'</tpl><!-- 底部版权信息 -->
</div>
<!--  end of content  -->
</body>
</html>
