.visired-radio{
	vertical-align:-2px;
	_vertical-align:0px;
	}
.password{
	float:left;
	margin-left:10px;
	margin-right:20px;
	width:40px;
	padding-top:6px;
	padding-bottom:6px;
	text-align:center;
	}
.password-1{
	background-color:#e3e3e3;
	}
.y-middle{
	width:760px;
	clear:both;
	float:right;
	padding:6px 5px 6px 5px;
	border:#CEE1F9 1px solid;
	height:auto;
	
	}
/**
Navigation Start
**/
.nav{
	width:760px;
	float:left;
	clear:both;
	height:33px;
	border-bottom:#0E86CD 2px solid;
	_overflow:hidden;
	}
.nav li{
	float:left;
	margin-right:5px;
	display:inline;
	}
.nav li.nav-bg span,.nav li.nav-bg span p,.nav li.nav-bg-1 span,.nav li.nav-bg-1 span p,.buttom-comm input,.buttom-comm,.buttom-comm-se input,.buttom-comm-se,.span-button input,.span-button,.buttom-comm-1,.buttom-comm-1 input.input-a,.buttom-comm-1-se,.buttom-comm-1-se input.input-a,.span-button-se,.span-button-se input,.tousu-xia-left dd a span,.tousu-xia-right dd a span,.depot-table a.fzhi span,.tousu-xia-left dd a,.tousu-xia-right dd a,.depot-table a.fzhi,.sort-list ul.sort-list-1,.depot-1 ul.depot-ul,.handle ul.depot-ul,.consie-table .consie-tr-1,.inx-out a.inx-fzhi,.inx-out a.inx-fzhi p{
	background:url(../images/an-1.gif);
	}
.info-1 span.top-span{
	margin-top:0px;
}
.nav li.nav-bg-1 span{
	background-position:-243px -172px;
	height:27px;
	padding-left:7px;
	display:block;
	float:left;
	}
.nav li.nav-bg{
	position:relative;
	height:33px;
	}
.nav li.nav-bg a{
	color:#ffffff;
	}
.nav li.nav-bg a:hover{
	color:#ff6600;
	text-decoration:underline;
	}
.nav li.nav-bg b{
	background:url(../images/san.gif) 0px 0px no-repeat;
	position:absolute;
	z-index:1000x;
	height:4px;
	display:block;
	width:8px;
	left:50%;
	top:35px;
	}
.nav li.nav-bg span{
	background-position:-243px -848px;
	height:33px;
	padding-left:7px;
	display:block;
	float:left;
	}
.nav li.nav-bg-1{
	margin-top:6px;
	cursor:pointer;
	}
.nav li.nav-left{
	}
.nav li.nav-bg-1 span p{
	background-position:right -144px;
	height:27px;
	display:block;
	padding-right:15px;
	padding-left:10px;
	line-height:29px;
	vertical-align:middle;
	float:left;
	}
.nav li.bianse span p{
	color:#ff6600;
	}
.nav li.nav-bg span p{
	background-position:right -815px;
	height:33px;
	display:block;
	padding-right:15px;
	padding-left:10px;
	line-height:33px;
	vertical-align:middle;
	float:left;
	color:#fff;
	font-weight:bold;
	}
/**
End navigation
**/
/**
GM Style began around table
**/	
.cr-right{
	float:left;
	clear:both;
	width:760px;
	margin-top:2px;
	color:#3E3E3E;

	}
.cr-r-td{
	border-right:1px solid #deebfb;
}
.cr-r-td td{
	border:#deebfb 1px solid;
	padding-top:10px;
	padding-bottom:10px;
	
	}
.cr-r-td td.cr-1list{
	width:15%;
	border:#deebfb 1px solid;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	}
.cr-r-td td.cr-1{
	width:145px;
	text-align:right;
	padding-right:5px;
	background-color:#EDF5FE;
	}
.cr-r-td td.cr-1Title{
	width:15%;
	text-align:center;
	padding-right:5px;
	background-color:#EDF5FE;
	}

.cr-r-td td.cr-11{
	width:124px;
	text-align:right;
	padding-right:5px;
	background-color:#EDF5FE;
	}
.cr-r-td td.cr-11-1{ 
text-align:right; 
width:80px;
*width:0px; 
padding-right:5px;
background-color:#EDF5FE;}
.cr-r-td td.cr-2{
	padding-left:5px;
    color:#000;
	}
.cr-r-td td.cr-3{
	padding-left:5px;
	color:#000;
	width:70px;
	}
.cr-r-td td.cr-4{
	padding-left:5px;
	color:#000;
	width:100px;
	}
.cr-r-td td.cr-5{
	padding-left:5px;
	color:#000;
	width:110px;
	}
.cr-r-td td.cr-2 span.td_attribute_title{
	width:60px;
}
	
.cr-r-td td.cr-2 span.td_attribute_span{
	width:50px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	float:left;
	display:inline;
	text-align:right;
}
.cr-r-td td.cr-2 input.in{
	border:#B5D2F6 1px solid;
	height:17px;
	padding-top:3px;
	width:120px;
	float:left;
	display:block;
	}
.cr-r-td td.cr-2 input.disabled{
	border:#B5D2F6 1px solid;
	height:17px;
	padding-top:3px;
	width:120px;
	}
.cr-r-td td.cr-2 input.in-2{
	border:#B5D2F6 1px solid;
	height:17px;
	padding-top:3px;
	width:240px;
	float:left;
	display:block;
	}
.cr-r-td td select{
	width:150px;
	height:20px;
	}
.cr-r-td td.cr-2 .wd{
	width:120px;
	float:left;
	display:block;
	margin-right:2px;
	}
.cr-r-td td.cr-2 .wd-tb{
	width:120px;
	margin-right:2px;
	margin-top:3px;
	}
.cr-r-td td textarea{
	width:320px;
	height:60px;
	border:#B5D2F6 1px solid;
	}
.cr-r-td td.cr-2 span{
	float:left;
	letter-spacing:0px; 
	}
.cr-r-td td.cr-2 span.gu-kun{
	float:left;
	letter-spacing:0px;
	width:65px;
	display:block;
	}
.cr-r-td td.cr-2 span.zi-lin{
	padding-top:2px;
	*padding-top:4px;
}
.cr-r-td td.cr-2 .cr-4-span{
	padding-top:2px;
	color:#808080;
	}
.cr-r-td td.cr-2 .cr-5-span{
	padding-top:4px;
	color:#808080;
	}
.cr-r-td td.cr-2 .cr-6-span{
	padding-top:4px;
	color:#808080;
	padding-left:5px;
	}
.wrong{
	float:left;
	display:block;
}
.error{
	color:#f60;
	line-height:20px;
	padding-left:2px;
	}
.cr-r-td td.cr-2 a{
	color:#36c;
	text-decoration:none;
	}
.cr-r-td td.cr-2 a:hover{
	color:#f60;
	text-decoration:underline;
	}
input.radio{
	margin-top:0px;
	vertical-align:middle;
	height:24px;
	margin-right:4px;
	*margin-right:2px;
	}
.cr-r-td td.cr-2 .p-span-5{
	padding-top:10px;
	color:#808080;
	}
	
.cr-r-td td.cr-2 div.inputFloatLeft{
	float:left;
}

.cr-r-td td.cr-2 span.spanBlock{
	display:block;
	float:none;
	clear:both;
}

.cr-r-td td.cr-2 .cr-7-span{
	padding-top:4px;
	color:#ff6600;
	padding-left:5px;
	}
label.wrong{
	float:left;
	clear:both;
	padding:2px 5px;
	*padding:3px 5px 1px 5px;
	border:#881400 1px solid;
	background-color:#FB1D04;
	font-size:13px;
	color:#fff;
	margin-top:3px;
	white-space:nowrap;
	line-height:20px;
	}
label.error{
	float:left;
	clear:both;
	padding:2px 5px;
	*padding:3px 5px 1px 5px;
	border:#881400 1px solid;
	background-color:#FB1D04;
	font-size:13px;
	color:#fff;
	margin-top:3px;
	white-space:nowrap;
	}
.cr-r-td td.cr-2  input.gu-ku{
	width:200px;
	}
.cr-r-td td.cr-2 span.cr-5-span,.cr-r-td td.cr-2 span.cr-4-span,.cr-r-td td.cr-2 span.cr-6-span{
	padding-left:5px;
	}
/**
Form around the end of GM Style
**/
/**
Universal button to start the
**/
.an-1{
	clear:both;
	padding-left:170px;
	padding-top:6px;

	}
.an-2{
	float:left;
	clear:both;
	padding-left:250px;
	padding-top:10px;
	}
.an-3{
	float:right;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:3px;
	clear:both;
	}
.an-4{
	clear:both;
	padding-left:300px;
	padding-top:10px;
	}
.bg-an{
    width:590px;
	padding-bottom:6px;
	float:left;
	}
.buttom-comm {
	background-position:-243px -25px;
	background-repeat:no-repeat;
	height:25px;
	padding-left:7px;
	display:block;
	cursor:pointer;
	float:left;
	margin-right:10px;
	overflow:hidden;
	margin-right:10px;
	_margin-right:5px;
	}
.buttom-comm input{
	background-position:right top;
	background-repeat:no-repeat;
	padding-right:10px;
	*padding-right:5px;
	padding-left:3px;
	*padding-left:0px;
	text-align:center;
	padding-top:4px;
	padding-top:7px\9;
	*padding-top:6px;
	_padding-top:6px;
	padding-bottom:4px;
	border:none;
	float:left;
	height:25px;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
	color:#0C66A9;
	}
.buttom-comm-se {
	background-position:-243px -1010px;
	background-repeat:no-repeat;
	height:25px;
	padding-left:7px;
	display:block;
	cursor:pointer;
	float:left;
	overflow:hidden;
	margin-right:10px;
	_margin-right:5px;
	}
.buttom-comm-se input{
	background-position:right -983px;
	background-repeat:no-repeat;
	padding-right:10px;
	*padding-right:5px;
	padding-left:3px;
	*padding-left:0px;
	text-align:center;
	padding-top:4px;
	padding-top:7px\9;
	*padding-top:6px;
	_padding-top:6px;
	padding-bottom:4px;
	border:none;
	float:left;
	height:25px;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
	color:#492705;
	}
.span-button input{
	background-position:right -67px;
	background-repeat:no-repeat;
	display:block;
	border:none;
	cursor:pointer;
	color:#267FD8;
	padding-top:2px;
	*padding-top:4px;
	padding-bottom:3px;
	*padding-bottom:1px;
	padding-left:6px;
	*padding-left:0px;
	padding-right:8px;
	*padding-right:2px;
	font-size:12px;
	float:left;
	}
.span-button {
	background-position:-243px -91px;
	background-repeat:no-repeat;
	cursor:pointer;
	display:block;
	height:22px;
	overflow:hidden;
	padding-left:3px;
	margin-top:1px;
	float:left;
	}
.span-button-se{
	display:block;
	background-position:-243px -939px;
	background-repeat:no-repeat;
	cursor:pointer;
	height:22px;
	padding-left:3px;
	overflow:hidden;
	margin-top:1px;
	float:left;
	
	}
.span-button-se input{
	background-position:right -915px;
	background-repeat:no-repeat;
	display:block;
	border:none;
	cursor:pointer;
	color:#492705;
	padding-top:2px;
	*padding-top:4px;
	padding-bottom:3px;
	*padding-bottom:1px;
	padding-left:6px;
	*padding-left:0px;
	padding-right:8px;
	*padding-right:2px;
	font-size:12px;
	float:left;
	}
/**
Universal button end of the
**/
/**
The right side of the upper part of the style began to
**/
.io-1{
	float:left;
	clear:both;
	width:758px;
	border:#B5D1F6 1px solid;
	height:35px;
	background:#EFF6FE url(../images/search_btn.gif) 10px -46px no-repeat;
	}
.io-1 p{
	 padding-left:40px;
	 padding-top:10px;
	 text-align:left;
	 color:#0E67A9;
	 font-weight:bold;
	 }
.io-1 p a{
	text-decoration:underline;
	font-weight:normal;
	color:#0D66A9;
}
.io-1 p a:hover{
	color:#F60;
}
.io-2{
	float:left;
	clear:both;
	width:758px;
	border:#B5D1F6 1px solid;
	height:35px;
	background:#EFF6FE url(../images/search_btn.gif) 10px -94px no-repeat;
	}
.io-2 p{
	 padding-left:40px;
	 padding-top:10px;
	 }
.io-3{
	float:left;
	clear:both;
	width:758px;
	border:#B5D1F6 1px solid;
	height:35px;
	background:#EFF6FE url(../images/search_btn.gif) 10px -173px no-repeat;
	}
.io-3 p{
	 padding-left:40px;
	 padding-top:12px;
	 color:#0E67A9;
	 font-weight:bold;
	 }
.io-3 p a{
	text-decoration:underline;
	font-weight:normal;
	color:#0D66A9;
}
.io-3 p a:hover{
	color:#F60;
}
.io-3-book{
	float:left;
	clear:both;
	width:758px;
	border:#FFCC00 1px solid;
	height:35px;
	background:#FFFFE5 url(../images/search_btn.gif) 10px -93px no-repeat;
	}
.io-3-book p{
	 padding-left:35px;
	 padding-top:11px;
	 *padding-top:13px;
	 color:#000;
	 }
/**
The end of the right side of the upper style
**/
.bg-sj{
	float:left;
	clear:both;
	background:url(../images/bg-rg.gif) left -20px no-repeat;
	width:100%;
	margin-top:13px;
	height:12px;
	}
.baby-1{
	background:url(../images/header_bg.jpg) left -174px repeat-x;
	height:27px;
	float:left;
	clear:both;
	width:100%;
	}
/** 
 tabular form 1 start
 **/
.z-mai-unite{
	width:760px;
	clear:both;
	float:left;
	}
.z-mai-unite h3{
	color:#FF6600;
	font-weight:bold;
	padding-top:10px;
	padding-left:5px;
	padding-bottom:5px;
	clear:both;
	}
.z-mai-unite h2{
	line-height:25px;
	padding-left:5px;
	}
.unite-table-1{
	width:100%;
	clear:both;
	}
.resume{
	border-collapse:separate;
	*border-collapse:collapse;
	}
.unite-table-b{
	
	}
.bottom-border{
	border-bottom:#D7E7FB 1px solid;
	}
.unite-table-1 .tr-un-conter-3 img,.unite-table-1 .tr-un-conter-3 img{
	width:50px;
	height:50px;
	}
.unite-table-1 td{
	text-align:center;
	word-break:break-all;
	overflow:hidden;
 
	}
.unite-table-1 td a{
	color:#2880D8;
	text-decoration:none;
	}
.unite-table-1 td a:hover{
	color:#ff6600;
	text-decoration:none;
	}
.unite-table-1 .tr-un-bg-1{
	background:url(../images/header_bg.jpg) left -168px repeat-x;
	width:100%;
	height:32px;
	}
.unite-table-1 .tr-un-bg-1 td{
	color:#555555;
	line-height:32px;
	vertical-align:middle;
	
	}
.unite-table-1 .tr-un-bg-2{
	background:url(../images/header_bg.jpg) left -168px repeat-x;
	width:100%;
	height:32px;
	}
.unite-table-1 .tr-un-bg-2 td{
	line-height:32px;
	vertical-align:middle;
	color:#555555;
	}
.unite-table-1 tr.tr-un-space{
	height:2px;
	font-size:0px;
	}
.unite-table-1 tr.tr-un-space-1{
	height:4px;
	font-size:0px;
	}
.unite-table-1 .tr-un-bg-2 td.p-left{
	padding-left:5px;
	}
.unite-table-1 .tr-un-conter-3 td{
	border-bottom:#DEEBFB 1px solid;
	padding-top:5px;
	padding-bottom:5px;
	}
.unite-table-5 .tr-un-conter-2{
}
.unite-table-5 .tr-un-conter-1{
	width:100%;
	}
.unite-table-1 .tr-un-conter-1 td{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:#DEEBFB 1px solid; width:8%
	}
.unite-table-1 .tr-un-conter-1dp td{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:#DEEBFB 1px solid; width:8%;
	}
.unite-table-5 .tr-un-conter-5{
	width:100%;
	}
.unite-table-1 .tr-un-conter-5 td{
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:#DEEBFB 1px solid;
	}
.unite-table-1 .bg-bozhi td{
	
	}
.unite-table-1 .bg-bozhi .s-bg-zhi-1,.unite-table-1 .bg-bozhi .s-bg-zhi-3,.cha{
	background:url(../images/info-img.gif)
	}
.unite-table-1 .bg-bozhi .s-bg-zhi-1{
	float:left;
	padding-left:20px;
	margin-left:5px;
	font-weight:bold;
	background-position:0px -654px;
	background-repeat:no-repeat;
	}
.unite-table-1 .bg-bozhi .s-bg-zhi-3{
	float:left;
	padding-left:20px;
	margin-left:5px;
	font-weight:bold;
	background-position:0px -689px;
	background-repeat:no-repeat;
	}
.unite-table-1 .bg-bozhi .s-bg-zhi-2{
	float:right;
	padding-right:10px;
	}
.unite-table-1 .bg-bozhi .s-bg-zhi-2 strong{
	font-weight:bold;
	color:#ff6600;
	}
.unite-table-1 .tr-td-color td{
	background-color:#EFF6FE;
	border:#DEEBFB 1px solid;
	}
.unite-table-1 span.mi-6-left{
	float:left;
	width:60px;
	display:block;
	padding-left:10px;
	}
.unite-table-1 span.mi-6-right{
	display:block;
	word-break:break-all;
	overflow:hidden;
	vertical-align:middle;
	text-align:left;
	padding-left:5px;
	}
.unite-table-1 span.dt-1{
	float:left;
	background:url(../images/search_btn.gif) left -454px no-repeat;
	height:17px;
	padding-left:15px;
	margin-top:2px;
	margin-left:10px;
	padding-top:2px;
	}
.unite-table-1 span.dt-2{
	float:right;
	margin-top:2px;
	padding-right:10px;
	}
.unite-table-1 span.dt-time{
	color:#535353;
	float:right;
	margin-top:2px;
	padding-right:10px;
	}
.unite-table-1 span.dt-3{
	float:left;
	margin-top:2px;
	padding-left:10px;
	}
.unite-table-1 span.dt-8{
	float:left;
	margin-top:2px;
	padding-left:10px;
	line-height:18px;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-1{
	width:200px; height:32px;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-2{
	width:70px;
	}
.unite-table-1 tr.tr-not td,.pay-table tr.tr-not td{
	line-height:25px;
	}
.unite-table-1 tr.tr-not td{
		text-align:left;
		padding-right:5px;
}

.unite-table-1 tr.tr-not td div.tr_not_div{
	text-align:center;
	height:120px;
	color:#0E67A9;
	font:bold 18px/120px "ËÎÌו", Verdana, Arial;
	overflow:hidden;
/*	background:url(../images/noneContent.gif) center center no-repeat;	text-indent:-9999px;*/
}

.unite-table-1 tr.tr-un-bg-1 .td-bg-3{
	width:100px;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-4{
	width:90px;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-5{
	width:100px;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-6{
	width:8%;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-7{
	width:8%; 
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-8{
	width:80px;
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-9{
	
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-10{
	
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-11{
	
	}
.unite-table-1 tr.tr-un-bg-1 .td-bg-12{
	width:70px;
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-1{
	width:270px;
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-2{
	width:120px;
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-3{
   width:80px;
}
.unite-table-1 tr.tr-un-bg-2 .td-bg-4{
	width:90px;
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-5{
	width:100px;
}
.unite-table-1 tr.tr-un-bg-2 .td-bg-6{
	width:120px;
}
.unite-table-1 tr.tr-un-bg-2 .td-bg-7{
    width:100px;
}
.unite-table-1 tr.tr-un-bg-2 .td-bg-8{
	width:100px;
	
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-9{
	width:180px;
	
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-10{
	width:200px;

	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-11{
	width:200px;
	
	}
.unite-table-1 tr.tr-un-bg-2 .td-bg-12{
	width:70px;

	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-1{
	width:240px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-2{
	width:70px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-3{
	width:80px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-4{
	width:90px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-5{
	width:100px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-6{
	width:120px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-8{
	width:150px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-9{
	width:180px;
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-10{
	
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-11{
	
	}
.unite-table-1 tr.tr-un-conter-3 .td-bg-12{

	}
.unite-table-1 tr.tr-un-conter-4 td{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:#deebfb 1px solid;
	}
.unite-table-x tr.tr-un-conter-4 td{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:#deebfb 1px solid;
	}
.unite-table-1 tr.tr-un-conter-4 td p.editicon{
	background:url(../images/tubiao.gif) no-repeat; background-position: 0px -65px; height:20px; margin-left:10px; text-align:left;
	}
.unite-table-1 tr.tr-un-conter-4 td p.editicon a{
	margin-left:18px;line-height:18px;
	}
.unite-table-1 tr.tr-un-conter-4 td p.editiconTwo{
	background:url(../images/tubiao.gif) no-repeat; background-position: 0px -65px; height:20px; margin-left:20px;text-align:left;
	}
.unite-table-1 tr.tr-un-conter-4 td p.no_editiconTwo{
	background:url(../images/tubiao.gif) no-repeat; background-position: 0px -245px; height:20px; margin-left:20px;text-align:left;
	color:#BDBDBD;
	padding-left:18px;
	line-height:16px;
	}
.unite-table-1 tr.tr-un-conter-4 td p.editiconTwo a{
	margin-left:18px;line-height:18px;
	}
.unite-table-1 tr.tr-un-gray td{
	height:26px;
	line-height:26px;
	background-color:#F7F7F7;
	border-bottom:#eeeeee 1px solid;
	border-top:#eeeeee 1px solid;
	}
.unite-table-1 tr.tr-un-gray td.right-p{
	text-align:right;
	padding-right:10px;
	}

.unite-table-1 td.tr-img{
	padding-top:10px;
	padding-bottom:10px;
}
.unite-table-1 td.tr-imgs{
	padding-top:10px;
	padding-bottom:10px; width:15%;
}
.unite-table-1 td.tr-imgs img{
	width:50px;
	height:50px;
	}
.unite-table-1 td.tr-img img{
	width:50px;
	height:50px;
	}
.unite-table-1	span.depott-span-1{
	width:60px;
	float:left;
	display:inline;
	}

	
.unite-table-1	span.depott-span-3{
	padding-left:5px;
	padding-right:5px;
	width:130px;
	float:left;
	overflow:hidden;
	display:inline;
	}
.unite-table-1	span.depott-span-31{
	padding-left:5px;
	padding-right:5px;
	width:180px;
	float:left;
	overflow:hidden;
	display:inline;
	}
.unite-table-1	span.depott-span-31 p{
	line-height:18px;
	text-align:left;
	}
.unite-table-1	span.depott-span-3 p{
	line-height:18px;
	text-align:left;
	}
.unite-table-1 tr.tr-un-blue td{
	background-color:#EDF5FE;
	height:26px;
	border-left:#DEEBFB 1px solid;
	border-right:#DEEBFB 1px solid;
	border-top:#DEEBFB 1px solid;
	}
.unite-table-1 td.td-blod{
	font-weight:bold; width:8%;border-left:#EEEEEE 1px solid;
	}
.unite-table-1 td.td-state{
	color:#ff6600;
	}
.unite-table-1 td.p-left-rio{

	}
.unite-table-1 td.left-border{
	border-left:#DEEBFB 1px solid; width:22%;
	}
.unite-table-1 td.right-border{
	border-right:#DEEBFB 1px solid; width:10%;
	}
.unite-table-1 td.right-border p.fukuanicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -85px; height:20px; margin-left:10px; text-align:left;	 }
.unite-table-1 td.right-border p.fukuanicon a{ margin-left:18px;line-height:15px;
	}
.unite-table-1 td.right-border p.qrshicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -224px; height:17px; margin-left:10px; text-align:left; 
	}
.unite-table-1 td.right-border p.qrshicon a{ margin-left:18px;line-height:18px;
	}
.unite-table-1 td.right-border p.tousuicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -102px; height:20px; text-align:left;margin-left:10px;
	}
.unite-table-1 td.right-border p.tousuicon a{ margin-left:18px;line-height:18px;text-align:left;
	}



.unite-table-1 td.right-border p.scoreicon { background:url(../images/tubiao.gif) no-repeat top; 
background-position: 0px 0px; height:17px; margin-left:10px;text-align:left; 
	}
.unite-table-1 td.right-border p.scoreicon span{ margin-left:18px;line-height:15px;
	}
.unite-table-1 td.right-border p.scorecicon { background:url(../images/tubiao.gif) no-repeat top; background-position: 0px -180px; height:17px; margin-left:10px;text-align:left; 
	}
.unite-table-1 td.right-border p.scorecicon a{ margin-left:18px;line-height:15px;}

.unite-table-1 td.right-border p.tkxqicon{ background:url(../images/tubiao.gif) no-repeat bottom; background-position: 0px -120px; height:16px; margin-left:10px; 
text-align:left;}
.unite-table-1 td.right-border p.tkxqicon a{ margin-left:18px;line-height:12px;
	}
.unite-table-1 td.right-border p.fahuoicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -31px; height:19px; margin-left:10px;text-align:left; 
	}
.unite-table-1 td.right-border p.fahuoicon a{ margin-left:18px;line-height:18px;
	}
.unite-table-1 td.right-border p.tuikuanicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -16px; height:20px; margin-left:10px; text-align:left;
	}
.unite-table-1 td.right-border p.tuikuanicon a{margin-left:18px;line-height:18px;
	}
.unite-table-1 td.right-border p.closeicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -140px; height:20px; margin-left:10px; text-align:left;
	}
.unite-table-1 td.right-border p.closeicon a{margin-left:18px;line-height:18px;
	}
.unite-table-1 td.right-border p.editpostageicon{ background:url(../images/tubiao.gif) no-repeat; background-position: 0px -158px; height:20px; margin-left:10px; text-align:left;
	}
.unite-table-1 td.right-border p.editpostageicon a{margin-left:18px;line-height:18px;
	}
.unite-table-1 td.left-right-bor{
	border-left:#EEEEEE 1px solid;
	border-right:#EEEEEE 1px solid; width:10%;
	}
.unite-table-1 td.left-right-bor span{
color:#404040; font-weight:bolder;
	}
.unite-table-1 td.left-right-bor p.gray{
color:#808080;
	}
	.unite-table-1 td.left-right-bor p.gray span{
color:#808080; font-weight:normal;
	}
.unite-table-1 .tr-un-conter-3 td.right-border{
	border-right:#DEEBFB 1px solid;
	}
.unite-table-1 .tr-un-conter-2 td{
	border-bottom:#DEEBFB 1px solid;
	line-height:30px;
}
.unite-table-1 .tr-un-conter-22 td{
	border-bottom:#DEEBFB 1px solid;
	line-height:25px; text-align:left; padding-left:20px;
}
.unite-table-1 .tr-un-conter-2 td p.viewicon{ text-align:left; margin-left:10px;
	background:url(../images/tubiao.gif) no-repeat; background-position: 0px -47px; height:20px;
}
.unite-table-1 .tr-un-conter-2 td p.viewicon a{
	margin-left:18px;line-height:18px;text-align:left;
}
.info-1{
	padding:5px 0;
	clear:both;
	line-height:25px;
	color:#545454;
	}
.info-1 b{
    color:#F60;
	}
.info-1 span{ 
    font:14px Verdana, Arial;
	}
.info-1 ul{ margin:15px 20px 15px 15px;
    line-height:18px;
	
	
}
.info-1 ul li{ margin-left:60px;
 
}
.info-1 ul li a{ color:#F60;font-size:12px;
 
}
.info-1 ul li a:hover{ color:#F60; text-decoration:underline;
 
}

.jubaoInfo{ 
     width:700px;
	 height:auto;
	 color:#666;
	 background-color:#e7f2ff;
	 border:#dceafa 1px solid; margin:15px 20px; }
	 
.jubaoInfo ul{ 
     height:auto;
	 background:url(../images/ex.gif) no-repeat left;  }
	
	
.jubaoInfo2{
	width:748px;
	background-color:#e7f2ff;
	border:#dceafa 1px solid;
	padding:10px 0 10px 10px;
	margin:0 auto 10px;
}
.jubaoInfo2 a{
	background-image:none;
}
 
.info-1 img{
	vertical-align:-2px;
	_vertical-align:-1px;
	}
.handle{
	float:left;
	width:760px;
	clear:both;
	}
.handle a{
	color:#2880D8;
	text-decoration:none;
}
.handle a:hover{
	color:#ff6600;
	text-decoration:underline;
}
.handle ul.depot-ul{
	background-position:left -473px;
	background-repeat:repeat-x;
	height:28px;
	}
ul.depot-ul li.p-left-100{
	padding-left:60px;
	padding-top:5px;
	padding-bottom:5px;
}
	
	.handle span.depot-span-2{
	padding-left:5px;
	padding-right:5px;
	width:240px;
	}
.handle ul.depot-ul-li-2{
	margin-top:20px;
	border-bottom:#eee 1px solid;
	}
.handle ul.depot-ul-li-2 li{
	margin-right:5px;
	margin-top:2px;
	}
.handle ul.depot-ul-li-2 li.depot-li-te{
	padding-left:13px;
	}
.handle li{
	float:left;
	color:#2065AA;
	line-height:24px;
	text-align:left;
	}
.n-yang td{
	text-align:left;
	padding-left:5px;
	}	
/** 
 tabular form 1 end
 **/
.baby-1 li{
	float:left;
	color:#545454;
	line-height:27px;
	text-align:center;
	}

.baby-1 li.by-1{
	width:137px;
	}
.baby-1 li.by-2{
	width:100px;
	}
.baby-1 li.by-3{
	width:162px;
	}
.baby-1 li.by-4{
	width:83px;
	}
.baby-1 li.by-5{
	width:84px;
	}
.baby-1 li.by-6{
	width:74px;
	}
.baby-1 li.by-7{
	width:54px;
	}
.baby-1 li.by-8{
	width:53px;
	}

.baby-ct{
	border-top:#DEEBFB 1px solid;
	border-left:#DEEBFB 1px solid;
	float:left;
	clear:both;
	width:759px;
	}
.baby-ct dd{
	float:left;
	border-right:#DEEBFB 1px solid;
	border-bottom:#DEEBFB 1px solid;
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden;
	}
.baby-ct .dd-1{
	width:98px;
	border-bottom:#D7E7FB 1px solid;
	border-top:#B5D2F6 1px solid;
	border-left:#B5D2F6 1px solid;
	border-right:#D7E7FB 1px solid;
	padding:2px 0px;
	*padding:3px 0px 0px;
	height:16px;
	}
.baby-ct .dd-2{
	width:120px;
	padding:2px 0px;
	*padding:3px 0px 0px;
	height:16px;
	border-bottom:#D7E7FB 1px solid;
	border-top:#B5D2F6 1px solid;
	border-left:#B5D2F6 1px solid;
	border-right:#D7E7FB 1px solid;	
	}
.baby-ct .dd-3{
	width:40px;
	padding:2px 0px;
	*padding:3px 0px 0px;
	height:16px;
	border-bottom:#D7E7FB 1px solid;
	border-top:#B5D2F6 1px solid;
	border-left:#B5D2F6 1px solid;
	border-right:#D7E7FB 1px solid;	
	}
.baby-ct dl{
	clear:both;
	}
.baby-ct select{
	width:60px;
	height:20px;
	}
.baby-ct dd p{
	height:25px;
	text-align:center;
	line-height:25px;
	}
.baby-ct dd.by-1{
	width:136px;
	}
.baby-ct dd.by-2{
	width:99px;
	}
.baby-ct dd.by-3{
	width:161px;
	}
.baby-ct dd.by-4{
	width:82px;
	}
.baby-ct dd.by-5{
	width:83px;
	}
.baby-ct dd.by-6{
	width:73px;
	}
.baby-ct dd.by-7{
	width:53px;
	}
.baby-ct dd.by-8{
	width:64px;
	}
.baby-ct dd.by-9{
	width:359px;
	}
.baby-ct dd.by-9 p{
	float:left;
	padding-left:8px;
	}
.baby-ct dd.by-1 p{
	text-align:left;
	padding-left:8px;
	}
.baby-ct dd.by-1 .zilei{
	background:url(../images/f-lei.gif) 8px center no-repeat;
	text-align:left;
	padding-left:28px;
	}
.baby-ct dd.by-5 input,.baby-ct dd.by-7 img,.baby-ct dd.by-8 img{
	margin-top:5px;
	*margin-top:2px;
	}
.cs-1{
	clear:both;
	margin-top:10px;
	width:100%;
	float:left;
	}
.cs-1 li{
	clear:both;
	border-bottom:#DEEBFB 1px solid;
	padding-left:100px;
	padding-top:5px;
	padding-bottom:5px;
	}
.cs-1 li span{
	float:right;
	color:#ff6600;
	}
.pd-1{
	float:left;
	clear:both;
	width:760px;
	margin-top:1px;
	}
.pd-1 ul{
	clear:both;
	width:100%;
	float:left
	}
.pd-1 ul.pd-ct li{
	float:left;
	padding:1px;
	border-top:#DEEBFB 1px solid;
	border-left:#DEEBFB 1px solid;
	}
.pd-1 ul.pd-cm p{
	color:#0C85CC;
	}
.pd-1 ul.pd-ct li.pd-ct-4{
	float:left;
	padding:1px;
	border-top:#DEEBFB 1px solid;
	border-left:#DEEBFB 1px solid;
	border-right:#DEEBFB 1px solid;
	}
.pd-1 ul.pd-ct li p{
	text-align:center;
	line-height:32px;
	background-color:#EDF5FE;
	display:block;
	}
.pd-1  li.pd-ct-1 p{
	width:130px;
	}
.pd-1  li.pd-ct-2 p{
	width:190px;
	}
.pd-1  li.pd-ct-3 p{
	width:150px;
	}
.pd-1  li.pd-ct-4 p{
	width:277px;
	}
.pd-1 ul.pd-cm li{
	float:left;
	padding:1px;
	border-top:#DEEBFB 1px solid;
	border-left:#DEEBFB 1px solid;
	border-bottom:#DEEBFB 1px solid;
	}
.pd-1 ul.pd-cm li.pd-ct-4{
	float:left;
	padding:1px;
	border-top:#DEEBFB 1px solid;
	border-left:#DEEBFB 1px solid;
	border-right:#DEEBFB 1px solid;
	}
.pd-1 ul.pd-cm li p{
	text-align:center;
	line-height:32px;
	display:block;
	}
.pd-ck{
	float:left;
	width:758px;
	border-bottom:#DEEBFB 1px solid;
	border-left:#DEEBFB 1px solid;
	border-right:#DEEBFB 1px solid;
	padding-top:4px;
	padding-bottom:4px;
	}

.pd-ck-left{
	float:left;
	padding-top:5px;
	}
.pd-ck-left li{
	float:left;
	padding-left:5px;
	padding-right:10px;
	color:#0C85CC;
	}
.pd-ck-left li strong{
	color:#0D66A9;
	}
/**
Start page
**/
.pd-ck-right{
	display:inline;
	float:right;
	height:22px;
	margin-left:9px;
	margin-top:5px;
	}
.pd-ck-right .button {
	float:left;
	margin-right:4px;
}
.pd-ck-right .pages {
	float:left;
	line-height:18px;
	margin-right:5px;
	padding-top:4px;
}
.pd-ck-right .current a {
	background-color:#EDF5FE;
	border:1px solid #B5D1F6;
	color:#0C85CC;
	display:block;
	float:left;
	font-family:Tahoma;
	font-size:12px;
	line-height:20px;
	margin-right:4px;
	padding-left:6px;
	padding-right:6px;
}
.pagetab {
	float:left;
	height:18px;
	padding-bottom:2px;
	padding-top:2px;
}
element.style  {
text-decoration:underline;
}
.pagetab li a {
	background-color:#EAEAEA;
	border:1px solid #B5D1F6;
	color:#555555;
	display:block;
	float:left;
	font-family:Tahoma;
	font-size:12px;
	line-height:20px;
	margin-right:4px;
	padding-left:6px;
	padding-right:6px;
}
.pagetab li a:hover{
	background-color:#EDF5FE;
	border:1px solid #B5D1F6;
	color:#0C85CC;
	display:block;
	float:left;
	font-family:Tahoma;
	font-size:12px;
	line-height:20px;
	margin-right:4px;
	padding-left:6px;
	padding-right:6px;
}
.pageform {
	display:block;
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin-top:3px;
}
.pagetab li {
	float:left;
}
.pd-ck-right .button {
	float:left;
	margin-right:4px;
}
.pageform span{
	vertical-align:top;
	padding-top:5px;
	float:left;
	padding-right:3px;
}
/**
End page
**/
.publico{
	float:left;
	clear:both;
	}

.st-1{
	width:760px;
	margin-top:1px;
	clear:both;
	}

.publico  table td{
	border:#DEEBFB 1px solid;
	line-height:32px;
	text-align:center;
	}
.publico  table td.p-180{
	width:180px;
	padding:1px;
	font-weight:bold;
	color:#3e3e3e;
	}
.publico  table td.p-180 p{
	background-color:#EDF5FE;
	text-align:right;
	padding-right:5px;
	}
.sos{
	clear:both;
	float:left;
	width:755px; 

	}
.sos ul{
	clear:both;
	float:left;
	width:100%;
	margin-top:13px;
	}
.sos li{
	float:left;
	}
.sos li.aan-1{
	padding-left:5px;
	margin-top:-2px;
	*margin-top:-1px;
	z-index:1000;
	_position:relative;
	}
.sos li.depot-150{
	width:150px;
	height:20px;
	}
.sos li.depot-search{
	padding-left:30px;
	background:url(../images/search_btn.gif) 10px -179px no-repeat;
	font-weight:bold;
	color:#0E67A9;
	padding-top:5px;
	padding-right:10px;
	padding-bottom:5px;
	}
.buttom-comm-1{
	display:block;
	background-position:-243px -91px;
	background-repeat:no-repeat;
	cursor:pointer;
	height:22px;
	padding-left:3px;
	overflow:hidden;
	}
.buttom-comm-1 input.input-a{
	background-position:right -67px;
	background-repeat:no-repeat;
	display:block;
	border:none;
	cursor:pointer;
	color:#267FD8;
	padding-top:2px;
	padding-top:5px\9;
	*padding-top:4px;
	_padding-top:4px;
	padding-bottom:3px;
	*padding-bottom:1px;
	padding-left:6px;
	*padding-left:0px;
	padding-right:8px;
	*padding-right:2px;
	font-size:12px;
	}
.buttom-comm-1-se{
	display:block;
	background-position:-243px -939px;
	background-repeat:no-repeat;
	cursor:pointer;
	height:22px;
	padding-left:3px;
	overflow:hidden;
	}
.buttom-comm-1-se input.input-a{
	background-position:right -915px;
	background-repeat:no-repeat;
	display:block;
	border:none;
	cursor:pointer;
	color:#492705;
	padding-top:2px;
	padding-top:5px\9;
	*padding-top:4px;
	_padding-top:4px;
	padding-bottom:3px;
	*padding-bottom:1px;
	padding-left:6px;
	*padding-left:0px;
	padding-right:8px;
	*padding-right:2px;
	font-size:12px;
	}
.m-left{
	margin-left:5px;
	margin-right:10px;
	*vertical-align:middle;
}
.sos li.zi-w{
	line-height:22px;
	padding-left:8px;
	padding-right:5px;
	}
.sos li.zi-w-184 select{
	width:184px;
	line-height:22px;
	}
.sos li.zi-w-80 select{
	width:80px;
	line-height:22px;
	}
.input-150{
	width:148px;
	height:12px;
	padding-top:2px;
	padding-bottom:2px;
	border:#7F9DB9 1px solid;
	}
.input-120{
	width:118px;
	height:12px;
	padding-top:2px;
	padding-bottom:2px;
	border:#7F9DB9 1px solid;
	}
#div_postage_ordinary .error,#div_postage_fast .error,#div_postage_ems .error {
		line-height:normal;
	}
.input-100{
	width:98px;
	border:#7F9DB9 1px solid;
	height:12px;
	padding-top:2px;
	padding-bottom:2px;
	}
.input-80{
	width:78px;
	height:12px;
	padding-top:2px;
	padding-bottom:2px;
	border:#7F9DB9 1px solid;
	}
.input-60{
	width:58px;
	height:12px;
	padding-top:2px;
	padding-bottom:2px;
	border:#7F9DB9 1px solid;
	}
.input-40{
	width:40px;
	height:12px;
	padding-top:2px;
	padding-bottom:2px;
	border:#cccccc 1px solid;
	background-color:#ffffcb;
	}
.fct-input-1{
	border:#afafaf 1px solid;
	background-color:#ffffdb;
	}
.bg-wu{
	margin-top:0px;
	}
.s-pe{
	width:760px;
	}
.s-pe ul{
	border-top:#DEEBFB 1px solid;
	}
.s-pe li{
	border-bottom:#DEEBFB 1px solid;
	width:100%;
	clear:both;
	float:left;
	padding:10px 0px;
	}
.s-pe span.s-pe-1,.s-pe span.s-pe-2{
	float:left;
	margin-left:7px;
	}
.s-pe p{
	line-height:23px;
	clear:both;
	}
.s-pe p.s-pe-3p{
	word-spacing:7px;
	}
.s-pe b{
	color:#ff6600;
	}
.s-pe i{
	color:#999999;
	font-style:normal;
	}
.s-pe a{
	color:#2880D8;
	}
.s-pe a:hover{
	color:#ff6600;
	}
.clear{
	width:100%;
	clear:both;
	height:8px;
	font-size:0px;
	}
.clear-10{
	width:100%;
	clear:both;
	height:10px;
	font-size:0px;
	}
.clear-12{
	width:100%;
	clear:both;
	height:12px;
	font-size:0px;
	}
.clear-1{
	width:100%;
	clear:both;
	height:1px;
	font-size:0px;
	}
.bg-book{
	width:760px;
	clear:both;
	float:left;
	margin-top:15px;
	}
.bg-book-table {
	width:756px;
	}
.bg-book-table a{
	color:#0D66A9;
	text-decoration:none;
	}
.bg-book-table a:hover{
	color:#ff6600;
	text-decoration:none;
	}
.bg-book-table a.mr-left{
	margin-left:210px;
	}
.bg-book-table td{
	border:#DEEBFB 1px solid;
	line-height:20px;
	text-align:center;
	}
.bg-book-table td.book-1-td{
	width:378px;
	}
.bg-book-table td.book-2-td{
	width:378px;
	}
.bg-book-table td.book-1-td span{
	background:url(../images/book-t.gif) 5px -16px no-repeat;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	text-align:left;
	width:338px;

	}
.bg-book-table td.book-2-td span{
	background:url(../images/book-t.gif) 5px -130px no-repeat;
	padding-left:50px;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	text-align:left;
	width:328px;
	}
.bg-book-table td.book-3-td{
	padding:1px;
	width:94px;
	}
.bg-book-table td.book-3-td span{
	display:block;
	width:94px;
	height:36px;
	line-height:36px;
	background-color:#EDF5FE;
	}
.bg-book-table td.book-4-td{
	width:141px;
	}
.bg-book-table td.book-5-td{
	width:141px;
	}
.pay-zi{
	width:100%;
	padding:10px 0px;
	clear:both;
	}
.pay-table{
	width:100%;
	}
.pay-table td{
	border:#DEEBFB 1px solid;
	padding-left:10px;
	}
.pay-table td.pay-td{
	width:140px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right:3px;
	text-align:right;	
	}
.pay-table td.p-1{
	background:#EDF5FE url(../images/book-t.gif) 45px -312px no-repeat;
	}
.pay-table td.p-2{
	background:#EDF5FE url(../images/book-t.gif) 45px -528px no-repeat;
	}
.pay-table td.p-3{
	background:#EDF5FE url(../images/book-t.gif) 45px -787px no-repeat;
	}
.pay-table td.p-0{
	background:#EDF5FE;
}
input.in-1{
	border:#B5D2F6 1px solid;
	height:20px;
	width:100px;
	}
input.in-2{
	border:#B5D2F6 1px solid;
	height:20px;
	width:150px;
	}
input.in-3{
	border:#B5D2F6 1px solid;
	height:20px;
	width:200px;
	}
.test-1{
	width:756px;
	border:#DEEBFB 1px solid;
	padding:1px;
	clear:both;
	overflow:hidden;
	}
.test-1 h3{
	height:32px;
	background-color:#EDF5FE;
	display:block;
	clear:both;
	}
.test-1 h3 span{
	float:left;
	
	margin-left:20px;
	margin-top:5px;
	color:#0E67A9;
	overflow:hidden;
	}
.test-1 h3 p{
	padding-left:150px;
	padding-top:5px;
	font-weight:bold;
	color:#3E3E3E;
	}
.test-1 ul{
	clear:both;
	padding-left:180px;
	width:580px;
	height:32px;
	}
.test-1 li{
	float:left;
	padding-top:5px;
	margin-right:20px;
	padding-bottom:5px;
	}
.test-1 li.test-li-1{
	background:url(../images/book-t.gif) 20px -316px no-repeat;
	*background:url(../images/book-t.gif) 25px -313px no-repeat;
	color:#0C66A9;
	word-spacing:20px;
	
	}
.test-1 li.test-li-2{
	background:url(../images/book-t.gif) 20px -530px no-repeat;
	*background:url(../images/book-t.gif) 25px -527px no-repeat;
	color:#0C66A9;
	word-spacing:22px;
	}
.test-1 dd{
	clear:both;
	border-bottom:#DEEBFB 1px solid;
	padding-left:170px;
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:top;
	}
.test-1 dd.test-dd-w{
	border:none;
	}
.test-1 dd span{
	padding-left:4px;
	}
.text-260{
	width:260px;
	height:100px;
	}
.test-1 dd span.top-fz{
	float:left;
	padding:0px;
	padding-right:5px;
	}
.tousu-xia{
	width:760px;
	clear:both;
	}
.tousu-xia-left{
	float:left;
	width:350px;
	padding-left:20px;
	padding-top:10px;
	}
.tousu-xia-right{
	float:right;
	width:370px;
	padding-left:20px;
	padding-top:10px;
	}
.tousu-xia-left dt,.tousu-xia-right dt{
	font-weight:bold;
	color:#FF9900;
	font-size:14px;
	}
.tousu-xia-left dd,.tousu-xia-right dd{
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
	}
.tousu-xia-left dd span,.tousu-xia-right dd span,.depot-table span{
	float:left;
	}
.tousu-xia-left dd a span,.tousu-xia-right dd a span,.depot-table a.fzhi span,.inx-out a.inx-fzhi p,.info-1 a.fzhi span{
	background-position:right -208px;
	background-repeat:no-repeat;
	padding-right:10px;
	height:23px;
	border:none;
    cursor:pointer;
	overflow:hidden;
	line-height:23px;
	cursor:pointer;
	font-weight:bold;
	}
.jubaoInfo2 a.fzhi{
	background:url(../images/an-1.gif) right -232px no-repeat ;
	padding: 4px 0 4px 0;
	*padding: 0px 0 4px 0;
}
.info-1 div.jubaoInfo2 a.fzhi span{
	background:url(../images/an-1.gif) right -208px no-repeat;
	padding:4px 8px 4px 4px;
 	*padding:6px 8px 4px 4px;
	border:none;
	cursor:pointer;
	line-height:23px;
	font: bold 12px  Tahoma, Verdana, Arial;	
	}
.info-1 div.jubaoInfo2 a.fzhi{
	background-position:-243px -232px;
	background-repeat:no-repeat;
	height:24px;
	line-height:24px;
	cursor:pointer;
	margin:0;
	overflow:hidden;
	padding-left:4px;
	float:none;
	text-decoration: none;
}
.tousu-xia-left dd a.fzhi,.tousu-xia-right dd a.fzhi,.depot-table a.fzhi,.inx-out a.inx-fzhi,.info-1 a.fzhi{
	margin-top:-5px;
	}
.tousu-xia-left dd a,.tousu-xia-right dd a,.depot-table a.fzhi,.inx-out a.inx-fzhi,.info-1 a.fzhi {
	background-position:-243px -232px;
	background-repeat:no-repeat;
	height:24px;
	line-height:24px;
	cursor:pointer;
	margin-right:3px;
	overflow:hidden;
	padding-left:4px;
	float:left;
	margin:0 3px;
	text-decoration: none;
	}
	



.xianxi-c{
	clear:both;
	width:745px;
	float:left;
	margin-top:25px;
	padding-left:15px;
	}
.xianxi-c p{
	color:#0D66A9;
	line-height:20px;
	}
.xianxi-c p.seze{
	color:#FF9900;
	}
.rope-conter,.rope-conter-1{
	width:760px;
	clear:both;
	}
.all-1{
	width:760px;
	border:#DEEBFB 1px solid;
	}
.all-1 td{
	border-bottom:#DEEBFB 1px solid;
	line-height:36px;
	color:#3E3E3E;
	vertical-align:top;
	}
.all-1 td.all-td-1{
	width:142px;
	background-color:#EDF5FE;
	text-align:right;
	padding-right:8px;
	}
.all-1 td.b-wu{
	border-bottom:none;
	}
.sele-1{
	width:130px;
	margin-right:5px;
	height:18px;
	}
.sele-2{
	width:80px;
	margin-right:5px;
	height:18px;
	}
.sele-3{
	width:50px;
	margin-right:5px;
	height:18px;
	}
.it6{
	_margin-top:3px;
	}
.all-1 td.all-td-2 span{
	padding-top:8px;
	float:left;
	padding-left:10px;
	}
.checbox{
	margin-right:2px;
	}
.sort{
	width:758px;
	border:#DEEBFB 1px solid;
	clear:both;
	float:left;
	margin-top:1px;
	}
.sort-pivotal{
	width:758px;
	border-left:#DEEBFB 1px solid;
	border-right:#DEEBFB 1px solid;
	border-top:#DEEBFB 1px solid;
	clear:both;
	float:left;
	margin-top:1px;
	}
.sort h3{
	background-color:#EDF5FE;
	line-height:26px;
	padding-left:10px;
	font-weight:bold;
	color:#535353;
	}
.sort ul{
	float:left;
	clear:both;
	}
.sort li{
	float:left;
	width:140px;
	overflow:hidden;
	word-break:break-all;
	line-height:30px;
	padding-left:10px;
	}
.sort li a{
	color:#545454;
	}
.sort-pivotal-table{
	width:100%;
	}
.sort-pivotal-table td{
	color:#3E3E3E;
	}
.sort-pivotal td.sort-td-1{
	background-color:#EDF5FE;
	width:75px;
	height:36px;
	border-right:#DEEBFB 1px solid;
	border-bottom:#DEEBFB 1px solid;
	text-align:right;
	padding-right:5px;
	}
.sort-pivotal td.sort-td-4{
	background-color:#EDF5FE;
	width:60px;
	height:36px;
	border-right:#DEEBFB 1px solid;
	border-bottom:#DEEBFB 1px solid;
	text-align:right;
	padding-right:5px;
	}
.sort-pivotal td.sort-td-2{
	border-right:#DEEBFB 1px solid;
	border-bottom:#DEEBFB 1px solid;
	text-align:left;
	padding-left:5px;
	}
.sort-pivotal td.sort-td-3{
	border-bottom:#DEEBFB 1px solid;
	padding-left:5px;
	text-align:left;
	}
.sort-list{
	float:left;
	clear:both;
	width:760px;
	}
.sort-list ul.sort-list-1{
	background-position:0px -327px;
	background-repeat:repeat-x;
	height:27px;
	border-top:#DEEBFB 1px solid;
	margin-top:3px;
	}
.sort-list ul.sort-list-2{
	background-color:#EDF5FE;
	float:left;
	border:#DEEBFB 1px solid;
	width:758px;
	margin-top:-1px;
	}
.sort-list li{
	float:left;
	line-height:27px;
	overflow:hidden;
	word-break:break-all;
	}
.sort-list li.sort-li-1{
	width:88px;
	padding-left:10px;
	}
.sort-list li.sort-li-2{
	width:316px;
	}
.sort-list li.sort-li-3{
	width:100px;
	}
.sort-list li.sort-li-4{
	width:70px;
	}
.sort-list li.sort-li-5{
	width:90px;
	}
.sort-list li.sort-li-6{
	width:84px;
	}
.sort-anniu{
	clear:both;
	width:100%;
	text-align:center;
	}

.info-conter{
	clear:both;
	}
.info-conter-1{
	background-position:left -472px;
	background-repeat:repeat-x;
	height:26px;
	line-height:26px;
	width:758px;
	border:#D7E7FB 1px solid;
	}
.info-conter-1 li{
	float:left;
	color:#545454;
	}
.info-conter-1 li.info-li-1{
	width:342px;
	padding-left:100px;
	}
.info-conter-1 li.info-li-2{
	width:165px;
	}
.info-conter-2{
	background-position:left -602px;
	background-repeat:repeat-x;
	width:760px;
	padding-top:10px;
	margin-top:1px;
	}
.info-conter-2 h3{
	background:url(../images/book-t.gif);
	padding-left:30px;
	font-weight:bold;
	line-height:20px;
	}
.info-conter-2 h3.h3-1{
	background-position:5px -941px;
	background-repeat:no-repeat;
	}
.info-conter-2 h3.h3-2{
	background-position:5px -1049px;
	background-repeat:no-repeat;
	}
.info-conter-2 h3.h3-3{
	background-position:5px -1153px;
	background-repeat:no-repeat;
	}
.info-conter-2 h3.h3-4{
	background-position:5px -1266px;
	background-repeat:no-repeat;
	}
.info-conter-2 dl{
	clear:both;
	}
.info-conter-2 dt{
	color:#333333;
	float:left;
	padding-left:15px;
	padding-top:15px;
	border-bottom:#EAEAEA 1px solid;
	width:745px;
	padding-bottom:2px;
	}
.info-conter-2 dd{
	clear:both;
	float:left;
	width:100%;
	padding:0px;
	overflow:hidden;
	border-bottom:#EAEAEA 1px solid;
	}
.info-conter-2 dd li{
	float:left;
	padding:7px 0px;
	padding-bottom:1000px;
	margin-bottom:-1000px; 
	}
.info-conter-2 dd li.info-dd-li-1{
	width:429px;
	padding-left:10px;
	color:#0D66A9;
	border-right:#DDDDDD 1px solid;
	}
.info-conter-2 dd li.info-dd-li-2{
	width:154px;
	border-right:#DDDDDD 1px solid;
	padding-left:5px;
	}
.info-conter-2 dd li.info-dd-li-3{
	width:155px;
	padding-left:5px;
	}
.page{
	float:left;
	clear:both;
	margin-top:10px;
	width:100%;
	height:34px;
	border-bottom:#eeeeee 1px solid;
	border-top:#eeeeee 1px solid;
	background-color:#F7F7F7;
	}
.st-1 .font-xijie{
	vertical-align:2px;
	_vertical-align:0px;
	color:#000;
	}
.consie{
	width:760px;
	clear:both;
	}
.consie h3{
	color:#FF6600;
	font-weight:bold;
	padding-top:10px;
	padding-left:5px;
	padding-bottom:10px;
	clear:both;
	}
.consie-table{
	width:100%;
	border:#D7E7FB 1px solid;
	}
.consie-table td{
	border-bottom:#D7E7FB 1px solid;
	line-height:27px;
	}
.consie-table .consie-tr-1{
	background-position:left -473px;
	background-repeat:repeat-x;
	height:27px;
	}
.consie-table .consie-se{
	color:#0D66A9;
	}
.consie-table td.consie-td-1{
	width:80px;
	text-align:left;
	}
.consie-table td.left-pd{
	padding-left:10px;
	}
.consie h2{
	padding:5px;
	}
.consie-table td.consie-td-2{
	width:137px;
	text-align:left;
	}
.consie-table td.consie-td-3{
	
	}
.consie-table td.consie-td-4{
	width:75px;
	text-align:left;
	}
.consie-table td.consie-td-5{
	width:100px;
	text-align:left;
	}
.consie-table td.consie-td-6{
	width:90px;
	text-align:left;
	}
.cr-right h3{
	color:#FF6600;
	font-weight:bold;
	padding-top:10px;
	padding-left:5px;
	padding-bottom:10px;
	clear:both;
	}
#layout_foot{
	border-top:#DDDDDD 1px solid;
	width:100%;
	margin-top:5px;
	padding-top:15px;
	padding-bottom:10px;
	text-align:center;
	}
#footerlist{
	margin:0 auto;
	clear:both;
	width:370px;
	height:25px;
	}
#footerlist li{
	float:left;
	padding-right:15px;
	padding-left:10px;
	}
#footerlist li a{
	color:#666;
	text-decoration:none;
	}
#footerlist li a:hover{
	color:#ff6600;
	text-decoration:none;
	}
.copyright{
	clear:both;
	width:100%;
	text-align:center;
	line-height:23px;
	}
.inx-1,.inx-2{
	clear:both;
	width:760px;
	overflow:hidden;
	}
.inx-1-left{
	float:left;
	width:376px;
	border:#D7E7FB 1px solid;
	}
.inx-1-left h3{
	background:url(../images/ini-bg.gif) repeat-x;
	height:28px;
	width:376px;
	border-bottom:#D7E7FB 1px solid;
	}
.inx-1-left h3 p{
	font-weight:bold;
	color:#535353;
	padding-left:19px;
	padding-top:9px;
	}
.inx-1-left ul{
	padding-top:10px;
	padding-bottom:14px;
	}
.inx-1-left li{
	line-height:20px;
	padding:3px 15px;
	}
.inx-1-left li b{
	font-weight:bold;
	color:#FF0000;
	}
.inx-2-left{
	float:right;
	width:376px;
	border:#D7E7FB 1px solid;
	}
.inx-2-left h3{
	background:url(../images/ini-bg.gif) repeat-x;
	height:28px;
	width:376px;
	border-bottom:#D7E7FB 1px solid;
	}
.inx-2-left h3 p{
	font-weight:bold;
	color:#535353;
	padding-left:19px;
	padding-top:9px;
	}
.inx-2-left ul{
	padding-top:10px;
	padding-bottom:14px;
	}
.inx-2-left li{
	padding:3px 15px;
	line-height:20px;
	}
.inx-2-left li b{
	font-weight:bold;
	color:#FF0000;
	}
.clear-5{
	clear:both;
	height:5px;
	font-size:0px;
	width:100%;
	}
.clear-9{
	clear:both;
	height:9px;
	font-size:0px;
	width:100%;
	}
.inx-out{
	border-bottom:#D7E7FB 1px solid;
	border-top:#D7E7FB 1px solid;
	width:760px;
	background:#f5f5f5 url(../images/index-tbg.gif) left top repeat-x;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
	}
.inx-out li{
	clear:both;
	padding-left:10px;
	padding:7px 10px 7px;
	*padding:5px 10px 5px;
	}
.inx-out a{
	color:#ff6600;
	text-decoration:none;
	}
.inx-out a:hover{
	color:#ff6600;
	text-decoration:underline;
	}
.inx-out span{
	float:left;
	padding-right:5px;
	color:#525252;
	}
.inx-out .fhz{
	color:#ff0000;
	}
.inx-out span.x-dengji{
	margin-top:-3px;
	}
#time-xl{
	text-align:center;
	font-family: "DejaVu Sans", "Lucida Grande", Tahoma, "Hiragino Sans GB", STHeiti, SimSun, sans-serif; color: #444;
	font-size:10px;
	font-weight:normal;
	}
.inx-out{
	border-bottom:#D7E7FB 1px solid;
	border-top:#D7E7FB 1px solid;
	width:760px;
	background:#f5f5f5 url(../images/index-tbg.gif) left top repeat-x;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
	}
.inx-out li{
	clear:both;
	padding-left:10px;
	padding:7px 10px 7px;
	*padding:5px 10px 5px;
	}
.inx-out a{
	color:#ff6600;
	text-decoration:none;
	}
.inx-out a:hover{
	color:#ff6600;
	text-decoration:underline;
	}
.inx-out span{
	float:left;
	padding-right:5px;
	color:#525252;
	}
.inx-out .fhz{
	color:#ff0000;
	}
.inx-out span.x-dengji{
	margin-top:-3px;
	}
/**
index
**/
.inx-info{
	width:760px;
	float:left;
	clear:both;
	background:url(../images/info-x-1.jpg) left top repeat-x;
	border-bottom:#D7E7FB 1px solid;
	padding-top:9px;
	color:#404040;
	font-family:12px/1.5 Tahoma,Helvetica,Arial,'ËÎÌו',sans-serif;
	padding-bottom:8px;
	}
.inx-info-left{
	float:left;
	width:80px;
	padding-left:14px;
	padding-right:19px;
	overflow:hidden;
	}
.inx-info-right{
	float:left;
	zoom:1;
	}
.inx-info-right-1 strong{
	font-size:18px;
	line-height:18px;
	font-family: "Microsoft Yahei","Arial",sans-serif;
	font-weight:normal;
	}
.inx-info-right-1 span{
	padding-left:12px;
	}
.inx-info-right-2{
	margin-top:10px;
	}
.inx-info-right-2 a{
	color:#3366CC;
	}
.inx-info-right-2 a:hover{
	color:#ff6600;
	}
.inx-info-right-2 .red-img{
	vertical-align:top;
	}
.inx-info-right-3{
	margin-top:4px;

	}
.inx-info-right-3 strong{
	font-weight:normal;
	color:#ff0000;
	margin-right:10px;
	}
.inx-info-right-3 a{
	color:#3366CC;
	text-decoration:underline;
	margin-right:5px;
	}
.inx-info-right-3 a:hover{
	color:#ff6600;
	text-decoration:underline;
	margin-right:5px;
	}
.inx-info-right-34{
	width:638px;
	border:#C4D6DA 1px solid;
	padding:1px;
	background-color:#ffffff;
	float:left;
	margin-top:10px;
	}
.inx-sort{
	background:url(../images/inx-sort-1.jpg) left top repeat-x;
	float:left;
	width:100%;
	padding-top:0px;
	padding-bottom:5px;
	}
.inx-sort-1,.inx-sort-2{
	zoom:1;
	clear:both;
	width:630px;
	margin-left:5px;
	border-bottom:#E1E2E7 1px solid;
	margin-top:2px;
	float:left;
	_margin-left:3px;
	}
.inx-sort-3{
	zoom:1;
	clear:both;
	width:630px;
	margin-left:5px;
	margin-top:2px;
	float:left;
	}
.inx-sort-3 li{
	clear:both;
	line-height:22px;
	margin-top:3px;
	}
.inx-sort-3 strong{
	font-weight:normal;
	color:#ff0000;
	}
.inx-sort-3 a{
	color:#ff6600;
	text-decoration:none;
	padding-left:3px;
	}
.inx-sort-3 a:hover{
	color:#ff6600;
	text-decoration:underline;
	padding-left:10px;
	}
.inx-sort-1 strong,.inx-sort-2 strong{
	float:left;
	width:68px;
	font-weight:bold;
	line-height:28px;
	clear:left;
	}
.inx-sort-1 ul,.inx-sort-2 ul{
	float:left;
	width:560px;
	}
.inx-sort-1 ul li,.inx-sort-2 ul li{
	float:left;
	background:url(../images/info-img.gif) no-repeat;
	padding-left:20px;
	color:#999999;
	white-space:nowrap;
	min-width:80px;
	_widht:80px;
	margin-top:6px;
	*margin-top:5px;
	margin-right:5px;
	}
.inx-sort-1 ul li a,.inx-sort-2 ul li a{
	color:#ff0000;
	text-decoration:none;
	}
.inx-sort-1 ul li a:hover,.inx-sort-2 ul li a:hover{
	color:#ff6600;
	text-decoration:none;
	}
.inx-sort-1 ul li.s-li-1{
	background-position:0px -61px;
	}
.inx-sort-1 ul li.s-li-1-1{
	background-position:0px -23px;
	}
.inx-sort-1 ul li.s-li-2{
	background-position:0px -140px;
	}
.inx-sort-1 ul li.s-li-2-1{
	background-position:0px -102px;
	}
.inx-sort-1 ul li.s-li-3{
	background-position:0px -217px;
	}
.inx-sort-1 ul li.s-li-3-1{
	background-position:0px -178px;
	}
.inx-sort-1 ul li.s-li-4{
	background-position:0px -298px;
	}
.inx-sort-1 ul li.s-li-4-1{
	background-position:0px -257px;
	}
.inx-sort-1 ul li.s-li-5{
	background-position:0px -619px;
	}
.inx-sort-1 ul li.s-li-5-1{
	background-position:0px -580px;
	}
.inx-sort-2 ul li.s-li-1{
	background-position:0px -379px;
	}
.inx-sort-2 ul li.s-li-1-1{
	background-position:0px -340px;
	}
.inx-sort-2 ul li.s-li-2{
	background-position:0px -463px;
	}
.inx-sort-2 ul li.s-li-2-1{
	background-position:0px -423px;
	}
.inx-sort-2 ul li.s-li-3{
	background-position:0px -217px;
	}
.inx-sort-2 ul li.s-li-3-1{
	background-position:0px -178px;
	}
.inx-sort-2 ul li.s-li-4{
	background-position:0px -539px;
	}
.inx-sort-2 ul li.s-li-4-1{
	background-position:0px -502px;
	}
#div_fixprice td{
	border-bottom:none;
	border-top:none;
	}
#div_auction td{
	border-bottom:none;

	}
.wubian td{
	border-top:none;
	}
.sign-2{
	background:url(../images/icon-img.gif) no-repeat scroll -1px -80px transparent;
	height:16px;
	width:16px;
	margin:0 auto;
	}
#area_location .cha{
	background-position:0px -766px;
	background-repeat:no-repeat;
	width:14px;
	height:14px;
	display:block;
	}
.sign-1 {
	background:url(../images/icon-img.gif) no-repeat scroll -1px -40px transparent;
	height:16px;
	width:16px;
}
#placePath{
	padding-top:10px;
}
#placePath a{
	color:#103F86;
	text-decoration:underline;
}
#placePath a:hover{
	color:#ff6600;
	text-decoration:underline;
}
.box_style{
	margin:auto;
	width:350px;  
	text-align:center
}
.jixuf{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:170px;
	clear:both;
	border-top:#DEEBFB 1px solid;
	border-bottom:#DEEBFB 1px solid;
	background-color:#EDF5FE;
}
.jixuf-c{
	width:380px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	height:100px;
	margin-top:47px;
}
.jixuf-c li{
	margin-right:10px;
	padding:10px 0px;
	float:left;
}
.jixuf-c li.fa-1 a,.jixuf-c li.fa-1 a:hover,.jixuf-c li.liu-1 a,.jixuf-c li.liu-1 a:hover,.unite-table-1 p.fa-ba a,.unite-table-1 p.fa-ba a:hover{
	background:url(../images/fa-bu.jpg) no-repeat;
}
.jixuf-c li.ban-1 a,.jixuf-c li.ban-1 a:hover,.jixuf-c li.tie-1 a,.jixuf-c li.tie-1 a:hover{
	background:url(../images/fa-bu2.jpg) no-repeat;
}
.jixuf-c li.fa-1 a{
	background-position:0px -8px;
	width:216px;
	height:50px;
	display:block;
}
.jixuf-c li.fa-1 a:hover{
	background-position:0px -96px;
	width:216px;
	height:50px;
	display:block;
}
.jixuf-c li.liu-1 a{
	background-position:0px -186px;
	width:122px;
	height:50px;
	display:block;
}
.jixuf-c li.liu-1 a:hover{
	background-position:0px -270px;
	width:122px;
	height:50px;
	display:block;
}
.jixuf-c li.ban-1 a{
	background-position:0px -8px;
	width:122px;
	height:50px;
	display:block;
}
.jixuf-c li.ban-1 a:hover{
	background-position:0px -96px;
	width:122px;
	height:50px;
	display:block;
}
.jixuf-c li.tie-1 a{
	background-position:0px -186px;
	width:122px;
	height:50px;
	display:block;
}
.jixuf-c li.tie-1 a:hover{
	background-position:0px -270px;
	width:122px;
	height:50px;
	display:block;
}
.up-img li{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.up-img li p{
		text-align:center;
		padding-top:5px;
}
.unite-table-1 p.fa-ba{
	display:block;
	width:60px;
	height:20px;
	margin-top:5px;
	margin-left:10px;
	*margin-left:0px;
}
.unite-table-1 p.fa-ba a{
	background-position:0px -355px;
	display:block;
	width:60px;
	height:20px;
	line-height:19px;
	*line-height:22px;
	text-align:center;
	color:#fff;
}
.unite-table-1 p.fa-ba a:hover{
	color:#ff6600;
	text-decoration:underline;
	background-position:0px -355px;
	display:block;
	width:60px;
	height:20px;
	line-height:19px;
	*line-height:22px;
	text-align:center;
}
.radio-pal{
	float:left;
	width:440px;
	height:80px;
	overflow-y:scroll;
	overflow-x:hidden;
	margin-left:26px;
	_margin-left:13px;
	background-color:#F4FAFF;
}
.radio-pal li{
	float:left;
	margin-right:2px;
	margin-left:5px;
}
.radio-pal h3{
	width:430px;
	line-height:14px;
	border-bottom:#fff 1px solid;
	border-top:#DEEBFB 1px solid;
	background-color:#EDF5FE;
	text-align:left;
	padding-left:10px;
	display:block;
}
#postageName{
	padding-left:0px;
	_padding-left:3px;
	padding-top:5px; 
	padding-right:3px;
}
#postage_sel_div{
	padding-left:18px;
	_padding-left:21px;
	padding-top:7px;
}
#fileQueue{
	margin-bottom:5px;
}
.box-2{
	 display: table-cell;      
     vertical-align:middle;      
     width:112px;      
     height:90px;      
     text-align:center;      
     *font-size: 75px;         
     border: 1px solid #ccc;      
}
.box-2 img{
	  vertical-align:middle;     
     width:105px;      
     height:50px;      
     text-align:center;      
       
}
.up-img p a.a-1{
	background:url(../images/bg-fabu.jpg) repeat-x;
	border:#BEBEBE 1px solid;
	display:inline;
	float:left;
	width:70px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
}
.up-img p a.a-2{
	background:url(../images/bg-fabu.jpg) repeat-x;
	border:#BEBEBE 1px solid;
	display:inline;
	float:left;
	width:35px;
	height:20px;
	margin-left:2px;
	_margin-left:2px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
}
.cr-r-td a.a-3{
	background:url(../images/bg-fabu.jpg) repeat-x;
	border:#BEBEBE 1px solid;
	display:block;
	width:90px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
}
.cr-r-td  a.a-3:link{
	color:#404040;
}
.cr-r-td  a.a-3:visited{
	color:#404040;
}
.cr-r-td  a.a-3:hover{
	color:#ff6600;
	text-decoration:underline;
}
#uploadifyUploader{
	height:24px;
	margin-top:5px;
}
.qi-z{
	background:#DFEDFD url(../images/j-qie.jpg) repeat-x;
	height:680px;
	border:#CEE1F9 1px solid;
}
.qi-z h2{
	line-height:30px;
	height:38px;
	background:url(../images/j-q.jpg) repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#3F73AD;
	float:left;
	clear:both;
	width:100%;
	position:relative;
}
.qi-z-1{
	background:#DFEDFD url(../images/j-qie.jpg) repeat-x;
	height:600px;
	border:#CEE1F9 1px solid;
}
.qi-z-1 h2{
	line-height:30px;
	height:38px;
	background:url(../images/j-q.jpg) repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#3F73AD;
	float:left;
	clear:both;
	width:100%;
	position:relative;
}
.t-s{
	border:1px #CEE1F9 solid; 
	float:left;
	position:relative;
	overflow:hidden;
	width:100px;
	height:100px;
	left:10px;
	line-height:18px;
}
.t-ss{
	border:1px #CEE1F9 solid; 
	float:left;
	position:relative;
	overflow:hidden;
	width:90px;
	height:90px; 
	left:10px;
	top:10px;
	line-height:20px;
	background-color:#fff;
	text-align:left;
	padding:5px;
}
.t-s-1{
	border:1px #CEE1F9 solid; 
	float:left;
	position:relative;
	overflow:hidden;
	width:520px;
	height:62px;
	left:84px;
	top:10px;
	line-height:18px;
	clear:both;
}
.t-ss-1{
	border:1px #CEE1F9 solid; 
	float:left;
	position:relative;
	overflow:hidden;
	width:510px;
	height:20px; 
	left:84px;
	top:20px;
	line-height:20px;
	background-color:#fff;
	text-align:left;
	padding:5px;
	clear:both;
}
.qi-z h2 span{
	width:14px;
	height:15px;
	display:block;
	position:absolute;
	z-index:1000;
	right:5px;
	top:7px;
	cursor:pointer;
}
.qi-z-1 h2 span{
	width:14px;
	height:15px;
	display:block;
	position:absolute;
	z-index:1000;
	right:5px;
	top:7px;
	cursor:pointer;
}
.fo-di{
	clear:both;
	text-align:center;
	margin-top:5px;
	float:left;
}
.img-dv{
	float:left;
	width:520px;
	border:#CEE1F9 1px solid;
	margin-left:10px;
	_margin-left:5px;
	text-align:center;
	height:390px;
	background-color:#FCFCFC;
	
}
.img-dv img{
	width:500px;
	height:370px;
	margin-top:10px;
}
.img-dv-1{
	float:left;
	width:520px;
	border:#CEE1F9 1px solid;
	margin-left:84px;
	_margin-left:42px;
	text-align:center;
	height:390px;
	background-color:#FCFCFC;
	
}
.img-dv-1 img{
	width:500px;
	height:370px;
	margin-top:10px;
}
#logo_li{
	margin:0px;
	padding:0px;
}
#logo_li img{
	border:#DEEBFB 1px solid;
}
.cr-2 li.mr-top{
	padding-left:8px;
	*padding-left:24px;
	padding-top:10px;
}

.cr-r-td td.c1_classtd, .cr-r-td td.c2_classtd, .cr-r-td td.c3_classtd { padding:0; vertical-align:top;}
.cr-r-td td.c1_classtd { background:none; width:150px;}
.cr-r-td td div.active_n { background-color:#EFF6FE; font-weight:bold; color:#116AAC;}
.cr-r-td td div.c1_class, .cr-r-td td div.c2_class, .cr-r-td td div.c3_class { padding:9px 5px 9px 5px; height:15px; margin:1px;}
.cr-r-td td div.c1_class { width:138px; }
.cr-r-td td.c2_classtd div.c2_class { width:293px; }
.cr-r-td td.c3_classtd div.c2_class { width:289px; }



.timeSelectStyle{clear:both;}
.timeSelectStyle span{ width:70px;}
.reporttitle{background:url(../images/tousuIcon.gif) no-repeat;font-size:12px; height:17px;}
.reporttitle span{ padding-left:25px; font-size:14px; font-weight:bolder; line-height:25px;}


#reportInfo{width:700px; margin-left:15px; }
#reportInfo h2{ background: url(../images/tousuIcon.gif) no-repeat;font-size:12px; height:17px; }
#reportInfo h2 span{ padding-left:25px; font-size:14px; font-weight:bolder;  }
#reportInfo ul{ width:700px;height:auto;display:block;margin-left:5px;}
#reportInfo ul li{ width:200px; height:150px; background-color:#f5f5f5;display:block; float:left;margin:10px 15px; border:#e7e7e7 1px solid; }
#reportInfo ul li dl{width:180px; height:auto; margin:5px 10px; display:block;float:left; }
#reportInfo ul li dt{ color:#3366cc; font-weight:600; margin-top:5px; float:left;}
#reportInfo ul li dd { width:180px; height:50px;color:#999;margin-top:5px;float:left; line-height:18px; }
#reportInfo ul li dt span a{color:#F90; font-weight:200;}
#reportInfo .report_content{ height:110px; float:left;   }
#reportInfo .report_button {  float:right; margin-right:10px; }
#reportInfo .report_button a{ background:url(../images/report_button.gif) no-repeat left 0%; width:76px; height:23px;display:block; float:right; }
#reportInfo .report_button a:hover{ background:url(../images/report_button.gif) no-repeat 100%; width:76px; height:23px;display:block; float:right; }

.tr_not_div{
	text-align:center;
	height:120px;
	color:#0E67A9;
	font:bold 18px/120px "ËÎÌו", Verdana, Arial;
	overflow:hidden;
/*	background:url(../images/noneContent.gif) center center no-repeat;	text-indent:-9999px;*/
}





