@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "宋体", Verdana, Arial;
	font-size:12px;
	color: #333333;
}
a,a:link,a:visited,a:active {
	hide-focus: expression(this.hideFocus=true);
	outline: none;
	color: #4d4d4d;
	text-decoration: none;
}
a:hover  {
	text-decoration: underline;
	color: #ff6600;



}
img { border: 0px; }
li {
    hide-focus: expression(this.hideFocus=true);
	outline: none;
	list-style-type: none;
	text-align: left;
	line-height:23px;
}
form {
	margin: 0px;
}
input { padding:2px;}
textarea {
	font-size: 12px;
}

input.inputbg{
	background-image: url(../images/w_top_bg.gif);
	background-repeat: no-repeat;
	background-position: left -62px;
	background-color: #FFF;
	border: 1px solid #CCC;
}
button{ cursor:pointer;}
.clear {
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 0px;
	width: 0px;
	font-size: 0px;
	line-height: 0px;
}
h1, h2, h3, h4, h5, p, ul, li {
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
.red, .red a {
	color: #b81922;
}
.more, .more2 {
	background-image: url(../images/more.gif);
	background-repeat: no-repeat;
	height: 5px;
	width: 34px;
	background-position: 0px 0px;
	float: right;
	cursor:pointer;
}
.more3 {
	float: right;
}

.more2 {
	background-image: url(../images/more2.gif);
}
.div_h10px {
	font-size: 0px;
	line-height: 0px;
	height: 10px;
	clear: both;
}



#container {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	width: 950px;
}
#header {
	background-image: url(../images/header_bg.jpg);
	background-repeat: repeat-x;
	margin-bottom: 5px;
}
#header .header_top {
	height: 50px;
	margin-bottom: 10px;
}

#header .header_top .top_menu {
	float: right;
	background-image: url(../images/htop_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
}
.top_menu ul li {
	float: left;
	display: block;
	height: 26px;
	padding-right: 6px;
	padding-left: 6px;
}
.top_menu ul li a {
	color: #cc0000;
}

.top_menu ul li.help {
	background-image: url(../images/ico_help.gif);
	background-position: 8px center;
	background-repeat: no-repeat;
	margin-left: 10px;
	text-indent: 20px;
}
.top_menu ul li.help a{
	display: block;
	color: #4b4b4b;
}


.top_menu ul .ropmenu_r {
	background-image: url(../images/htop_bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 26px;
	width: 10px;
}
.header_top .logo {
	float: left;
	padding-top: 17px;
}
#header .header_main {
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: left -75px;
	height: 85px;
}
#header .header_main .menu {
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: right -445px;
	padding-bottom:4px;
}
.menu_list1 {
	margin-left: 10px;
	display: block;
	height: 27px;
}

.menu_list1 li  {
	float: left;
	display: block;
	text-align: center;
	line-height: 25px;
	height: 27px;
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-right: 3px;
	padding-left:10px;
}
.menu_list1 li.menu_select  {
	background-position: 0px -220px;
}
.menu_list1 li a:link, .menu_list1 li a:visited {
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: right -25px;
	display: block;
	color:#000000;
	padding-right:10px;
}
.menu_list1 li.menu_select a:link, .menu_list1 li.menu_select a:visited {
	background-position: right -247px;
	color:#ffffff;
}
.menu_list1 li a:hover {
	color:#000000;
}
.menu_list1 li.menu_list1_r {
	width: auto;
	padding-left:0;
}
.menu_list1 .menu_list1_r ul {
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: right -25px;
	display: block;
	height: 27px;
	float:left;
}

.menu_list1 .menu_list1_r ul li {
	background-image: url(../images/header_menu_bg.png);
	width: auto;
	background-repeat: no-repeat;
	background-position: 0px -270px;
	padding-left:0;
}
.menu_list1_r ul li.menu_last {
	background-image: none;
}

.menu_list1 .menu_list1_r ul li.menu_select {
	margin-right:-1px;
	position:relative;
	background-position: 0px -220px;
}
.menu_list1_r ul li a:link, .menu_list1_r ul li a:visited {
	background-image: none;
	padding-right: 11px;
	padding-left: 15px;
}
.menu_list1 .menu_list1_r ul li.menu_select a:link, .menu_list1 .menu_list1_r ul li.menu_select a:visited {
	background:transparent url(../images/header_menu_bg.png) no-repeat scroll right -247px;
	padding-right: 14px;
	color:#FFFFFF;
}

.menu_list2 {
	overflow:hidden;
	padding-left:32px;
	display: block;
	height: 25px;
	padding-bottom: 1px;
}
.menu_list2 li {
	background:transparent url(../images/header_menu_bg.png) no-repeat scroll right -293px;
	line-height:25px;
	white-space:nowrap;
	float: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -1px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 11px;
}
.menu_list2 a:link, .menu_list2 a:visited {
color:#FEF1D8;
text-decoration:none;
}
.menu_list2 a:hover {
color:#FEF1D8;
text-decoration: underline;
}
.search {
	background:transparent url(../images/header_menu_bg.png) no-repeat scroll 0 -300px;
	float:left;
	margin-left:5px;
}
.search_th {
background:transparent url(../images/header_menu_bg.png) no-repeat scroll right -328px;
float:left;
height:24px;
padding-top:4px;
}
.search_th select, .search .search_th input{
vertical-align:top;
}
.search_th select, .search .search_th option {
color:#111111;
font-size:12px;
padding:0;
}
.search_th select {
border:1px solid #CCCCCC;
font-size:12px;
height:20px;
margin:0 4px;
}
.search_th input {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#111111;
font-size:12px;
margin:0 0 -1px;
padding:2px;
*padding:2px 2px 1px 2px;
_padding:2px 2px 1px 2px;
width:276px;
}
.search_th button, .s_join button {
margin:0 5px -1px 0;
border-width:1px;
font-weight:400;
height:20px;
line-height:16px !important;
overflow:hidden;
padding:0 10px;
background:#FFFFFF url(../images/button.gif) repeat-x scroll 0 -25px;
border-color:#D8D8D8 #C8C8C8 #C8C8C8 #D8D8D8;
border-style:double;
color:#111111 !important;
}
.hs_indexbut {
	float:left;
	padding:7px 10px 0;
}
.hs_indexbut a {
	color:#FFCC00;
}

.menu_list3 {
	background:transparent url(../images/header_menu_bg.png) no-repeat scroll 0 -356px;
	display:none;
	float:right;
	height:28px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-right:10px;
}
.menu_list3 li {
background:transparent url(../images/header_menu_bg.png) no-repeat scroll right -413px;
display:inline;
float:left;
height:28px;
line-height:28px;
margin-right:5px;
padding:0 0 0 10px;
}
.menu_list3 li a:link, .menu_list3 li a:visited {
color:#74081F;
text-decoration:none;
}
.menu_list3 li a:hover {
color:#CE2104;
}
.menu_list3 li a {
float:left;
left:-10px;
line-height:28px;
margin-right:-10px;
overflow:hidden;
padding:0 10px 0 6px;
position:relative;
}
.menu_list3 li a span {
line-height:28px;
}
.menu_list3 .cart span {
background:transparent url(../images/header_menu_bg.png) no-repeat scroll 0 -532px;
display:block;
padding-left:23px;
}
.menu_list3 .order span {
background:transparent url(../images/header_menu_bg.png) no-repeat scroll 51px -423px;
padding-right:14px;
}
.point {
background:transparent url(../images/header_menu_bg.png) no-repeat scroll right -384px !important;
margin-right:0 !important;
}
.leftcon, .centercon, .rightcon , .langcon {
	margin-bottom:10px;
}
.leftcon, .centercon {
	float: left;
}
.leftcon {
	width: 190px;
}
.leftcon .ltop_pic {
	margin-bottom: 10px;
}

.centercon {
	width: 490px;
	margin-left:10px;
}

.rightcon, .botcon_right {
	float:right;
	width:250px;
}
.con_top, .con_bot, .lcon_top {
	height: 9px;
	background-image: url(../images/line.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 0px;
	line-height: 0px;
}
.con_bot {
	background-position: bottom;
}
.lcon_top {
	background-image: url(../images/line2.gif);
}
.con {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D3D3D3;
	border-left-color: #D3D3D3;
	padding: 5px;
	zoom:1;
}
.leftcon .con {
	/*height:505px;*/
	overflow:hidden;
}

.leftcon .con h2 , .rightcon .con h2{
	background-image: url(../images/title_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	height: 25px;
	width: 106px;
	font-size: 12px;
	line-height: 25px;
	color: #FFF;
	text-align: left;
	padding-left: 10px;
	margin-top: 5px;
	overflow:hidden;
}
.leftcon .con h2 a , .rightcon .con h2 a{
	color: #FFF;
}
.leftcon .con ul    {
	height:50px;
	overflow:hidden;
	padding-top:5px;
}
.leftcon .con ul li , div.longer .con .sl_list li ul li, div.sl_index .con .sl_list li ul li{
	background:transparent url(../images/header_menu_bg.png) no-repeat scroll 0 -271px;;
	display: block;
	float: left;
	/* width: 88px; */
	padding-left:7px;
	padding-right:5px;
	text-align:center;
	white-space:nowrap;
}
.leftcon .con ul.wid50 li, .leftcon .con ul li.liw50 {
	width:58px;
}
.leftcon .con ul.wid40 li, .leftcon .con ul li.liw40 {
width:44px;
}
.leftcon .con ul li.no_bg {
	background:none;
}
.leftcon .con .all_class {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DB4649;
	margin-top: 10px;
	padding-top: 5px;
	text-align: right;
}
.leftcon .con .all_class a {
	font-weight: bold;
	color: #DB4649;
}


.ctop_left, .ctop_right, .cbot_left, .cbot_right, .lctop_left, .lctop_right {
	background-image: url(../images/angle.gif);
	width:9px;
	height:9px;
	display: block;
	background-repeat: no-repeat;
	font-size: 0px;
	line-height: 0px;
}

.ctop_left {
	background-position: left top;
	float: left;
}
.ctop_right {
	background-position: right top;
	float: right;
}
.cbot_left {
	background-position: left bottom;
	float: left;
}
.cbot_right {
	background-position: right bottom;
	float: right;
}
.lctop_left {
	background-position: left top;
	float: left;
	background-image: url(../images/angle2.gif);
	background-repeat: no-repeat;
}
.lctop_right {
	background-position: right top;
	float: right;
	background-image: url(../images/angle2.gif);
	background-repeat: no-repeat;
}
.rightcon_top {
	background-image: url(../images/right_top.jpg);
	background-repeat: no-repeat;
	height: 178px;
}
.rightcon_top h2 {
	font-size: 12px;
	line-height: 22px;
	margin-left: 20px;
}

.rightcon_top ul {
	padding-top: 15px;
	padding-left: 15px;
}
.rightcon_top ul li {
	background-image: url(../images/do1.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-left: 8px;
}
.rightcon .more {
	margin-top: 20px;
}
.rightcon .con ul {
	background-image: url(../images/list_num.gif);
	background-repeat: no-repeat;
	background-position: left 7px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	*padding-top:1px;
	_padding-top:2px;
	display: block;
}
.rightcon .con ul li {
	padding-left: 18px;
	display: block;
	height: 25px;
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d9d9d9;
}



.lcon_left, .lcon_right {
	width:470px;
	margin-bottom: 10px;
}
.lcon_left{ float:left;}
.lcon_right{ float:right;}
.langcon .con, .lcon_left .con, .lcon_right .con {
/* height:210px; */
}
.botcon_left {
	float: left;
	width: 690px;
	margin-bottom: 10px;
}
.botcon_left .con {
	height: 290px;
}
.botconl_list, .botconl_ad {
	float: left;
}
.botconl_list {
	width: 215px;
	margin-left: 5px;
}
.botconl_ad {
	width: 220px;
	margin-left: 7px;
	margin-right: 5px;
}
.botconl_ad img {
	width: 220px;
	height:290px;
}
.botconl_list .more2 {
	margin-top: 8px;
}
.botconl_list ul {
	margin-top: 5px;
}
.botconl_list ul li {
	background-image: url(../images/do1.gif);
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d9d9d9;
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 7px;
}

.botcon_left_ad {
	margin-top: 5px;
}

.botcon_right .con {
	height: 250px;
}
.botcon_right h2 {
	margin-left: 5px;
}
.botcon_right .more2 {
	margin-top: 10px;
}

.botcon_right_ad {
	margin-bottom: 5px;
}
.botcon_right .con ul {
	padding-top: 10px;
}

.botcon_right .con ul li {
	float: left;
	margin:6px 20px;
	*margin:2px 20px;
	_margin:2px 13px;
	display: block;
	border: 1px solid #CCC;
	height: 30px;
	width: 75px;
}
.botcon_right .con ul li img {
	height: 30px;
	width: 75px;
}


.link_top {
	background-image: url(../images/link_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 30px;
}
.link_left {
	background-image: url(../images/link_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 9px;
	height: 30px;
	float: left;
}
.link_title {
	float: left;
	background-image: url(../images/do1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 24px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 6px;
}
.link_right {
	background-image: url(../images/link_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	height: 30px;
	width: 9px;
}
.link .con {
	padding-top: 10px;
}

.link .con a {
	margin-left: 20px;
}
.link .con a img {
	height: 30px;
}
.all_linkstxt {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e0e0e0;
	margin-top: 20px;
}
.all_links ul li , .all_linkstxt ul li{
	display:block;
	float:left;
	height:30px;
	margin-left:35px;
	margin-right:30px;
	padding-bottom:10px;
	padding-top:10px;
	width:88px;
}

.w_conleft {
	width: 744px;
	float: left;
	margin-bottom: 6px;
}
.w_conright {
	width: 200px;
	float: right;
}
.w_cl_title,  .w_cl_tright, .w_cl_foot, .w_cl_fright {
	background-image: url(../images/w_top_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 31px;
}
.w_cl_tright {
	background-repeat: no-repeat;
	background-position: right -31px;
	float: right;
	width: 5px;
}
.w_cl_foot, .w_cl_fright {
	font-size: 0px;
	line-height: 0px;
	height: 3px;
	background-position: left -82px;
}
.w_cl_fright {
	background-position: right -85px;
	float: right;
	width: 5px;
}
.w_conright .con {
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 1px;
}
.w_crcon {
	background-color: #f8f8f8;
	zoom:1;
}
.w_conright .w_cl_foot {
	background-position: left -88px;
}
.w_conright .w_cl_foot .w_cl_fright {
	background-position: right -91px;
}
.w_tithead {
	padding-left: 35px;
	height: 21px;
	padding-top: 9px;
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: 15px 9px;
}
.w_tithead strong, .w_tithead a, .w_tithead span {
	float:left;
	display: block;
}
.w_tithead a {
	color: #B81922;
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: right -36px;
	background-position: right -38px\9;
	*background-position: right -38px;
	_background-position: right -38px;
	padding-right: 20px;
}
.w_tithead span {
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: right -36px;
	background-position: right -38px\9;
	*background-position: right -38px;
	_background-position: right -38px;
	padding-right: 20px;
}

.w_conleft .con h2 {
	background-image: url(../images/title_bg.gif);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 25px;
	padding-left: 15px;
	font-size: 12px;
	color: #FFF;
	line-height: 22px;
}
.w_conleft .con h2 span {
	float: left;
}
.w_conleft .con h2 span a{ color:#FFF;}
.w_conleft .con h2 b {
	background-image: url(../images/title_bg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	height: 25px;
	width: 3px;
	display: block;
	float: left;
	margin-left: 12px;
}
.w_list {
	padding-top: 10px;
	padding-bottom: 10px;
}
.w_list li {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #f2f2f2;
	padding-right: 20px;
	padding-left: 20px;
	line-height:25px;
}
.w_list li a {
	font-size: 14px;
}
.w_list li span {
	float: left;
	padding-right: 10px;
}
.w_list li span a {
	font-size: 12px;
	line-height: 24px;
	color: #e5997f;
}
.w_list li b {
	float: right;
	font-weight: normal;
	color: #999999;
	font-family: "宋体";
	line-height:20px;
	padding-top:5px;
}
.article {
	text-align: center;
	padding: 20px;
}
.article h1 {
	font-size: 14px;
	padding-bottom: 15px;
}
.article .article_con {
	text-align: left;
}
.article .article_con p {
	margin-bottom: 5px;
	text-indent: 25px;
	line-height: 20px;
}



div.w_wlist, div.w_shop {
	background-position: 5px -73px;
	padding-left: 25px;
}
div.w_shop {
	background-position: 5px -113px;
}
.w_crconh2_r {
	float: right;
	height: 8px;
	width: 5px;
	background-position: 0px -400px;
	background-image: url(../images/w_ico.gif);
	margin-top: 10px;
	margin-right: 10px;
	cursor:pointer;
}

.w_conright .con h2 {
	font-size: 14px;
	color: #B81922;
	display: block;
	background-image: url(../images/w_ico.gif);
	background-position: 5px -148px;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 3px;
}
.w_list_con {
	background-image: url(../images/w_list_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.w_crcon ul li {
	display: block;
	padding-left: 15px;
	padding-right: 5px;
	overflow: hidden;
	background-image: url(../images/list_po.gif);
	background-repeat: no-repeat;
	background-position: 6px 12px;
}
.w_conright .w_cl_foot {
	margin-bottom: 6px;
}
.w_cr_hotshop {
	padding-top: 5px;
	padding-bottom: 5px;
}
.w_crcon .w_cr_hotshop li {
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: 15px -190px;
	padding-left: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e0e0e0;
}
.w_conbot {
	background-color: #fff7e8;
}
.w_cbleft  {
	float: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	_width: 450px;
}
.w_cbleft ul li {
	display: block;
	background-image: url(../images/w_tag.gif);
	height: 27px;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 27px;
	padding-left: 5px;
}
.w_cbleft ul li span {
	padding-right: 15px;
}
.w_cbleft ul li a {
	margin-right: 10px;
}
.w_cbright {
	float: right;
}
.w_cbright .search_th {
	padding-top: 10px;
	background-image: none;
	padding-right: 10px;
	padding-bottom: 5px;
}
.w_cbright .search_th input, .w_cbright .search_th select{ float:left;}
.w_cbright .search_th input{
	width:240px;
	height: 16px;
	*height: 17px;
	_height: 17px;
}
.w_cbright .search_th select {
	height: 22px;
	margin-left: 0px;
	*line-height:20px;
	_line-height:23px;
}

.w_cbright .search_th input.inputbg {
	background-image: url(../images/w_top_bg.gif);
	background-repeat: no-repeat;
	background-position: left -62px;
}
.w_cbright .search_th .seach_but, .seach_but {
	background-image: url(../images/seach.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 22px;
	width: 52px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	float: left;
	margin-left: 5px;
	cursor:pointer;
}
.seach_but {
	margin-left: 0px;
	cursor:pointer;
}
.w_cbright p {
	margin-bottom: 5px;
}
div.s_conright {
	float: right;
}
div.s_conleft {
	float: left;
}
div.s_conright .con {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
}

.s_selclass {
	margin-bottom: 10px;
	margin-left: 2px;
}
.s_selclass tr td {
	padding: 2px;
}
.s_selclass input {
	width:128px;
}
.s_selclass input.shortinput {
	width:49px;
}
.s_selclass select {
	width:134px;
	height: 22px;
	*line-height:23px;
	_line-height:23px;
}
.sel_but , .login_but, .reg_but{
	background-image: url(../images/sele.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 24px;
	width: 52px;
	cursor:pointer;
}
.login_but, .reg_but, .enter_but {
	background-image: url(../images/login_menu.gif);
	height: 32px;
	width: 64px;
}
.reg_but {
	background-image: url(../images/put_menu.gif);
}
.enter_but {
	background-image: url(../images/enter.gif);;
}


.s_listhline {
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #f6d5b0;
	border-bottom-color: #f6d5b0;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.s_listhline.bottom {
	border-top-width: 1px;
	border-bottom: none;
	border-top-style: solid;
	border-top-color: #f6d5b0;
	padding-bottom: 0;
	padding-right: 5px;
	padding-left: 5px;
}

.s_listtitle {
	float: left;
	padding-top: 5px;
}
.s_typesel {
	background-image: url(../images/typemenu.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 20px;
	width: 60px;
}
div.s_typesel.s_typelist {
	background-position: left bottom;
}
.s_listtitle select {
	/*width: 80px;*/
	*height:20px;
}


.s_typesel .s_typel, .s_typesel .s_typer {
	float: left;
	height: 20px;
	width: 30px;
	cursor:pointer;
}
.s_listimg , .s_listcon{
	float: left;
}
.s_listimg {
	padding: 4px;
	height: 96px;
	width: 96px;
	border: 1px solid #eeeeee;
	float: left;
	margin-right: 18px;
}
.s_listcon p {
	display: block;
	width: 300px;
	height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
}
.s_listcon p a {
	font-weight: bold;
	color: #3366cc;
	line-height: 18px;
}
.s_listcon p a:hover {
	color: #ff6600;
}
.s_listcon strong {
	display: block;
	color: #cc0000;
	padding-left: 15px;
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: 0px -516px;
	font-size: 16px;
	font-family: Tahoma, SimSun, Arial;
}
.w_list li .s_listcon b{
	float: none;

}
.s_listcon b em {
	font-style: normal;
	text-decoration: line-through;
}




.s_listright {
	float: right;
}
.s_listright .s_shopabout {
	background-image: url(../images/app_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 59px;
	width: 150px;
	padding-top: 5px;
}
.s_listright .s_shopabout b, .s_listright .s_shopabout strong {
	float: none;
	text-align: center;
	display: block;
}
.s_listright .s_shopabout strong {
	font-size: 14px;
}

.s_listright .s_itemgo {
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: 20px -475px;
	padding-left: 40px;
	margin-top: 12px;
}
.s_listright .s_itemgo a {
	font-size: 12px;
	color: #3366cc;
}
ul.w_list.s_piclist li {
	float: left;
	width: 206px;
}
ul.w_list.s_piclist li .s_listimg {
	margin-right: auto;
	margin-left: auto;
	float: none;
	margin-bottom: 5px;
}
ul.w_list.s_piclist li .s_listcon p {
	width: 200px;
	margin-bottom: 20px;
	text-align:center
}
ul.w_list.s_piclist li .s_listcon p a {
	font-size: 12px;
	line-height: 20px;
}
ul.w_list.s_piclist li .s_listcon strong {
	float: none;
	margin-right: auto;
	margin-left: auto;
	width: 85px;
}
ul.w_list.s_piclist li .s_listcon b {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
}
ul.w_list.s_piclist li .s_listright {
	display: none;
}
div.longer {
	width: 100%;
}
div.longer .con .sl_list li, div.sl_index .con .sl_list li {
	display:block;
	margin:10px 10px 20px 20px;
	width:280px;
	_width:270px;
	background-image: none;
	float: left;
}

div.longer .con .sl_list li h2, div.sl_index .con .sl_list li h2 {
	background-image: none;
	padding-left: 0px;
}
div.longer .con .sl_list li h2 a, div.sl_index .con .sl_list li h2 a {
	color: #B81922;
	font-size: 14px;
}
div.longer .con .sl_list li ul, div.sl_index .con .sl_list li ul {
	clear: both;
}
div.longer .con .sl_list li ul li, div.sl_index .con .sl_list li ul li {
	width: auto;
	padding: 0 8px 0 8px;
	*padding: 0 7px 0 8px;
	_padding: 0 7px 0 8px;
	margin: 0px;
	white-space:nowrap;
}
div.longer .con .reg_left {
	float: left;
	width: 450px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #e0e0e0;
}
div.longer .con .reg_left h1 {
	text-align: center;
	font-size: 12px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.agree {
	width: 380px;
	height: 410px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	overflow-y:scroll;
	line-height: 20px;
	color: #555555;
}
.agree p {
	margin-bottom: 10px;
}
.accept {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}
div.longer .con .reg_right {
	padding-top: 40px;
}



div.sl_index .con .w_list li {
	float: left;
	padding-right: 0px;
	padding-left: 8px;
	_padding-left: 5px;
	width:355px;
}
div.sl_index .con .w_list li .s_listimg {
	margin-right: 5px;
	padding: 0px;
	margin-top: 2px;
}

div.sl_index .con .w_list li .s_listimg, .sl_index .con .w_list li .s_listimg img {
	height: 94px;
	width: 94px;
}
div.sl_index .con .w_list li .s_listcon p {
	height: auto;
	width: 252px;
	_width: 247px;
}

div.sl_index .con .w_list li .s_listcon p b {
	float: right;
	padding: 0px;
	color: #555555;
}
div.sl_index .con .w_list li .s_listcon p a {
	display: block;
	width: 160px;
	_width: 150px;
	overflow: hidden;
	background-image: url(../images/w_ico.gif);
	background-repeat: no-repeat;
	background-position: left -598px;
	padding-left: 20px;
}
div.sl_index .sl_con {
	height: 66px;
	width: 240px;
	_width: 235px;
	background-color: #fff9ee;
	border: 1px solid #ffd9b3;
	padding-right: 5px;
	padding-left: 5px;
}
div.sl_index .con .w_list li .s_listcon .sl_con p {
	width: auto;
	height: 35px;
	line-height: 16px;
	overflow: hidden;
	margin-bottom: 5px;
	color: #990000;
}
div.sl_index .con .w_list li .s_listcon .sl_con a {
	float: right;
	font-size: 12px;
	color: #666;
}
div.sl_index .con .sl_list li{
	width:325px;
	margin:5px 5px 10px 10px;
}
div.sl_index .con .shop_clist {
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: left -590px;
	height: 32px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.shop_clist .shop_l_rightbg {
	background-image: url(../images/header_menu_bg.png);
	background-repeat: no-repeat;
	background-position: right -622px;
	height: 32px;
	width: 10px;
	float: right;
}
.shop_clist .more3 {
	line-height: 32px;
}
.shop_clist .more3 a {
	color: #FFF;
}
.shop_clist .sclist_title {
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-left: 35px;
}
.w_cl_title div.w_tithead.new_shop {
	background-position: 5px -553px;
	padding-left: 25px;
}
div.shopl_right .con .w_crcon ul li {
	padding-left: 5px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e0e0e0;
}
.w_crcon ul li .s_listimg {
	padding: 0px;
	height: 70px;
	width: 70px;
	border: 1px solid #eeeeee;
	margin-right: 5px;
}
div.shopl_right .con .w_crcon ul li .s_listcon p {
	width: 109px;
	height: 18px;
	margin-bottom: 5px;
}
div.shopl_right .con .w_crcon ul li .s_listcon .sl_con p {
	line-height: 14px;
	height: 30px;
	margin-bottom: 0px;
}
.s_join {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.s_join button {
	height: 22px;
}
div.w_conleft.sl_list .con {
	background-image: url(../images/sl_list_bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 37px;
	*background-position: 0px 40px;
	_background-position: 0px 40px;
}
div.w_conleft.sl_list .con .s_listhline .sl_listtitle {
	float: left;
	padding-top: 7px;
	color: #cc0000;
}
div.w_conleft.sl_list .con .s_listhline .sl_listtitle a {
	font-weight: bold;
	color: #cc0000;
}
div.w_conleft.sl_list .con .s_listhline .sl_listtitle strong {
	color: #333;
}

div.w_conleft.sl_list .con th  {
	height: 38px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	padding: 3px;
	text-align: center;
	_background:none;
}
div.w_conleft.sl_list .con th strong {
	text-align: left;
	display: block;
	padding-left: 20px;
}

div.w_conleft.sl_list .con td {
	height: 120px;
	text-align: center;
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e0e0e0;
}
div.w_conleft.sl_list .con td .s_listcon {
	text-align: left;
	padding-left: 10px;
}
div.w_conleft.sl_list .con td .s_listcon p {
	height: 30px;
	color: #999999;
	width: 240px;
}
div.w_conleft.sl_list .con td .s_listcon p a {
	font-size: 14px;
	_color: #36C;
}
table.h_search {
	margin-right: auto;
	margin-left: auto;
	width: 420px;
}
table.h_search tr td {
	padding: 5px;
}

table.h_search tr .hsearch_ch select, table.h_search tr .hsearch_ch input {
	width: auto;
}

table.h_search tr td .inputbg {
	width: 200px;
}
table.h_search tr td .inputbg.shortinput {
	width: 85px;
}
table.h_search tr td select {
	width: 206px;
}
table.h_search tr td select.widauto {
	width: auto;
}
table.h_search tr td textarea {
	height: 80px;
	width: 200px;
}
.reg_right table.h_search tr td span {
	color: #cc0000;
}
div.uc_conleft {
	float: left;
}
div.uc_conleft .w_cl_title .w_tithead {
	background-image: url(../images/uc_bg.gif);
	background-repeat: no-repeat;
	background-position: 15px -104px;
}

.uc_leftcon {
	display: block;
	position: relative;
}
.uc_leftcon ul li {
	background-image: url(../images/uc_bg.gif);
	height: 32px;
	background-position: 30px -32px;
}
.uc_leftcon ul li a {
	line-height: 30px;
	height:30px;
	display: block;
	padding-left: 55px;
}
.uc_leftcon ul li a.uc_act, .uc_leftcon ul li a:hover {
	background-image: url(../images/uc_bg.gif);
	background-repeat: no-repeat;
	background-position: 4px 1px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.uc_lico {
	background-image: url(../images/uc_ico.png);
	_background-image: url(../images/uc_ico.gif);
	background-repeat: no-repeat;
	height: 209px;
	width: 16px;
	position: absolute;
	left: 45px;
	top: 6px;
}
.uc_right {
	float: right;
}
div.uc_right .con table.h_search {
	margin-left: 0px;
	margin-top: 20px;
	width: auto;
}

div.uc_right h1 {
	font-size: 14px;
	display: block;
	height: 30px;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e0e0e0;
	padding-left: 30px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/uc_bg.gif);
	background-position: -138px -71px;
	background-repeat: no-repeat;
}
table.h_search tr td.uc_adde select {
	width: 80px;
}
div.uc_right .con table.h_search tr td textarea {
	width: 300px;
}
table.h_search tr td .file_input {
	width: 276px;
	background: #FFF url(../images/w_top_bg.gif) no-repeat left -62px\9;
	*background: #FFF url(../images/w_top_bg.gif) no-repeat left -62px;
	_background: #FFF url(../images/w_top_bg.gif) no-repeat left -62px;
	border: 1px solid #CCC\9;
	*border: 1px solid #CCC;
	_border: 1px solid #CCC;
}










































.check-error{
	color:#ff0000;
}
.pages {
	float: right;
	padding-top:5px;
	height: 18px;
}
.page_pre, .page_main, .page_next, .page_jump {
	float: left;
	height: 18px;
	line-height: 15px;
}
.pages span , .pages a{
	height: 16px;
	border: 1px solid #e0e0e0;
	color: #999999;
	display: block;
	text-align: center;
	padding-right: 4px;
	padding-left: 4px;
}
.pages a:hover {
	background-color:#e87779;
	color:#FFF;
	border-color:#dd474a;
}
.pages .page_pre span , .pages .page_pre a{
	width: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background-image: url(../images/w_ico.gif);
	background-position: 5px -356px;
}
.pages .page_pre a {
	background-image: url(../images/w_ico.gif);
	background-position: 5px -316px;
	display:block;
}
.pages .page_main span, .pages .page_main a {
	margin-left:3px;
	float:left;
}

.pages .page_main span{
	background-color: #d1484c;
	border: 1px solid #b51519;
	color: #FFF;
	font-weight: bold;
	float:left;
}

.pages .page_next span , .pages .page_next a {
	background-image:url(../images/w_ico.gif);
	background-position:45px -276px;
	background-repeat:no-repeat;
	padding-left:5px;
	padding-right:15px;
	width:auto;
	_width:36px;
}
.pages .page_next a {
	background-position:45px -236px;
}
.page_next {
	margin:0 10px 0 3px;
	*line-height: 17px;
	_line-height: 16px;
}
.page_jump select{
	*height:18px;
	*font-size:9px;
}





















#copyright {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
#copyright ul {
	display: block;
	padding-left: 240px;
	margin-bottom: 10px;
}
#copyright ul li {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
#copyright ul li a {
	color: #3399CC;
}

#copyright p {
	line-height: 20px;
	color:#555555;
}
#copyright p a {
	color: #B81922;
	font-weight:bold;
}
