<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_module_manage</tpl> - <tpl>$admin_module_send_region_add</tpl><!-- 模块管理 - 添加配送区域 --></title>
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/styles.css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* 对需要填写验证的信息，进行验证 */
	$("#form1").validate({
		errorClass: "wrong",
		rules: {
			txt_send_area_name		: {required:true,maxLength:50},
			txt_send_area_directory	: {required:true,maxLength:20}
		},
		messages: {
			txt_send_area_name		: {required: "<tpl>$admin_module_send_region__name_null</tpl>",maxLength:"<tpl>$admin_module_send_region__name_long</tpl>"},
			txt_send_area_directory	: {required: "<tpl>$admin_module_send_region_path_null</tpl>",maxLength:"<tpl>$admin_module_send_region_path_long</tpl>"}
		}
	});
});
</script>
<script type="text/javascript">

$(document).ready( 
function(){if($.browser.msie){ 
$("input[@type='text'], input[@type='password'], textarea").focus(function() {$(this).css({"color":"#333333","border-color":"#5794BF #C5DAED #C5DAED #5794BF"});}) 
//IE里input获得焦点的focus
$("input[@type='text'], input[@type='password'], textarea").blur(function() {$(this).css({"color":"#999999","border-color":"#ABADB3 #E9E9E9 #DEDEDE #bbbbbb"});}) 
//失去焦点的focus变化
}}); 
</script>
</head>

<body id="noulmenu">
  <form action="admin_module_send.php?action=send_area_save" method="post" name="form1" id="form1">
  <input type="hidden" name="txt_send_area_id" value="<tpl>$send_area_array.send_area_id</tpl>" />
    <h4 id="rightcon_h"><b>
<span class="alignRight"><a href="admin_module_send.php?action=send_area" target="_self" class="btnInput"><tpl>$admin_module_send_region</tpl></a></span><!-- 配送区域 -->
	<tpl>$admin_header_module_manage</tpl> >> <tpl>if $send_area_array.send_area_id!=''</tpl><tpl>$admin_module_send_region_edit</tpl><tpl>else</tpl><tpl>$admin_module_send_region_add</tpl><tpl>/if</tpl><!-- 工具管理 >> 添加配送区域 -->
	</b>
    </h4>
<div id="rightcon">
			<div class="rc_con">
			<h5><tpl>if $send_area_array.send_area_id!=''</tpl><tpl>$admin_module_send_region_edit</tpl><tpl>else</tpl><tpl>$admin_module_send_region_add</tpl><tpl>/if</tpl></h5>
    <div class="textRight btnDiv">
      <input type="submit" name="button" id="button" value="<tpl>$admin_module_send_region_submit</tpl>" class="btnInput" /><!-- 点此保存 -->
    </div>
    <div class="entry-body">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="100"><tpl>$admin_module_send_region_name</tpl><!-- 区域名称 -->:</td>
				<td><input class="TextBox" type="text" name="txt_send_area_name" id="txt_send_area_name" value="<tpl>$send_area_array.send_area_name</tpl>" />&nbsp;<span class="red">*</span>
				<div class="check-error"><label style="display:none" for="txt_send_area_name" class="wrong" metaDone="true" generated="true"></label></div>
				</td>
			</tr>
			<tr>
				<td><tpl>$admin_module_send_region_path</tpl><!-- 配送文件目录 -->:</td>
				<td><input class="TextBox" type="text" name="txt_send_area_directory" id="txt_send_area_directory" value="<tpl>$send_area_array.send_area_directory</tpl>"  />&nbsp;<span class="red">*</span>
				<div class="check-error"><label style="display:none" for="txt_send_area_directory" class="wrong" metaDone="true" generated="true"></label></div>
				</td>
			</tr>
			<tr>
				<td><tpl>$admin_module_send_region_desc</tpl><!-- 配送区域简介 -->:</td>
				<td><textarea name="txt_send_area_info" cols="40" rows="8"><tpl>$send_area_array.send_area_info</tpl></textarea></td>
			</tr>
			<!-- <tr>
				<td><tpl>$admin_module_send_region_sort</tpl> 配送区域排序:</td>
				<td><input type="text" name="txt_send_area_sort" size="10"  value="<tpl>$send_area_array.send_area_sort</tpl>"   /></td>
			</tr> -->
			<tr>
				<td><tpl>$admin_module_send_region_state</tpl><!-- 配送区域状态 -->:</td>
				<td class="display_pic"><tpl>$send_area_state</tpl></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="button" id="button" value="<tpl>$admin_module_send_region_submit</tpl>" class="btnInput" /><!-- 点此保存 -->
      <input type="reset" name="button2" id="button2" value="<tpl>$admin_module_send_region_reset</tpl>" class="btnInput" /><!-- 重置 --></td>
			</tr>
		</table>
    </div><!--  end of entry-body  -->
    <div class="textLeft btnDiv">
      
    </div>
	</div>
	<div class="clear"></div>
</form>
<tpl>include_php file ='admin_footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
