<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><tpl> $article_array.0.cname </tpl> - <tpl> $shops_name </tpl></title>
<meta http-equiv="keywords" content="<tpl> $article_class_keywords </tpl>" />
<meta http-equiv="description" content="<tpl> $article_class_description </tpl>" />
<link href="<tpl> $templates_subpath </tpl>/css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery/jquery.js"></script>
</head>
<body>
<div id="container">
<tpl>include_php file ='shop_header.php'</tpl><!-- 头部信息header -->
	<!--content-->
	<div id="content">
		<div class="w_conleft">
			<div class="w_cl_title">
				<div class="w_cl_tright"></div>
				<div class="w_tithead">
				<strong><tpl> $home_location </tpl>： </strong><a href="<tpl> $Site_Url </tpl>"><tpl> $shops_name </tpl></a>
				<tpl> if $article_array.0.cname </tpl>
					<a href="<tpl> $Site_Url </tpl>/shop_article.php?action=article&id=<tpl> $article_array.0.cid </tpl>"><tpl> $article_array.0.cname </tpl></a>
				<tpl> /if </tpl>
				<tpl> $artic_list </tpl>
				</div>
			</div>
			<div class="con">
			<div class="clear"></div>
				<h2><span><a href="<tpl> $site_url </tpl>/shop_article.php"><tpl>$all_article</tpl><!--全部文章--></a></span><b></b></h2>
				<div class="pages">
				<tpl> $show_page </tpl>
				</div>
				<div class="clear"></div>
				<ul class="w_list">

                	<tpl> section name=i loop=$article_array </tpl>
					<li><span><a href="<tpl> $Site_Url </tpl>/shop_article.php?action=article&id=<tpl> $article_array[i].cid </tpl>">[<tpl> $article_array[i].cname </tpl>]</a></span><b><tpl>$article_array[i].atime|date_format:"%Y-%m-%d %H:%M"</tpl></b><a href="<tpl> $Site_Url </tpl>/shop_article.php?action=article_content&id=<tpl> $article_array[i].aid </tpl>" title="<tpl> $article_array[i].title </tpl>"><tpl> $article_array[i].title </tpl></a></li>
                    <tpl> /section </tpl>
				</ul>
				<div class="pages">
				<tpl> $show_page </tpl>
				</div>
				<div class="clear"></div>
			</div>
			<div class="w_cl_foot">
				<div class="w_cl_fright"></div>
			</div>
		</div>
		<div class="w_conright">
			<div class="w_cl_title">
				<div class="w_cl_tright"></div>
				<div class="w_tithead w_wlist">
				<strong><tpl> $artic_class </tpl></strong>
				</div>
			</div>
			<div class="con">
				<div class="w_crcon">

				<tpl> section name=i loop=$artclass_array </tpl>
				<tpl> if $smarty.section.i.rownum < 4 </tpl>
					<!-- <div class="w_crconh2_r"></div> -->
					<h2><a href="<tpl> $site_url </tpl>/shop_article.php?action=article&id=<tpl> $artclass_array[i].cid</tpl>"><tpl> $artclass_array[i].cname </tpl></a></h2>
					<div class="clear"></div>
					<div class="w_list_con">
						<ul>
							<tpl>foreach item = sub_class from = $artclass_array[i].body</tpl>
								<li><a href="<tpl> $Site_Url </tpl>/shop_article.php?action=article_content&id=<tpl> $sub_class.aid </tpl>" target="_blank" title="<tpl> $sub_class.title </tpl>"><tpl> $sub_class.title </tpl></a></li>
							<tpl>/foreach</tpl>
						</ul>
					</div>
					<div class="clear"></div>
				<tpl> /if </tpl>	
				<tpl> /section </tpl>

				</div>
			</div>
			<div class="w_cl_foot">
				<div class="w_cl_fright"></div>
			</div>

			<div class="w_cl_title">
				<div class="w_cl_tright"></div>
				<div class="w_tithead w_shop">
				<strong><tpl>$hot_shops</tpl><!--热门店铺--></strong>
				</div>
			</div>
			<div class="con">
				<div class="w_crcon">
					<ul class="w_cr_hotshop">
					<tpl> section name=list loop=$hot_shops_array </tpl> <!--热门商店-->
						<li><a href="http://<tpl> $hot_shops_array[list].domainname </tpl><tpl> $domainname </tpl>" target="_blank" title="<tpl> $hot_shops_array[list].shopname </tpl>"><tpl> $hot_shops_array[list].shopname </tpl></a></li>
					<tpl> /section </tpl>
					</ul>
				</div>
			</div>
			<div class="w_cl_foot">
				<div class="w_cl_fright"></div>
			</div>
			
		</div>
		<div class="clear"></div>

	<!--end content-->
<tpl> include_php file='shop_footer.php' </tpl><!-- end of footer -->
</div>
</body>
</html>
