<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl> $NCharset </tpl>" />
<tpl>include file ='../head.config_new.html'</tpl>
<link href="<tpl> $template_dir </tpl>/home/css_new/default.css" rel="stylesheet" type="text/css" />
<link href="<tpl> $template_dir </tpl>/home/css_new/trademark.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery1.4/jquery.searchTab.js"></script>
<script language="javascript">
$(document).ready(function(){
	$().tab({array:['trademark','assort'],ev:'mousemove'});	
	$().tab({array:['details','trademark1','deatails'],ev:'click'});
});

</script>
</head>
<body>
<div id="wrapper" class="m"> 
  <!--Header-->
  <tpl> include file="header_new.html" </tpl>
  <!--End Header-->
  <div class="clear">&nbsp;</div>
  <div id="main">
     <div id="trademark" class="trademark">
      <ul class="tab">
        <li class="current" rel="t1"><span class="t1"><tpl> $t1 </tpl></span></li>
        <li rel="t2"><span class="t2"><tpl> $t2 </tpl></span></li>
        <li rel="t3"><span class="t3"><tpl> $t3 </tpl></span></li>
        <li rel="t4"><span class="t4"><tpl> $t4 </tpl></span></li>
        <li rel="t5"><span class="t5"><tpl> $t5 </tpl></span></li>
        <li rel="t6"><span class="t6"><tpl> $t6 </tpl></span></li>
        <li rel="t7"><span class="t7"><tpl> $t7 </tpl></span></li>
        <li rel="t8"><span class="t8"><tpl> $t8 </tpl></span></li>
      </ul>
      <dl id="t1">
        <dt><span><tpl> $t1 </tpl></span></dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/01.gif" /><tpl> $t1_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=HI-TEC"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/02.gif" />HI-TEC</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=Kappa"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/03.gif" />Kappa</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/04.gif" /><tpl> $t1_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=361°"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/05.gif" />361°</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/06.gif" /><tpl> $t1_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/07.gif" /><tpl> $t1_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/08.gif" /><tpl> $t1_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/09.gif" /><tpl> $t1_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=NIKE"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/10.gif" />NIKE</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/11.gif" /><tpl> $t1_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/12.gif" /><tpl> $t1_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=PONY"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/13.gif" />PONY</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/14.gif" /><tpl> $t1_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/15.gif" /><tpl> $t1_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/16.gif" /><tpl> $t1_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/17.gif" /><tpl> $t1_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/18.gif" /><tpl> $t1_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/19.gif" /><tpl> $t1_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=SPEEDO"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/20.gif" />SPEEDO</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/21.gif" /><tpl> $t1_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=karrimor"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/22.gif" />karrimor</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=green&giant"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/23.gif" />green&amp;giant</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t1_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a1/24.gif" /><tpl> $t1_16 </tpl></a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t2" style="display:none;">
        <dt><span><tpl> $t2 </tpl></span> </dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/01.gif" /><tpl> $t2_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=ESPRIT"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/02.gif" />ESPRIT</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/03.gif" /><tpl> $t2_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/04.gif" /><tpl> $t2_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/05.gif" /><tpl> $t2_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/06.gif" /><tpl> $t2_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/07.gif" /><tpl> $t2_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=TonyJeans"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/08.gif" />TonyJeans</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=Justyle"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/09.gif" />Justyle</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/10.gif" /><tpl> $t2_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=levi`s"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/11.gif" />levi`s</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/12.gif" /><tpl> $t2_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/13.gif" /><tpl> $t2_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/14.gif" /><tpl> $t2_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/15.gif" /><tpl> $t2_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/16.gif" /><tpl> $t2_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/17.gif" /><tpl> $t2_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/18.gif" /><tpl> $t2_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/19.gif" /><tpl> $t2_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/20.gif" /><tpl> $t2_16 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_17 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/21.gif" /><tpl> $t2_17 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=ENERGIE"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/22.gif" />ENERGIE</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=UCLA"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/23.gif" />UCLA</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_18 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/24.gif" /><tpl> $t2_18 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_19 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/25.gif" /><tpl> $t2_19 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=G.I"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/26.gif" />G.I</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t2_20 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a2/27.gif" /><tpl> $t2_20 </tpl></a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t3" style="display:none;">
        <dt> <span><tpl> $t3 </tpl></span> </dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=ONLY"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/01.gif" />ONLY</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=CK"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/02.gif" />CK</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=MISS SIXTY"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/03.gif" />MISS SIXTY</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=ESPRIT"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/04.gif" />ESPRIT</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=eno"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/05.gif" />eno</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=honeys"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/06.gif" />honeys</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=JR"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/07.gif" />JR</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/08.gif" /><tpl> $t3_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/09.gif" /><tpl> $t3_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/10.gif" /><tpl> $t3_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/11.gif" /><tpl> $t3_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/12.gif" /><tpl> $t3_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/13.gif" /><tpl> $t3_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/14.gif" /><tpl> $t3_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/15.gif" /><tpl> $t3_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/16.gif" /><tpl> $t3_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/17.gif" /><tpl> $t3_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/18.gif" /><tpl> $t3_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/19.gif" /><tpl> $t3_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/20.gif" /><tpl> $t3_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/21.gif" /><tpl> $t3_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/22.gif" /><tpl> $t3_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/23.gif" /><tpl> $t3_16 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_17 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/24.gif" /><tpl> $t3_17 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=itsme"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/25.gif" />itsme</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t3_18 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/26.gif" /><tpl> $t3_18 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=Gossip"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a3/27.gif" />Gossip</a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t4" style="display:none;">
        <dt><span><tpl> $t4 </tpl></span></dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=CK"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/01.gif" />CK</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/02.gif" /><tpl> $t4_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/03.gif" /><tpl> $t4_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/04.gif" /><tpl> $t4_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/05.gif" /><tpl> $t4_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/06.gif" /><tpl> $t4_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/07.gif" /><tpl> $t4_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/08.gif" /><tpl> $t4_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/09.gif" /><tpl> $t4_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/10.gif" /><tpl> $t4_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/11.gif" /><tpl> $t4_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/12.gif" /><tpl> $t4_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/13.gif" /><tpl> $t4_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/14.gif" /><tpl> $t4_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=Rimowa"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/15.gif" />Rimowa</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/16.gif" /><tpl> $t4_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/17.gif" /><tpl> $t4_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/18.gif" /><tpl> $t4_16 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_17 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/19.gif" /><tpl> $t4_17 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_18 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/20.gif" /><tpl> $t4_18 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_19 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/21.gif" /><tpl> $t4_19 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_20 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/22.gif" /><tpl> $t4_20 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_21 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/23.gif" /><tpl> $t4_21 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_22 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/24.gif" /><tpl> $t4_22 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_23 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/25.gif" /><tpl> $t4_23 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t4_24 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a4/26.gif" /><tpl> $t4_24 </tpl></a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t5" style="display:none;">
        <dt> <span><tpl> $t5 </tpl></span> </dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/01.gif" /><tpl> $t5_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/02.gif" /><tpl> $t5_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/03.gif" /><tpl> $t5_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/04.gif" /><tpl> $t5_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/05.gif" /><tpl> $t5_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=ZIPPO"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/06.gif" />ZIPPO</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=Q`ggle"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/07.gif" />Q`ggle</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=odm"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/08.gif" />odm</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/09.gif" /><tpl> $t5_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=KAiLa"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/10.gif" />KAiLa</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/11.gif" /><tpl> $t5_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/12.gif" /><tpl> $t5_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/13.gif" /><tpl> $t5_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/14.gif" /><tpl> $t5_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/15.gif" /><tpl> $t5_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/16.gif" /><tpl> $t5_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/17.gif" /><tpl> $t5_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/18.gif" /><tpl> $t5_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/19.gif" /><tpl> $t5_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=ooh dear"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/20.gif" />ooh dear</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/21.gif" /><tpl> $t5_16 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=yume"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/22.gif" />yume</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t5_17 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/23.gif" /><tpl> $t5_17 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=IDee"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a5/24.gif" />IDee</a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t6" style="display:none;">
        <dt> <span><tpl> $t6 </tpl></span> </dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/01.gif" /><tpl> $t6_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/02.gif" /><tpl> $t6_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/03.gif" /><tpl> $t6_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/04.gif" /><tpl> $t6_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/05.gif" /><tpl> $t6_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/06.gif" /><tpl> $t6_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/07.gif" /><tpl> $t6_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/08.gif" /><tpl> $t6_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/09.gif" /><tpl> $t6_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/10.gif" /><tpl> $t6_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/11.gif" /><tpl> $t6_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/12.gif" /><tpl> $t6_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/13.gif" /><tpl> $t6_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/14.gif" /><tpl> $t6_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/15.gif" /><tpl> $t6_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/16.gif" /><tpl> $t6_16 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_17 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/17.gif" /><tpl> $t6_17 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_18 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/18.gif" /><tpl> $t6_18 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_19 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/19.gif" /><tpl> $t6_19 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_20 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/20.gif" /><tpl> $t6_20 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_21 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/21.gif" /><tpl> $t6_21 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_22 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/22.gif" /><tpl> $t6_22 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_23 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/23.gif" /><tpl> $t6_23 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_24 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/24.gif" /><tpl> $t6_24 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_25 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/25.gif" /><tpl> $t6_25 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_26 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/26.gif" /><tpl> $t6_26 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_27 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/27.gif" /><tpl> $t6_27 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_28 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/28.gif" /><tpl> $t6_28 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_29 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/29.gif" />8<tpl> $t6_29 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_30 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/30.gif" /><tpl> $t6_30 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_31 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/31.gif" /><tpl> $t6_31 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_32 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/32.gif" /><tpl> $t6_32 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_33 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/33.gif" /><tpl> $t6_33 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_34 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/34.gif" /><tpl> $t6_34 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_35 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/35.gif" /><tpl> $t6_35 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_36 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/36.gif" /><tpl> $t6_36 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_37 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/37.gif" /><tpl> $t6_37 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_38 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/38.gif" /><tpl> $t6_38 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_39 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/39.gif" /><tpl> $t6_39 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_40 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/40.gif" /><tpl> $t6_40 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_41 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/41.gif" /><tpl> $t6_41 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_42 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/42.gif" /><tpl> $t6_42 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t6_43 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a6/43.gif" /><tpl> $t6_43 </tpl></a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t7" style="display:none;">
        <dt> <span><tpl> $t7 </tpl></span> </dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/01.gif" /><tpl> $t7_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/02.gif" /><tpl> $t7_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/03.gif" /><tpl> $t7_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=TCL"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/04.gif" />TCL</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/05.gif" /><tpl> $t7_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/06.gif" /><tpl> $t7_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/07.gif" /><tpl> $t7_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=LG"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/08.gif" />LG</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=MOMAX"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/09.gif" />MOMAX</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/10.gif" /><tpl> $t7_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/11.gif" /><tpl> $t7_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/12.gif" /><tpl> $t7_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/13.gif" /><tpl> $t7_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/14.gif" /><tpl> $t7_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/15.gif" /><tpl> $t7_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/16.gif" /><tpl> $t7_13 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_14 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/17.gif" /><tpl> $t7_14 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_15 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/18.gif" /><tpl> $t7_15 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_16 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/19.gif" /><tpl> $t7_16 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_17 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/20.gif" /><tpl> $t7_17 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_18 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/21.gif" /><tpl> $t7_18 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_19 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/22.gif" /><tpl> $t7_19 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t7_20 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a7/23.gif" /><tpl> $t7_20 </tpl></a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
      <dl id="t8" style="display:none;">
        <dt><span><tpl> $t8 </tpl></span></dt>
        <dd>
          <ul>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_1 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/01.gif" /><tpl> $t8_1 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_2 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/02.gif" /><tpl> $t8_2 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_3 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/03.gif" /><tpl> $t8_3 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_4 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/04.gif" /><tpl> $t8_4 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_5 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/05.gif" /><tpl> $t8_5 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=SUNWIN"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/06.gif" />SUNWIN</a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_6 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/07.gif" /><tpl> $t8_6 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_7 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/08.gif" /><tpl> $t8_7 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_8 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/09.gif" /><tpl> $t8_8 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_9 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/10.gif" /><tpl> $t8_9 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_10 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/11.gif" /><tpl> $t8_10 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_11 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/12.gif" /><tpl> $t8_11 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_12 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/13.gif" /><tpl> $t8_12 </tpl></a></li>
            <li><a href="<tpl> $site_url </tpl>/home/product.php?action=list&brand_name=<tpl> $t8_13 </tpl>"><img src="<tpl> $template_dir </tpl>/home/images_new/trademark/a8/14.gif" /><tpl> $t8_13 </tpl></a></li>
          </ul>
        </dd>
        <div class="clear">&nbsp;</div>
      </dl>
    </div>
  </div>
  <div class="clear" style="height:8px;"></div>
</div><!--页脚-->
<tpl> include file ='../../../html/footer.html' </tpl>
</body>
</html>
