
<style type="text/css">
<!-- 
.STYLE3 {color: #FF0000}
 -->
</style>
<div ><!-- 商城首页投票显示 -->
<tpl> if $vote_array[0].vote_id neq '' </tpl>
	<tpl> if $type neq '1' </tpl>
		<div style=" padding-top:8px; padding-left:10px;"><a href="vote.php?action=list" style="color:#fff"><tpl> $langCommonMore </tpl></a></div>
	<tpl> /if </tpl>
		<table width="100%" style="float:left;font-size:12px; font-family:'宋体';">
		<tpl> foreach from=$vote_array item=one </tpl>
		<form action="vote.php" method="post" name="form_p_list" id="form_p_list" <tpl> if $type neq '1' </tpl>target="_blank"<tpl> /if </tpl>>
		<input type="hidden" name="action" value="vote"  />
		<tr>
<td height="15" colspan="2" align="left">
					<span style="color:#666; width:120px; padding-top:0px; line-height:15px; height:15px; padding-left:5px">
					<tpl> $one.vote_title </tpl>
	    </span> </td>
		  </tr>
			<tpl> foreach from=$one.content key=key name = name item=two </tpl>
			<tr>
				<td width="5%" height="18" align="right">
					<tpl> if $one.vote_check eq '0' </tpl>
						<input <tpl> if $smarty.foreach.name.iteration eq '1' </tpl>checked="checked"<tpl> /if </tpl> name="vote_check" type="radio" value="
						<tpl> $key </tpl>
						">
					<tpl> else if $one.vote_check eq '1' </tpl>
						<input <tpl> if $smarty.foreach.name.iteration eq '1' </tpl>
						checked="checked"<tpl> /if </tpl> name="vote_check[]" type="checkbox" value="
						<tpl> $key </tpl>">
			  		<tpl> /if </tpl>			  </td>
				<td height="18" align="left"><span style="color:#666; height:15px; line-height:15px; padding-top:3px; padding-left:5px">
				  <tpl> $two.option </tpl>
				<input type="hidden" name="vote_option[]" value="<tpl> $two.option </tpl>" />
			  <input type="hidden" name="vote_num[]" value="<tpl> $two.num </tpl>" /></span></td>
			</tr>
			<tpl> /foreach </tpl>
			<tr>
			
			<td height="30" colspan="2" align="left">
			<input type="hidden" name="vote_id" value="<tpl> $one.vote_id </tpl>"  />
			<input type="hidden" name="vote_refresh" value="<tpl> $one.vote_refresh </tpl>"  />
			<input type="hidden" name="vote_member" value="<tpl> $one.vote_member </tpl>"  />
			<input type="hidden" name="type" value="<tpl> $type </tpl>"  />
			<input type="submit" value="<tpl> $langCsubmit </tpl>" style=" background:url(<tpl> $template_dir </tpl>/system/images/anniu.gif) repeat-x; border:1px solid #ccc" />
			<tpl> if $type neq '1' </tpl>
			<input type="button" value="<tpl> $langCview </tpl>" style=" background:url(<tpl> $template_dir </tpl>/system/images/anniu.gif) repeat-x; border:1px solid #ccc" onClick="window.open('vote.php?action=view&vote_id=<tpl> $one.vote_id </tpl>')" />
			<tpl> else </tpl>
			<input type="button" value="<tpl> $langCview </tpl>" style=" background:url(<tpl> $template_dir </tpl>/system/images/anniu.gif) repeat-x;border:1px solid #ccc" onClick="location.href='vote.php?action=view&vote_id=<tpl> $one.vote_id </tpl>'" />
			<tpl> /if </tpl>
			
			<tpl> if $type eq '1' </tpl>
				<input type="button" value="<tpl> $langCClose </tpl>" style=" background:url(<tpl> $template_dir </tpl>/system/images/anniu.gif) repeat-x;border:1px solid #ccc" onClick="window.close();" />
			<tpl> /if </tpl>			</td>
		    </tr>
			</form>
		<tpl> /foreach </tpl>
  </table>
<tpl> /if </tpl>
</div>