@charset "utf-8";
/*  CSS Document  *//*  InfoSelectorTarget Document  */#InfoSelectorTarget ul, #InfoSelectorTarget li.select{
	background-position:left -232px;
}
#InfoSelectorTarget li.select a {
	background-position:right -232px;
}
#title1,.title2 {
	border-top: 3px solid #8D6564;
}
