@charset "utf-8";
/*  CSS Document  *//*  InfoSelectorTarget Document  */#InfoSelectorTarget ul, #InfoSelectorTarget li.select{
	background-position:left -29px;
}
#InfoSelectorTarget li.select a {
	background-position:right -29px;
}#title1,.title2 {
	border-top: 3px solid #9DA6B5;
}