@charset "utf-8";
/*  CSS Document  *//*  InfoSelectorTarget Document  */#InfoSelectorTarget ul, #InfoSelectorTarget li.select{
	background-position:left -58px;
}
#InfoSelectorTarget li.select a {
	background-position:right -58px;
}#title1,.title2 {
	border-top: 3px solid #FE74B8;
}