@charset "utf-8";
/*  CSS Document  *//*  InfoSelectorTarget Document  */#InfoSelectorTarget ul, #InfoSelectorTarget li.select{
	background-position:left -174px;
}
#InfoSelectorTarget li.select a {
	background-position:right -174px;
}#title1,.title2 {
	border-top: 3px solid #F34E4E;
}