@charset "utf-8";
/*  CSS Document  */.box_DFF3F9 {border:1px solid #10A3D2 ;background:#DFF3F9}
.box_DFF3F9 p {
	padding:30px;
	margin-top:25px;
}
.box_DFF3F9 {border:1px solid #10A3D2 ;background:#DFF3F9}



.box_F6F6F6 { background:#F6F6F6; border:1px solid #DFDFDF; margin:10px 0 5px; padding:5px}
