@charset "utf-8";
/*  CSS Document  */.font_orange{color:#F65}
.font555{color:#555}
.font666{color:#666}
.font999{color:#999}
.fontgreen{color:#72DA72}
.fontred{color:#F00}
.fontsize10{font-size:10px}
.fontsize12{font-size:12px}
.fontsize14{font-size:14px}
.fontunderline{text-decoration:underline}
.fontwhite{color:#FFF}
.B{
	font-weight:700;
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;

}
#SortList .SortSub .cc {
	background-image: url(../home/images/sort_icon_070323.gif) no-repeat 0px 6px;
	padding-left: 10px;
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
