<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl> $NCharset </tpl>" />
<meta http-equiv="pragma" content="no-cache" />
<title></title>
<link href="<tpl> $site_url </tpl><tpl> $templates_subpath </tpl>/css/right.css" rel="stylesheet" type="text/css" />
<link href="<tpl> $site_url </tpl><tpl> $templates_subpath </tpl>/css/reset-fonts-grids.css" rel="stylesheet" type="text/css" />
</head>
<body>