<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_module_manage</tpl> - <tpl>$admin_module_currencies_list</tpl><!-- 模块管理 - 货币列表 --></title>
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/toolbox.css" />
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/main.css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
</head>

<body>
<div id="content">
	<h2><span class="alignRight"><a href="admin_module_currencies.php?action=add_currencies" target="_self">{<tpl>$admin_module_currencies_add</tpl><!-- 添加货币 -->}</a></span><tpl>$admin_header_module_manage</tpl> >> <tpl>$admin_module_currencies_list</tpl><!-- 模块管理 >> 货币列表 -->
    	
    </h2>
    <div class="entry-body" id="p-list-div">
      <form id="form1" name="form1" method="post" action="admin_module_currencies.php?action=del_currencies">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
          <tr>
            <td colspan="8" class="searchbar">
            	<div class="alignRight">
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_module_currencies_edit</tpl>" />:<tpl>$admin_module_currencies_edit</tpl><!-- 编辑 --> 
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_module_currencies_del</tpl>" />:<tpl>$admin_module_currencies_del</tpl><!-- 删除 -->
                </div>
              <input type="submit" value="<tpl>$admin_module_currencies_del</tpl>" class="delBtnInput" /><!-- 删除 -->
            </td>
          </tr>
          <tr>
            <th><input type="checkbox" name="all" id="all" /></th>
            <th><tpl>$admin_module_currencies_name</tpl><!-- 货币名称 --></th>
            <th><tpl>$admin_module_currencies_code</tpl><!-- 货币代码 --></th>
            <th><tpl>$admin_module_currencies_unit</tpl><!-- 货币单位 --></th>
            <th><tpl>$admin_module_currencies_rate</tpl><!-- 货币汇率 --></th>
			 <th><tpl>$admin_module_currencies_language</tpl><!-- 对应语言 --></th>
            <th><tpl>$admin_module_currencies_state</tpl><!-- 当前状态 --></th>
            <th><tpl>$admin_module_currencies_oper</tpl><!-- 操作 --></th>
          </tr>
		  <tpl>section name=list loop=$currencies_array</tpl>
          <tr>
            <td><label>
              <input type="checkbox" name="currencies_id[]" value="<tpl>$currencies_array[list].currencies_id</tpl>" id="checkbox2" class="cb" />
            </label></td>
            <td><tpl>$currencies_array[list].currencies_name</tpl></td>
            <td><tpl>$currencies_array[list].currencies_code</tpl></td>
            <td><tpl>$currencies_array[list].currencies_units</tpl></td>
            <td><tpl>$currencies_array[list].currencies_rate</tpl></td>
			<td><tpl>if $currencies_array[list].language_name!=''</tpl><tpl>$currencies_array[list].language_name</tpl><tpl>else</tpl><tpl>$admin_module_currencies_no_select</tpl><tpl>/if</tpl></td>
            <td><tpl>if $currencies_array[list].currencies_state=='1'</tpl><tpl>$admin_module_currencies_default</tpl><tpl>else</tpl><tpl>$admin_module_currencies_nodefault</tpl><tpl>/if</tpl></td>
            <td>
            	<a href="admin_module_currencies.php?action=add_currencies&currencies_id=<tpl>$currencies_array[list].currencies_id</tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_module_currencies_edit</tpl>" /><!-- 编辑 --></a>
			<tpl>if $currencies_array[list].currencies_state!='1'</tpl> 
            <a href="admin_module_currencies.php?action=del_currencies&currencies_id=<tpl>$currencies_array[list].currencies_id</tpl>"  onclick="return confirm('<tpl>$admin_module_currencies_del_info</tpl>')"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_module_currencies_del</tpl>" /><!-- 删除 --></a>
			<tpl>/if</tpl>
			</td>
          </tr>
		  <tpl>/section</tpl>
          <tr>
            <td colspan="8" class="searchbar">
            	<div class="alignRight">
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_edit.gif" title="<tpl>$admin_module_currencies_edit</tpl>" />:<tpl>$admin_module_currencies_edit</tpl><!-- 编辑 --> 
					<img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_module_currencies_del</tpl>" />:<tpl>$admin_module_currencies_del</tpl><!-- 删除 -->
                </div>
              <input type="submit" value="<tpl>$admin_module_currencies_del</tpl>" class="delBtnInput" /><!-- 删除 -->
              </td>
          </tr>
        </table>
      </form>
    </div>
    <!--  end of entry-body  -->
<tpl>include_php file ='admin_footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
