<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_module_manage</tpl> - <tpl>$admin_module_pay_list</tpl></title><!-- 模块管理 - 支付列表 -->
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/toolbox.css" />
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/main.css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
</head>

<body id="goodsList">
<div id="content">
    <h2><span class="alignRight"><a href="admin_module_pay.php?action=pay_area" target="_self">{<tpl>$admin_module_pay_region_list</tpl>}</a></span><!-- 支付区域 -->  <tpl>$admin_header_module_manage</tpl> >> <tpl>$admin_module_pay_list</tpl><!-- 模块管理 >> 支付列表 -->
    	  
	</h2>
    <div class="entry-body" id="p-list-div">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
         <tr>
          	<td colspan="5" class="searchbar">
            <div class="textRight">
             <img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_add.gif" />:<tpl>$admin_module_pay_install</tpl><!-- 安装 -->
             <img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_edit.gif" />:<tpl>$admin_module_pay_edit</tpl><!-- 编辑 -->
             <img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_del.gif"/>:<tpl>$admin_module_pay_uninstall</tpl><!-- 卸载 -->
            </div>
			</td>
		</tr>
          <tr>
            <th><tpl>$admin_module_pay_name</tpl><!-- 支付名称 --></th>
            <th width="40%"><tpl>$admin_module_pay_desc</tpl><!-- 支付描述 --></th>
            <th><tpl>$admin_module_pay_price</tpl><!-- 支付手续费 --></th>
            <th><tpl>$admin_module_pay_sort</tpl><!-- 排序 --></th>
            <th><tpl>$admin_module_pay_oper</tpl><!-- 操作 --></th>
          </tr>
		<tpl>section name=list loop=$pay_type_array</tpl>
          <tr>
            <td><tpl>$pay_type_array[list].name</tpl></td>
            <td class="textLeft"><tpl>$pay_type_array[list].info</tpl></td>
            <td class="flag"><tpl>$pay_type_array[list].pay_fee</tpl></td>
            <td><tpl>$pay_type_array[list].pay_sort</tpl></td>
            <td>
				<tpl>if $pay_type_array[list].install!=1</tpl>
				<a href="admin_module_pay.php?action=add_pay_type&code=<tpl>$pay_type_array[list].code</tpl>&pay_area_directory=<tpl>$smarty.get.pay_area_directory</tpl><tpl>if $pay_type_array[list].pay_id!=''</tpl>&pay_id=<tpl>$pay_type_array[list].pay_id</tpl><tpl>/if</tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_add.gif" title="<tpl>$admin_module_pay_install</tpl>" /></a><!-- 安装 -->
				<tpl>else</tpl>
				<a href="admin_module_pay.php?action=add_pay_type&pay_id=<tpl>$pay_type_array[list].pay_id</tpl>&code=<tpl>$pay_type_array[list].code</tpl>&pay_area_directory=<tpl>$smarty.get.pay_area_directory</tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_edit.gif" title="<tpl>$admin_module_pay_edit</tpl>" /></a><!-- 编辑 -->
				<a href="admin_module_pay.php?action=del_pay_type&pay_id=<tpl>$pay_type_array[list].pay_id</tpl>&pay_area_directory=<tpl>$smarty.get.pay_area_directory</tpl>"  onclick="return confirm('<tpl>$admin_module_pay_del_info</tpl>')"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_del.gif" title="<tpl>$admin_module_pay_uninstall</tpl>" /></a><!-- 卸载 -->
				<tpl>/if</tpl>	
			</td>
          </tr>
		  <tpl>/section</tpl>
          <tr>
          	<td colspan="5" class="searchbar">
            <div class="textRight">
             <img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_add.gif" />:<tpl>$admin_module_pay_install</tpl><!-- 安装 -->
             <img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_edit.gif" />:<tpl>$admin_module_pay_edit</tpl>
             <img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_app_del.gif"/>:<tpl>$admin_module_pay_uninstall</tpl><!-- 卸载 -->
            </div>
			</td>
          </tr>
        </table>
    </div><!--  end of p-list-div  -->
<tpl>include_php file ='admin_footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->

</body>
</html>
