<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl> $admin_header_tools_manage </tpl> - <tpl> $admin_tool_sql_backup </tpl></title><!-- 工具管理 - 数据库管理 -->
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/toolbox.css" />
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/main.css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	/* 对需要填写验证的信息，进行验证 */
	$("#form1").validate({
		errorClass: "wrong",
		rules: {
			sql_size	: {required:true,minValue:10},
			sql_prefix	: {required:true}
		},
		messages: {
			sql_size	: {required:"<tpl>$admin_tool_sql_backup_size_null</tpl>",minValue:"<tpl>$admin_tool_sql_backup_size_min</tpl>"},
			sql_prefix	: {required:"<tpl>$admin_tool_sql_backup_disc_null</tpl>"}
		}
	});
});
</script>
</head>

<body id="sql">
<div id="content">
  <form id="form1" name="form1" method="post" action="admin_tool_db.php?action=db_back_up">
    <h2><span class="alignRight"><a href="admin_tool_db.php?action=db_sql_revert" target="_self">{<tpl> $admin_tool_sql_revert </tpl><!-- 数据还原 -->}</a></span><tpl>$admin_header_tools_manage</tpl><!-- 工具管理 --> >> <tpl>$admin_tools_db</tpl><!-- 数据库管理 --> >> <tpl>$admin_tool_sql_backup</tpl><!-- 数据备份 -->
    	
	</h2>
    <div class="entry-body">
		<div class="red-notice">
			<p><tpl> $admin_tool_sql_backup_info </tpl><!-- 为了您的数据安全，建议您定期备份数据库。 --></p>
		</div><!--  end of red-notice  -->
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="100"><tpl> $admin_tool_sql_backup_type </tpl><!-- 备份类型 -->:</td>
				<td>  <input type="radio" name="sql_backup_type" value="nc" id="sql_backup_type" checked="checked" />
<tpl> $admin_tool_sql_backup_nc </tpl><!-- 网店数据表 -->
<input type="radio" name="sql_backup_type" value="all" id="sql_backup_type" />
<tpl> $admin_tool_sql_backup_all </tpl><!-- 所有数据表 --></td>
			</tr>
			<tr>
				<td><tpl> $admin_tool_sql_backup_size </tpl><!-- 分卷大小 -->:</td>
				<td><input type="text" name="sql_size" id="sql_size" value="1024" />&nbsp;<span class="red">*</span>
				<div class="check-error"><label style="display:none" for="sql_size" class="wrong" metaDone="true" generated="true"></label></div>
				</td>
			</tr>
			<tr>
				<td><tpl> $admin_tool_sql_backup_disc </tpl><!-- 备份名称前缀 -->:</td>
				<td><input type="text" name="sql_prefix" value="shopnc_sql_file" />&nbsp;<span class="red">*</span>
				<div class="check-error"><label style="display:none" for="sql_prefix" class="wrong" metaDone="true" generated="true"></label></div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="Submit4" value="<tpl> $admin_tool_sql_backup_submit </tpl>" class="btnInput" /><!-- 开始备份 --></td>
			</tr>
		</table>
    </div><!--  end of entry-body  -->
	<div class="clear"></div>
</form>
<tpl>include_php file ='admin_footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
