<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$admin_header_user_manage</tpl> - <tpl>$admin_ask_list</tpl></title><!-- 会员管理 - 客服管理列表 -->
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/toolbox.css" />
<link type="text/css" rel="stylesheet" href="<tpl>$Site_Url</tpl>/admin/templates/css/main.css" />
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/js/jquery/jquery.js"></script>
<script type="text/javascript" src="<tpl>$Site_Url</tpl>/admin/templates/global.js"></script>
</head>

<body>
<div id="content">
	<h2><span class="alignRight"><a href="<tpl>$Site_Url</tpl>/admin/admin_ask.php?action=ask_cate" target="_self">{<tpl>$admin_ask_list_cate</tpl><!-- 问题类别 -->}</a><!-- <a href="<tpl>$Site_Url</tpl>/admin/admin_ask.php?action=ask_handle" target="_self">{处理情况}</a><a href="<tpl>$Site_Url</tpl>/admin/admin_ask.php?action=ask_sample" target="_self">{回复样本}</a> --></span><tpl>$admin_header_user_manage</tpl><!-- 会员管理 --> >> <tpl>$admin_ask_list</tpl><!-- 客服管理列表 -->
		
	</h2>
    <div class="entry-body" id="p-list-div">
	<form action="admin_ask.php?action=del_ask" method="POST">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="pListTab" class="stripeMe">
          <tr>
            <td colspan="7" class="searchbar">
            	<div class="alignRight">
                	<tpl>$show_page</tpl>
                </div>
              <input type="submit" value="<tpl>$admin_ask_list_del</tpl>" class="delBtnInput" /><!-- 删除 -->
            </td>
          </tr>
          <tr>
            <th><label>
            <input type="checkbox" name="singlecheck_all" id="all" />
            </label></th>
            <th><tpl>$admin_ask_list_cate</tpl><!-- 问题类别 --></th>
            <th><tpl>$admin_ask_list_user</tpl><!-- 用户 --></th>
            <th><tpl>$admin_ask_list_subject</tpl><!-- 主题 --></th>
            <th><tpl>$admin_ask_list_time</tpl><!-- 发表时间 --></th>
			<th><tpl>$admin_ask_list_state</tpl><!-- 处理情况 --></th>
			<th><tpl>$admin_ask_list_oper</tpl><!-- 操作 --></th>
          </tr>
          <tpl>section name=list loop=$ask_array</tpl>
          <tr>
            <td><label>
              <input type="checkbox" name="co_id[]" class="cb" value="<tpl>$ask_array[list].ask_id</tpl>" />
            </label></td>
            <td><tpl>$ask_array[list].cate_name</tpl></td>
            <td><tpl>$ask_array[list].user_name</tpl></td>
            <td><tpl>$ask_array[list].ask_subject</tpl></td>
            <td><tpl>$ask_array[list].ask_time|date_format:"%Y-%m-%d %H:%M"</tpl></td>
			<td class="red"><tpl>if $ask_array[list].if_reply==0</tpl><tpl>$admin_ask_list_no_reply</tpl><!-- 未回复 --><tpl>else</tpl><tpl>$admin_ask_list_reply</tpl><!-- 已回复 --><tpl>/if</tpl></td>
			<td><a href="admin_ask.php?action=reply&ask_id=<tpl>$ask_array[list].ask_id</tpl>" title="<tpl>$admin_ask_list_show</tpl>"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_view.gif" /></a>
			<a href="admin_ask.php?action=del_ask&ask_id=<tpl>$ask_array[list].ask_id</tpl>" onclick="return confirm('<tpl>$admin_ask_list_del_conf</tpl>');"><img src="<tpl>$Site_Url</tpl>/admin/templates/images/icon_cancel.gif" title="<tpl>$admin_ask_list_del</tpl>" /></a><!-- 删除 -->
			</td>
          </tr>
          <tpl>/section</tpl>
          <tr>
            <td colspan="7" class="searchbar">
            	<div class="alignRight">
                	<tpl>$show_page</tpl>
                </div>
              <input type="submit" value="<tpl>$admin_ask_list_del</tpl>" class="delBtnInput" /><!-- 删除 -->
            </td>
          </tr>
        </table>
      </form>
    </div>
    <!--  end of entry-body  -->
<tpl>include_php file ='admin_footer.php'</tpl><!-- 底部版权信息 -->
</div><!--  end of content  -->
</body>
</html>
