<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl> $NCharset </tpl>" />
<tpl> include file ='../head.config.html' </tpl>
<link href="<tpl> $template_dir </tpl>/home/css/ploy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="index_bg"><img src="<tpl> $template_dir </tpl>/home/images/ico-1.jpg"  /></div>
<div class="index_bg-1"><img src="<tpl> $template_dir </tpl>/home/images/ico-2.jpg"  /></div>
<div class="index_bg-2"><img src="<tpl> $template_dir </tpl>/home/images/ico-3.jpg"  /></div>
<div class="index_bg-3"><img src="<tpl> $template_dir </tpl>/home/images/ico-4.jpg"  /><a href="<tpl> $site_url </tpl>/app/credits_act/index.php?action=list"><img src="<tpl> $template_dir </tpl>/home/images/ico-5.jpg"  /></a><img src="<tpl> $template_dir </tpl>/home/images/ico-6.jpg"  /></div>
<div class="index_bg-4"><img src="<tpl> $template_dir </tpl>/home/images/ico-7.jpg"  /></div>
<div class="index_bg-5"></div>
<div class="index_bg-6">
<tpl> include file ='../../../../html/footer.html' </tpl>
</div>
</body>
</html>
