<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<tpl>$nc_charset</tpl>" />
<title><tpl>$site_name</tpl> - Powered by ShopNC</title>
<link href="<tpl> $template_dir </tpl>/css/default.css" rel="stylesheet" type="text/css" />
<link href="<tpl> $template_dir </tpl>/css/headfoot.css" rel="stylesheet" type="text/css" />
</head>
<body>
<tpl>php</tpl>
include(BasePath.'/header.php');
<tpl>/php</tpl>
<div id="infoclue">
<br />
  <tpl>$html_body</tpl>
</div><br /><br />
<tpl>php</tpl>
include(BasePath.'/footer.php');
<tpl>/php</tpl>
</body>
</html>
