<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left">店铺 &gt;&gt; 管理所有店铺</div>
					<div class="gtlbar-right">
							<input class="apd" name="" type="button" />
							<b>添加商品</b>
					</div>
				</div>
				<div class="ibxbar2">
					<div class="on-700">
						<table width="100%" border="0" cellpadding="0">
							<tr>
								<th class="wd">店&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</th>
								<td class="it-1">
									<input class="fct-input" value="" name="" type="text" />
								</td>
								<th class="wd">关&nbsp;键&nbsp;字:</th>
								<td class="it-2" colspan="2">
									<select class="sl-2" name=""></select>	
								</td>
										
							</tr>
							<tr>
								<th class="wd">
									经营范围:
								</th>
								<td class="it-1"> 
									<input class="fct-input" value="" name="" type="text" />
								</td>
								<th class="wd">店铺状态:</th>
								<td class="mk-1"><select class="sl-1" name=""></select></td>
								<td class="mk-2">
									<input class="bthl" name="" value="搜 索" type="button" />
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="fixbgwhite">

				<table class="es">

					<tr class="es-tr">
						<td class="es-1"></td>
						<td class="es-2">店名</td>
						<td class="es-3">店主</td>
						<td class="es-4">分类</td>
						<td class="es-5">开店时间</td>
						<td class="es-6">状态</td>
						<td class="es-7">操作</td>
					</tr>
					<tr class="es-td">
						<td><span class="box-left"><input name="" type="checkbox" value="" /></span></td>
						<td>sdfdf</td>
						<td>sdf</td>
						<td>dddd</td>
						<td>sdf</td>
						<td>sdf</td>
						<td>sdf</td>
					</tr>
					<tr class="es-td">
						<td><span class="box-left"><input name="" type="checkbox" value="" /></span></td>
						<td>sdfdf</td>
						<td>sdf</td>
						<td>sdf</td>
						<td>sdf</td>
						<td>sdf</td>
						<td>sdf</td>
					</tr>
				</table>
			</div>
			<div class="msk-wi">
				<div class="msk">暂无信息</div>
			</div>
			<div class="ibxbot">
				<div class="fle">
					<b>选择:</b>
					<a  href="#"> 全部</a> - <a  href="#">反选</a> - <a href="#">不选</a>
				</div>
				<div class="fri">
					<select style="margin: 2px 0px 0px 4px"  name="select_page_inbox">
						<option value="1">1 / 4</option>
						<option value="2">2 / 4</option>
						<option value="3">3 / 4</option>
						<option value="4">4 / 4</option>
					</select>
				</div>
				<div class="fri">
					[首页 | 上一页 | <a  href="#">下一页</a> | <a href="#">末页</a>] 页数:
				</div>
			</div>
			<div class="ibxbar">
				<div class="ib-top"><input class="bthl" name="" value="删 除" type="button" /></div>	 					
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>
