<tpl> include file='sys_config.head.html' </tpl>
<link href="<tpl> $site_url </tpl>/js/jquery/ui.theme.css" rel="stylesheet" type="text/css" />
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysMenuPromotionsAuction </tpl> &gt;&gt; <tpl> $langSysMenuPromotionsAuctionList </tpl></div>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<form action="product_group.manage.php?action=update" method="post" name="ownaddproduct" id="ownaddproduct">
						<input type="hidden" name="pc_id" id="pc_id" value="<tpl> $product_array.pc_id </tpl>" />
					    <input type="hidden" name="p_code" id="p_code" value="<tpl> $product_array.p_code </tpl>"/>
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
								<tr>
									<th><tpl> $langSysBuyType </tpl>:</th>
									<td><tpl> $langPcamel </tpl></td>
								</tr>
								<tr>
									<th><tpl> $langSysProductCate </tpl>:</th>
									<td><tpl> $product_class_string </tpl></td>
								</tr>
								<tr>
									<th><tpl> $langSysProductType </tpl>:</th>
									<td>
										<input type="radio" value="0" id="on1" name="p_type" <tpl> if $product_array.p_type == 0 </tpl> checked <tpl> /if </tpl> class="input_radio" /><label for="on1"><tpl> $langPnew </tpl></label>
										<input type="radio" value="1" id="on6" name="p_type" <tpl> if $product_array.p_type == 1 </tpl> checked <tpl> /if </tpl> class="input_radio" /><label for="on6"><tpl> $langPold </tpl></label>
						                <input type="radio" value="2" name="p_type" id="on8" <tpl> if $product_array.p_type == 2 </tpl> checked <tpl> /if </tpl> class="input_radio" /><label for="on8"><tpl> $langPnouse </tpl></label>									</td>
								</tr>
								<tpl> if $have_attribute == 1 </tpl>
								<tr>
									<th><tpl> $langSysProductAttribute </tpl>:</th>
									<td>
										<table cellSpacing="0" cellPadding="0" border="0">
										<tpl> foreach from=$product_attribute item=one </tpl>
											<tr>
												<td><tpl> $one.a_name </tpl>:
													<tpl> if $one.a_type == 0 </tpl>
														<select name="attribute_content[]">
															<option value=""></option>
															<tpl> foreach from=$one.content item=two </tpl>
																<option value="<tpl> $two.ac_id </tpl>|<tpl> $two.a_id </tpl>" <tpl> if $two.ischecked eq 1 </tpl> selected <tpl> /if </tpl> ><tpl> $two.ac_content </tpl></option>
															<tpl> /foreach </tpl>
														</select>
													<tpl> /if </tpl>
													<tpl> if $one.a_type == 1 </tpl>
														<tpl> foreach from=$one.content item=two </tpl>
															<input name="attribute_content[]" id="attribute_content_<tpl> $two.ac_id </tpl>" class="input_radio" type="checkbox" value="<tpl> $two.ac_id </tpl>|<tpl> $two.a_id </tpl>" <tpl> if $two.ischecked eq 1 </tpl> checked <tpl> /if </tpl> ><label for="attribute_content_<tpl> $two.ac_id </tpl>"><tpl> $two.ac_content </tpl></label>
														<tpl> /foreach </tpl>
													<tpl> /if </tpl>												</td>
											</tr>
										<tpl> /foreach </tpl>
										</table>									</td>
								</tr>
								<tpl> /if </tpl>
								<tr>
									<th><tpl> $langSysPBrand </tpl>:</th>
									<td>
										<input type="hidden" name="p_pb_id" id="p_pb_id" value="<tpl> $product_array.p_pb_id </tpl>" />
							        	<select id="brand_c1" name="brand_c1" style="width: 120px">
											<option valus="" selected></option>
											<tpl> foreach item = parent from = $brand_list </tpl>
												<option <tpl> if $sel_brand[0].pb_id eq $parent.pb_id </tpl> selected <tpl> /if  </tpl> value="<tpl>$parent.pb_id</tpl>||<tpl>$parent.is_parent</tpl>"><tpl> $parent.pb_name </tpl></option>
											<tpl> /foreach </tpl>
										</select>
										<select id="brand_c2" name="brand_c2" style="width: 120px">
											<option valus="<tpl> $sel_brand[1].pb_id </tpl>" selected><tpl> $sel_brand[1].pb_name </tpl></option>
										</select>
										<select id="brand_c3" name="brand_c3" style="width: 120px">
											<option valus="<tpl> $sel_brand[2].pb_id </tpl>" selected><tpl> $sel_brand[2].pb_name </tpl></option>
										</select>									</td>
								</tr>
								<tr>
									<th><label for='p_name'><tpl> $langSysProductBabyName </tpl>:</label></th>
									<td>
										<input id="p_name" name="p_name" class="fct-input" value="<tpl> $product_array.p_name </tpl>" />									</td>
								</tr>
								<tr>
							        <th><label for='p_price'><tpl> $langOldPrice </tpl>:</label></th>
							        <td>
							        	<input type="text" id="p_price" class="fct-input" name="p_price" value="<tpl> $product_array.p_price </tpl>" />(<tpl> $exchange_array.exchange_remark </tpl>/<tpl> $langCYuan </tpl>)							        </td>
						        </tr>
								<tr>
							        <th><label for='p_group_price'><tpl> $langGroupPrice </tpl>:</label></th>
							        <td>
							        	<input type="text" id="p_group_price" class="fct-input" name="p_group_price" value="<tpl> $product_array.p_group_price </tpl>" />(<tpl> $exchange_array.exchange_remark </tpl>/<tpl> $langCYuan </tpl>)							        </td>
						        </tr>
								<tr>
							        <th><label for='max_count'><tpl> $langSysProductAGroupMaxCount </tpl>:</label></th>
							        <td>
							        	<input type="text" id="max_count" class="fct-input" name="max_count" value="<tpl> $group_array.max_count </tpl>" />							        </td>
						        </tr>
								<tr>
							        <th><label for='p_price'><tpl> $langSysProductAGroupMinnum </tpl>:</label></th>
							        <td>
							        	<input type="text" id="p_min_count" class="fct-input" name="p_min_count" value="<tpl> $group_array.min_count </tpl>" />							        </td>
						        </tr>
								<tr>
									<th><label for='p_storage'><tpl> $langSysProductStorage </tpl>:</label></th>
									<td>
										<input size="5" class="fct-input" name="p_storage" id="p_storage" value="<tpl> $product_array.p_storage|default:2 </tpl>" />&nbsp;<tpl> $langSysProductAPiece </tpl>									</td>
								</tr>
								<tr>
							        <th><label for='p_set_money'><tpl> $set_money </tpl>:</label></th>
							        <td>
							        	<input type="text" id="p_set_money" class="fct-input" name="p_set_money" value="<tpl> $group_array.set_money </tpl>" />							        </td>
						        </tr>
								<tr>
							        <th><label for='p_start_date'><tpl> $langSysProductStartTime </tpl>:</label></th>
							        <td>
							        	<input type="text" readonly="readonly" id="p_start_date" class="fct-input" name="p_start_date" value="<tpl> $product_array.p_start_time </tpl>" />							        </td>
						        </tr>
								<tr>
							        <th><label for='p_end_date'><tpl> $langSysProductEndTime </tpl>:</label></th>
							        <td>
							        	<input type="text" readonly="readonly" id="p_end_date" class="fct-input" name="p_end_date" value="<tpl> $product_array.p_end_time </tpl>" />							        </td>
						        </tr>
								<tr>
							        <th><label for='cp_product_comments'><tpl> $langSysProductComments </tpl>:</label></th>
							        <td>
							        	<textarea id="cp_product_comments" name="cp_product_comments" rows="5" cols="38"><tpl>$group_array.product_comments</tpl></textarea>							        </td>
						        </tr>
								<tr>
							        <th><label for='cp_web_comments'><tpl> $langSysWebComments </tpl>:</label></th>
							        <td>
							        	<textarea id="cp_web_comments" name="cp_web_comments" rows="5" cols="38"><tpl> $group_array.web_comments </tpl></textarea>							        </td>
						        </tr>
								<tr>
									<th><tpl> $langUploadPic </tpl>:</th>
									<td>
										<div class="up-img">
											<ul>
												<tpl> foreach from=$pic_array item=one </tpl>
													<li><div class="box-2"><img src="<tpl> $site_url </tpl>/<tpl> $one.small_pic </tpl>" style="width:105px; height:80px" /></div><p><a name="<tpl> $one.p_pic </tpl>" class="a-1" href="javascript:;" onclick="CopyToClipboard('<tpl> $site_url </tpl>/<tpl> $one.p_pic </tpl>');"><tpl> $langSysInToEditor </tpl></a><a class="a-2" href='javascript:;' onclick=ajaxFileDel("<tpl> $one.small_pic </tpl>",this);><tpl> $langPDel </tpl></a></p></li>
												<tpl> /foreach </tpl>
											</ul>
										</div>
										<div class="clear-5"></div>
										<input type="file" name="uploadify" id="uploadify" />
										<div id="fileQueue"></div>
										<input type="hidden" value="" name="pichidden" id="pichidden" />
										<a class="a-3" href="javascript:;" onclick="$('#uploadify').uploadifyUpload();"><tpl> $langSysStartUploadPic </tpl></a>
										<div id="div_pic_upload" style=" padding-top:3px;"></div>									</td>
								</tr>
								<tr>
									<th><tpl> $langProductInfo </tpl>:</th>
									<td>
										<div id="fcks">
										<tpl>php</tpl>
											include_once('../classes/resource/editor/editor.class.php');
											$editor=new editor('p_intro');
											$editor->Value=$this->_tpl_vars['product_array']['p_intro'];
											$editor->BasePath='../classes/resource/editor';
											$editor->Height=460;
											$editor->Width=621;
											$editor->AutoSave=false;
											$editor->Create();
										<tpl>/php</tpl>										</div>									</td>
								</tr>
						        <tr>
						          <th><tpl> $langSysProductPayment </tpl>:</label></th>
						          <td><tpl> foreach from=$payment_array item=one key=key  </tpl>
											<input onclick="if(this.checked == true){select_cur('<tpl> $one.currency_line </tpl>');}else{select_no_cur('<tpl> $one.currency_line </tpl>','<tpl> $key </tpl>');}" type="checkbox" <tpl> if $one.check eq '1' </tpl> checked <tpl> /if </tpl> value="<tpl> $key </tpl>" name="txtPayment[<tpl> $key </tpl>]" id="txtPayment_<tpl> $key </tpl>" class="input_radio" /><label for="txtPayment_<tpl> $key </tpl>"><tpl> $one.name </tpl></label>
											<input type="hidden" name="payment_cur_<tpl> $key </tpl>" id="payment_cur_<tpl> $key </tpl>" value="<tpl> $one.currency_line </tpl>" />
									<tpl> /foreach </tpl></td>
					          </tr>
						        <tr>
							        <th><tpl> $langProductArea </tpl>:</th>
							        <td>
							        	<input type="hidden" name="p_area_id" id="p_area_id" value="<tpl> $product_array.p_area_id </tpl>" />
										<div id="adddiv"></div></td>
						        </tr>
						        <tr>
							        <th><tpl> $langSysTranFee </tpl>:</th>
							        <td>
										<input name="p_transfee_charge" type="radio" value="0" class="input_radio" checked /><tpl> $langSelaTranFee </tpl>
										<input name="p_transfee_charge" type="radio" value="1" class="input_radio" disabled  /><tpl> $langProductAListBear </tpl>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langInvoices </tpl>:</th>
							        <td>
							        	<input type="radio" class="input_radio" id="p_have_invoices_0" value="0" name="p_have_invoices"  <tpl> if $product_array.p_have_invoices eq 0 </tpl> checked <tpl> /if </tpl> /><label for="p_have_invoices_0"><tpl> $langCNot </tpl></label>
          								<input type="radio" class="input_radio" id="p_have_invoices_1" value="1" name="p_have_invoices"  <tpl> if $product_array.p_have_invoices eq 1 </tpl> checked <tpl> /if </tpl> /><label for="p_have_invoices_1"><tpl> $langCHave </tpl></label>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langWarranty </tpl>:</th>
							        <td>
							        	<input type="radio" class="input_radio" id="warrantyN" value="0" name="p_have_warranty" <tpl> if $product_array.p_have_warranty eq 0 </tpl> checked <tpl> /if </tpl> /><label for="warrantyN"><tpl> $langCNot </tpl></label>
          								<input type="radio" class="input_radio" id="warrantyY" value="1" name="p_have_warranty" <tpl> if $product_array.p_have_warranty eq 1 </tpl> checked <tpl> /if </tpl> /><label for="warrantyY"><tpl> $langCHave </tpl></label>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langPattestation </tpl>:</th>
							        <td>
							        	<label for="p_genuine"><input type="checkbox" name="p_genuine" id="p_genuine" value="1" <tpl> if $product_array.p_genuine eq '1' </tpl> checked <tpl> /if </tpl> class="input_radio" /><img src="<tpl> $site_url </tpl>/templates/system/images/pic_zp.gif" align="absmiddle" alt="<tpl> $langPgenuine </tpl>" /><tpl> $langPgenuine </tpl></label>
        								<label for="p_7day_return"><input type="checkbox" name="p_7day_return" id="p_7day_return" value="1" <tpl> if $product_array.p_7day_return eq '1' </tpl> checked <tpl> /if </tpl> class="input_radio" /><img src="<tpl> $site_url </tpl>/templates/system/images/pic_7day.gif" align="absmiddle" alt="<tpl> $langP7dayreturn </tpl>" /><tpl> $langP7dayreturn </tpl></label>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langSysValidDays </tpl>:</th>
							        <td>
							        	<span class="dptn-1"><tpl> $langSysProductABabyInfoIssueTime </tpl></span>
							        	<input type="text" name="p_valid_days" id="p_valid_days" size="8" value="<tpl> $product_array.p_valid_days </tpl>" class="fct-input" />&nbsp;<tpl> $langPday </tpl>							        </td>
						        </tr>
						        <tr id="republish">
							        <th><tpl> $langProductAAutoPublish </tpl>:</th>
							        <td>
							        	<span class="dptn-1"><tpl> $langSysProductASystemHelpYouAuto </tpl></span>
							        	<input type="checkbox" value="1" name="p_auto_publish" id="p_auto_publish" <tpl> if $product_array.p_auto_publish == "1" || $product_array.p_auto_publish == "" </tpl> checked <tpl> /if </tpl> class="input_radio" /><label for="chxAutopublish"><tpl> $langCYes </tpl></label>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langRecommended </tpl>:</th>
							        <td>
							        	<input type="checkbox" class="input_radio" value="1" name="p_recommended" id="p_recommended" <tpl> if $product_array.p_recommended == "1" </tpl> checked <tpl> /if </tpl> /><label for="p_recommended"><tpl> $langCYes </tpl></label>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langProductARemark </tpl>:</th>
							        <td>
	    								<textarea class="fct-input-5" id="p_remark" name="p_remark"><tpl> $product_array.p_remark </tpl></textarea>							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langPKeywords </tpl>:</th>
							        <td>
							        	<span class="dptn-1"><tpl> $langPKeywordsRemark </tpl></span>
	    								<input type="text" name="p_keywords" id="p_keywords" value="<tpl> $product_array.p_keywords </tpl>" class="fct-input" />							        </td>
						        </tr>
						        <tr>
							        <th><tpl> $langPDescription </tpl>:</th>
							        <td>
							        	<span class="dptn-1"><tpl> $langPDescriptionRemark </tpl></span>
	    								<textarea class="fct-input-5" id="p_description" name="p_description"><tpl> $product_array.p_description </tpl></textarea>							        </td>
						        </tr>
							</table>
						</div>
						<div class="bth-ct">
							<div class="bth-pl">
								<input type="submit" class="bthl" value="<tpl> $langCsubmit </tpl>" />
								<input type="hidden" name="curpage" value="<tpl> $curpage </tpl>" />
								<input type="button" class="bthl" value="<tpl> $langCReturn </tpl>" onclick="location.href='product_auction.manage.php?action=ajax_list&curpage=<tpl>$curpage</tpl>'" />
							</div>
						</div>
					</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>
<script src="<tpl> $site_url </tpl>/js/jquery/ui.datepicker.js"></script>
<script type="text/javascript" src="../js/uploadify/swfobject.js"></script>
<script type="text/javascript" src="../js/uploadify/jquery.uploadify.v2.1.0.min.js"></script>
<script src="<tpl> $site_url </tpl>/js/addselect.js"></script>
<script>
$(document).ready(function(){
	$('#p_start_date').datepicker({
		dateFormat:'yy-mm-dd',
		changeMonth: true,
		changeYear: true
	});
	$('#p_end_date').datepicker({
		dateFormat:'yy-mm-dd',
		changeMonth: true,
		changeYear: true
	});
});

function updatapic()
{
	$("#p_pic").val($(".up-img").children("ul").children("li:first").children("p").children("a:first").attr('name'));
}
function CopyToClipboard(txt)
{
   if(window.clipboardData) {        
              window.clipboardData.clearData();        
              window.clipboardData.setData("Text", txt);        
      } else if(navigator.userAgent.indexOf("Opera") != -1) {        
           window.location = txt;        
      } else if (window.netscape) {        
          try {        
                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");        
           } catch (e) {
                alert("<tpl> $errSysPCopyFail </tpl>");
           }        
          var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);        
          if (!clip)        
               return;        
          var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);        
          if (!trans)        
              return;        
           trans.addDataFlavor('text/unicode');        
          var str = new Object();        
          var len = new Object();        
          var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);        
          var copytext = txt;        
           str.data = copytext;        
           trans.setTransferData("text/unicode",str,copytext.length*2);        
          var clipid = Components.interfaces.nsIClipboard;        
          if (!clip)        
               return false;        
           clip.setData(trans,null,clipid.kGlobalClipboard);        
           alert("<tpl> $langSysPCopySucc </tpl>")        
      }        
}
function upfile()
{
	$('#uploadify').uploadifyUpload();
}
var picobj="";

$(document).ready(function() {

	//选择商品所在地
	$('#adddiv').addSelect({
					ajaxUrl:'../home/tohtml.php',
					ajaxAction:'get_area',
					type:'modi',
					modi_id:'<tpl> $product_array.p_area_id </tpl>',
					hiddenId:'p_area_id'
				});
	tonext_brand('#brand_c1');
	//tonext_edit('#pc_c1');
	
	$('#p_system_step_0').click(function(){
		$('#p_price_step').attr('readonly',false).attr('disabled',false);
	});
	$('#p_system_step_1').click(function(){
		$('#p_price_step').attr('readonly',true).attr('disabled',true);
	});
	<tpl> if $product_array.p_system_step eq '1' </tpl>
		$('#p_system_step_1').trigger('click');
	<tpl> else </tpl>
		$('#p_system_step_0').trigger('click');
	<tpl> /if </tpl>
	
	$("#uploadify").uploadify({
		'uploader'       : '../js/uploadify/uploadify.swf',
		'script'         : 'product_auction.manage.php?action=pic_ajax&PHPSESSID=<tpl> $PHPSESSID </tpl>',
		'scriptData'	 :{'action':'pic_ajax','PHPSESSID':'<tpl> $PHPSESSID </tpl>'},
		'fileDataName'   : 'fileData',
		'cancelImg'      : 'cancel.png',
		'folder'         : '../uploads',
		'queueID'        : 'fileQueue',
		'auto'           : false,
		'multi'          : true,
		'sizeLimit'      : <tpl> $upload_max_size*1000 </tpl>,
		'buttonText'	 : "select",
		'fileDesc'       : '<tpl> $langSysPSupportFormat </tpl>:<tpl> $upload_type </tpl>', 
    	'fileExt'        : '<tpl> $upload_ext </tpl>',
		'queueSizeLimit' : 5-$(".up-img").children("ul").children("li").length,
		'buttonImg'      : '../templates/member/images/zengjia.gif',
		'cancelImg'      : '../templates/member/images/cancel.png',
		'onComplete'     : function(e,queueId,fileObj,data){
							datas=data.split(".");
							$(".up-img").children("ul").append('<li><div class="box-2"><input type="hidden" value="'+data+'"><img src="<tpl> $site_url </tpl>/'+datas[0]+'_small.'+datas[1]+'" style="width:105px; height:80px" /></div><p><a class="a-1" name="'+data+'" href="javascript:;" onclick="CopyToClipboard(\'<tpl> $site_url </tpl>/'+data+'\');"><tpl> $langSysInToEditor </tpl></a><a class="a-2" href="javascript:;" onclick=\'ajaxFileDel("'+datas[0]+'_small.'+datas[1]+'",this);\'><tpl> $langPDel </tpl></a></p></li>');
							$('#uploadify').uploadifySettings('queueSizeLimit',5-$(".up-img").children("ul").children("li").length);
						},
		'onQueueFull'	: function(e,q){
							alert("<tpl> $langPPicNumOne </tpl>5<tpl> $langPPicNumTwo </tpl>");
							return false;
						},
		'onAllComplete':function(){
							picobj="";
							$.each($(".up-img").children("ul").children("li").children("div").children("input"),function(){
								picobj+=$(this).val()+"|||";
							});
							$("#pichidden").val(picobj);
						},
		'onError':function(event,id,fileObj,errorObj){
			if(errorObj.type=="File Size")
			{
				$("#uploadify"+id).children(".percentage").html("<tpl> $errSysPFileSizeNotBeyond </tpl><tpl> $upload_max_size </tpl>KB");
				$("#uploadify"+id).attr("class","uploadifyQueueItem uploadifyError");
				return false;
			}
		}
	});

	$("#ownaddproduct").validate({
		errorClass: "wrong",
		rules: {
			//pc_id:{required:true},
			p_name: {required:true},
			p_storage: {
				required:true,
				number:true,
				min: 2
			},
			p_price: {
				required: true,
				number: true,
				min: 0.01
			},
			p_price_step: {
				required: "#p_system_step_0:checked",
				number: "#p_system_step_0:checked",
				min: function(){
					if($("#p_system_step_0").attr('checked')==true){
						return 1;
					}else{
						return 0;
					}
				}
			},
			p_area_id: {required: true},
			p_valid_days: {
				required: true,
				number: true,
				min: 1,
				max: 99
			}
		},
		messages: {
			p_name: {required: "<tpl> $errProductNameEmpty </tpl>"},
			p_storage: {
				required: "<tpl> $errPstorage </tpl>",
				number: "<tpl> $errPstorage </tpl>",
				min: "<tpl> $errPstorage </tpl>"
			},
			p_price: {required: "<tpl> $errSysMinimumbidWrong </tpl>",number: "<tpl> $errSysMinimumbidWrong </tpl>",min: "<tpl> $errSysMinimumbidWrong </tpl>"},
			p_price_step: {required: "<tpl> $langProductAUserDefinedUppriceIsEmpty </tpl>",number: "<tpl> $langProductAUserDefinedUppriceIsEmpty </tpl>",min: "<tpl> $langProductAUserDefinedUppriceIsEmpty </tpl>"},
			p_area_id: {required: "<tpl> $errProvince </tpl>"},
			p_valid_days: {required: "<tpl> $errValiddays </tpl>",number: "<tpl> $errValiddays </tpl>",min: "<tpl> $errValiddays </tpl>",max: "<tpl> $errValiddays </tpl>"}
		}
	});
});

function ajaxFileDel(pic_url,obj){
	$.ajax({
		url: "product.manage.php",
		data: 'action=pic_del&pic_name='+pic_url,
		type:'post',
		dataType:"json",
		success: function(msg){
			if(msg.type == '0'){
				alert(msg.message);
			}else{
				$(obj).parents("li").remove();
			}
		}
	});
	return false;
}

function tonext_brand(whos) {
	$(whos).change(
		function(){
			var valarray=$(this).val().split('||');
			$('#p_pb_id').val(valarray[0]);
			if (valarray[1]=='1') {
				$(this).next().attr('disabled','true').html('<option value="" selected="selected"><tpl> $langCDataToLoading </tpl></option>');
				$.ajax({
					url: '../home/tohtml.php',
					data: 'action=get_brand&id='+valarray[0],
					success: function (data) {
						DataArray = data.split("|||");
						var a='';
						for (var i = 0; i<DataArray.length-1; i++) {
							att=DataArray[i].split("||");
							id=att[0];
							cla=att[2];
							a+='<option value="'+id+'||'+cla+'">'+att[1]+((cla=='1')?' ->':'')+'</option>';
						}
						$(whos).next().removeAttr('disabled').html('<option value="" selected="selected"></option>'+a).nextAll().html('');
						tonext_brand($(whos).next());
					}
				});
			} else {
				$(whos).nextAll().html('').attr('disabled','true');
			}
		}
	)
}
</script>