<table class="shop-breeze">
	<tpl> section name=listclass loop=$shop_class_array </tpl> 
		<tr>
			<td colspan="2">&nbsp;&nbsp;&nbsp;
			<input <tpl> if $shop_class_array[listclass].is_check eq '1' </tpl> checked="checked" <tpl> /if </tpl> type="checkbox" name="check_id_<tpl> $shop_class_array[listclass].class_id </tpl>" id="check_id_<tpl> $shop_class_array[listclass].class_id </tpl>" onclick="shop_class_set_check(this.value);" value="<tpl> $shop_class_array[listclass].class_id </tpl>" class="input_radio" />
			<tpl> $shop_class_array[listclass].class_name </tpl>
			<tpl> $langCSort </tpl>:&nbsp;<input onblur="shop_class_set_check(<tpl> $shop_class_array[listclass].class_id </tpl>);" name="sort_<tpl> $shop_class_array[listclass].class_id </tpl>" id="sort_<tpl> $shop_class_array[listclass].class_id </tpl>" type="text" value="<tpl> $shop_class_array[listclass].sort_value|default:'0' </tpl>" size="5" maxlength="5" class="fct-input-2" />
			</td>
		</tr>
	<tpl> /section </tpl>
</table>
