<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysCHelp </tpl> &gt;&gt; <tpl> $langSysHListClass </tpl></div>
					<div class="gtlbar-right" onclick="location.href='help.manage.php?action=add_class'">
							<input class="apd" name="" type="button" />
							<b><tpl> $langSysHAddClass </tpl></b>
					</div>
				</div>
			</div>
			<form action="help.manage.php" id="form_del" name="form_del" method="post" onsubmit="return confirm_alert('<tpl> $langSysHDelClassConfirm </tpl>');">
			<input type="hidden" name="action" id="action" value="del_class" />
			<div class="fixbgwhite">
				<table class="es" id="bianse">
					<tr class="es-tr">
						<td class="es-6"><tpl> $langSysHSel </tpl></td>
						<td class="es-4"><tpl> $langSysHName </tpl></td>
						<td class="es-2"><tpl> $langSysHManage </tpl></td>
					</tr>
					<tpl> if $class_array[0].h_id neq '' </tpl>
						<tpl> section name=loop loop=$class_array </tpl>
					<tr class="es-td">
						<td id="check-1"><input name="h_id[]" type="checkbox" value="<tpl> $class_array[loop].h_id </tpl>"/></td>
						<td><tpl> $class_array[loop].h_title </tpl></td>
						<td><a href="help.manage.php?action=modi_class&h_id=<tpl> $class_array[loop].h_id </tpl>&curpage=<tpl>$curpage</tpl>"><tpl> $langSysHEdit </tpl></a>
						 | 
						<a href="help.manage.php?action=list&h_parent_id=<tpl> $class_array[loop].h_id </tpl>"><tpl> $langSysHListInfo </tpl></a>
						</td>
					</tr>
						<tpl> /section </tpl>
					<tpl> /if </tpl>
				</table>
			</div>
			<tpl> if $class_array[0].h_id eq '' </tpl>
				<div class="msk-wi">
					<div class="msk"><tpl> $langSysCNoThing </tpl></div>
				</div>
			<tpl> /if </tpl>
			<div class="ibxbot">
				<div class="fle">
					<b><tpl> $langSysSel </tpl>:</b>
					<a href="javascript:;" onclick="sel_all_checkbox('form_del');"><tpl> $langSysAll </tpl></a> - <a href="javascript:;" onclick="sel_negative_checkbox('form_del');"><tpl> $langSysSelNegative </tpl></a> - <a href="javascript:;" onclick="sel_none_checkbox('form_del');"><tpl> $langSysSelNone </tpl></a>
				</div>
				<div class="fri">
					<tpl> if $class_array[0].h_id neq '' </tpl>
					<tpl> $page_list </tpl>
					<tpl> /if </tpl>
				</div>
			</div>
			<div class="ibxbar">
				<input class="bthl" name="" value="<tpl> $langSysCDel </tpl>" type="submit" />	 					
			</div>
			</form>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>
