<tr>
	<td><tpl> $news_array.news_title </tpl></td>
	<td>
		<input type="text" size="4" name="p_sort[<tpl> $news_array.news_id </tpl>]" id="p_sort_<tpl> $news_array.news_id </tpl>" value="0" class="fct-input-2" />
		<input type="hidden" name="news_id[<tpl> $news_array.news_id </tpl>]" id="news_id_<tpl> $news_array.news_id </tpl>" value="<tpl> $news_array.news_id </tpl>" />
	</td>
	<td>
		<a href="javascript:;" onclick="var row=jquery(this).parent().parent();row.fadeOut('normal', function() {row.remove();});" title="<tpl> $langCdele </tpl>"><tpl> $langCdele </tpl></a>
	</td>
</tr>