<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysPaymentInterfaceManage </tpl> &gt;&gt; 
						<tpl> if $config_dir eq 'alipay' </tpl>
							<tpl> $langSysPaymentAlipay </tpl>
						<tpl> elseif $config_dir eq 'tenpay' </tpl>
							<tpl> $langSysPaymentTenpay </tpl>
						<tpl> elseif $config_dir eq 'offline' </tpl>
							<tpl> $langSysPaymentOffline </tpl>
						<tpl> elseif $config_dir eq 'paypal' </tpl>
							paypal
						<tpl> else </tpl>
							<tpl> $langSysPaymentPredeposit </tpl>
						<tpl> /if </tpl> &gt;&gt; <tpl> $langSysPaymentSetup </tpl>
					</div>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<form action="payment.manage.php" id="form_modi" name="form_modi" method="post">
						<input type="hidden" name="action" value="setup_end" />
						<input type="hidden" name="config_file" id="config_file" value="<tpl> $config_file </tpl>" />
						<input type="hidden" name="config_dir" id="config_dir" value="<tpl> $config_dir </tpl>" />
						<input type="hidden" name="param_line" id="param_line" value="<tpl> $param_line </tpl>" />
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
							<tpl> if $config_dir eq 'alipay' </tpl>
								<tpl> section name=loop loop=$value_array </tpl>
									<tr id="alipay_info_<tpl> $value_array[loop].param </tpl>">
										<th><tpl> $value_array[loop].name </tpl>:</th>
										<td>
											<tpl> if $value_array[loop].type eq 'text' </tpl>
												<input type="text" class="fct-input" name="<tpl> $value_array[loop].param </tpl>" id="<tpl> $value_array[loop].param </tpl>" value="" />
											<tpl> /if </tpl>
											<tpl> if $value_array[loop].type eq 'select' </tpl>
												<select name="<tpl> $value_array[loop].param </tpl>">
													<tpl> foreach item=one from=$value_array[loop].option key=key </tpl>
														<option value="<tpl> $key </tpl>"><tpl> $one </tpl></option>
													<tpl> /foreach </tpl>
												</select>
											<tpl> /if </tpl>
										</td>
									</tr>
								<tpl> /section </tpl>
									<tr>
										<th><tpl> $langSysPaymentMode </tpl>:</th>
										<td>
											<span class="dptn"><tpl> $langSysPaymentModeExplain1 </tpl><br/><font color="red"><tpl> $langSysPaymentModeExplain2 </tpl></font></span>
											<input type="radio" class="input_radio" name="config_mode" id="config_mode_0" value="0" onclick="return alipay_mode_set()" checked="checked" /><label for="config_mode_0"><tpl> $langSysPaymentAlipaySeller </tpl></label>
											<input type="radio" class="input_radio" name="config_mode" id="config_mode_1" value="1" onclick="return alipay_mode_set()" /><label for="config_mode_1"><tpl> $langSysPaymentAlipaySystem </tpl></label>
										</td>
									</tr>								
									<tr>
										<th><tpl> $langSysPaymentIfOpen </tpl>:</th>
										<td>
											<input type="radio" class="input_radio" name="config_state" id="config_state_1" value="1" checked="checked" /><label for="config_state_1"><tpl> $langSysPaymentToOpened </tpl></label>
											<input type="radio" class="input_radio" name="config_state" id="config_state_0" value="0" /><label for="config_state_0"><tpl> $langSysPaymentToClosed </tpl></label>
										</td>
									</tr>								
							<tpl> else </tpl>
								<tpl> section name=loop loop=$value_array </tpl>
									<tr>
										<th><tpl> $value_array[loop].name </tpl>:</th>
										<td>
											<tpl> if $value_array[loop].type eq 'text' </tpl>
												<input type="text" class="fct-input" name="<tpl> $value_array[loop].param </tpl>" id="<tpl> $value_array[loop].param </tpl>" value="" />
											<tpl> /if </tpl>
											<tpl> if $value_array[loop].type eq 'select' </tpl>
												<select name="<tpl> $value_array[loop].param </tpl>">
													<tpl> foreach item=one from=$value_array[loop].option key=key </tpl>
														<option value="<tpl> $key </tpl>"><tpl> $one </tpl></option>
													<tpl> /foreach </tpl>
												</select>
											<tpl> /if </tpl>
										</td>
									</tr>
								<tpl> /section </tpl>
									<tr>
										<th><tpl> $langSysPaymentIfOpen </tpl>:</th>
										<td>
											<input type="radio" class="input_radio" name="config_state" id="config_state_1" value="1" checked="checked" /><label for="config_state_1"><tpl> $langSysPaymentToOpened </tpl></label>
											<input type="radio" class="input_radio" name="config_state" id="config_state_0" value="0" /><label for="config_state_0"><tpl> $langSysPaymentToClosed </tpl></label>
										</td>
									</tr>							
							<tpl> /if </tpl>
							</table>
						</div>
						<div class="bth-ct">
							<div class="bth-pl">
								<input class="bthl" value="<tpl> $langSysPaymentModiCommit </tpl>" type="submit" />
								<input type="button" class="bthl" value="<tpl> $langSysCReturn </tpl>" onclick="location.href='payment.manage.php?action=list'" />
							</div>
						</div>
					</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
<script>
$(document).ready(function(){
	$("#form_modi").validate({
		errorClass: "wrong",
		rules: {
			<tpl> section name=loop loop=$value_array </tpl>
			<tpl> $value_array[loop].param </tpl>: {required:checkChecked}
				<tpl> if $smarty.section.loop.rownum < $value_array|@count </tpl>
				,
				<tpl> /if </tpl>
			<tpl> /section </tpl>
		},
		messages: {
			<tpl> section name=loop loop=$value_array </tpl>
			<tpl> $value_array[loop].param </tpl>: {required: "<tpl> $value_array[loop].name </tpl><tpl> $errSysPaymentIsEmpty </tpl>"}
				<tpl> if $smarty.section.loop.rownum < $value_array|@count </tpl>
				,
				<tpl> /if </tpl>
			<tpl> /section </tpl>
		}
	});
	$("#alipay_info_partner").hide();
	$("#alipay_info_security_code").hide();
});
function alipay_mode_set() {
	if ($("input[type=radio][id=config_mode_0]").attr('checked')) {
		$("#alipay_info_partner").hide();
		$("#alipay_info_security_code").hide();
	} else {
		$("#alipay_info_partner").show();
		$("#alipay_info_security_code").show();
	}
	return true;
}
function checkChecked() {
	if ($("input[type=radio][id=config_mode_0]").attr('checked')) {
		return false
	} else {
		return true;
	}
}
</script>
</body>
</html>