<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysStatics </tpl> &gt;&gt; <tpl> $langSysSBuy </tpl></div>
				</div>
				<div class="ibxbar2">
					<div class="on-700">
						<form action="statics_trade.manage.php" method="get" name="form_search" id="form_search">
						<input type="hidden" name="action" value="list" />
						<table width="100%" border="0" cellpadding="0">
							<tr>
								<th class="wd"><tpl> $langSysSBuyType </tpl>:</th>
								<td class="it-1">
									<select name="search_sell_type">
										<option value="" <tpl> if $condition.search_sell_type eq '' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSPleaseSelect </tpl></option>
										<option value="0" <tpl> if $condition.search_sell_type eq '0' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSAuction </tpl></option>
										<option value="1" <tpl> if $condition.search_sell_type eq '1' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSOnePrice </tpl></option>
										<option value="2" <tpl> if $condition.search_sell_type eq '2' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSGroupBuy </tpl></option>
									</select>
								</td>
								<th class="wd"><tpl> $langSysSReputably </tpl>:</th>
								<td class="it-2" colspan="2">
									<select name="search_comment">
										<option value="" <tpl> if $condition.search_comment eq '' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSPleaseSelect </tpl></option>
										<option value="0" <tpl> if $condition.search_comment eq '0' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSCommentOne </tpl></option>
										<option value="1" <tpl> if $condition.search_comment eq '1' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSCommentTwo </tpl></option>
										<option value="2" <tpl> if $condition.search_comment eq '2' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSCommentThree </tpl></option>
										<option value="3" <tpl> if $condition.search_comment eq '3' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSCommentFour </tpl></option>
									</select>
								</td>
							</tr>
							<tr>
								<th class="wd"><tpl> $langSysSOrderEstate </tpl>:</th>
								<td class="it-2" colspan="2"> 
									<select name="search_sp_state">
										<option value="" <tpl> if $condition.search_sp_state eq '' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSPleaseSelect </tpl></option>
										<option value="0" <tpl> if $condition.search_sp_state eq '0' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSBuyed </tpl></option>
										<option value="1" <tpl> if $condition.search_sp_state eq '1' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSPayed </tpl></option>
										<option value="2" <tpl> if $condition.search_sp_state eq '2' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSSended </tpl></option>
										<option value="3" <tpl> if $condition.search_sp_state eq '3' </tpl> selected="selected" <tpl> /if </tpl>><tpl> $langSysSReceived </tpl></option>
									</select>
								</td>
								<td class="mk-2"><input class="bthl" name="" value="<tpl> $langSysSearch </tpl>" type="submit" /></td>
							</tr>
						</table>
						</form>
					</div>
				</div>
				<div class="sh-hi-1" id="search_toggle">
					<span></span>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
								<tr>
									<td><tpl> $statics_flash </tpl></td>
								</tr>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>