<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysMessageManage </tpl> &gt;&gt; <tpl> $langSysMessageList </tpl></div>
				</div>
				<div class="ibxbar2">
					<div class="on-700">
						<form id="form1" name="form1" action="shopmessage.manage.php" method="get">
						<input type="hidden" name="action" value="list" />
						<table width="100%" border="0" cellpadding="0">
							<tr>
								<th class="wd"><tpl> $langSysShop </tpl>:</th>
								<td class="it-1">
									<input class="fct-input" value="<tpl> $condition.shop_name </tpl>" name="shop_name" id="shop_name" type="text" />
								</td>
								<th class="wd"><tpl> $langSysMessageHuman </tpl>:</th>
								<td class="it-2" colspan="2">
									<input class="fct-input" value="<tpl> $condition.member_name </tpl>" name="member_name" id="member_name" type="text" />
								</td>
							</tr>
							<tr>
								<th class="wd"><tpl> $langSysMessageSeller </tpl>:</th>
								<td class="it-2" colspan="3"> 
									<input class="fct-input" value="<tpl> $condition.seller </tpl>" name="seller" id="seller" type="text" />
								</td>
								<td class="mk-2"><input class="bthl" name="" value="<tpl> $langSysSearch </tpl>" type="submit" /></td>
							</tr>
						</table>
						</form>
					</div>
				</div>
				<div class="sh-hi-1" id="search_toggle">
					<span></span>
				</div>
			</div>
			<form action="shopmessage.manage.php" id="form_del" name="form_del" method="post" onsubmit="return confirm_alert('<tpl> $langCConfirmDelete </tpl>');">
			<input type="hidden" name="action" id="action" value="del" />
			<div class="fixbgwhite">
				<table class="es" id="bianse">
					<tr class="es-tr">
						<td class="es-6"></td>
						<td class="es-4"><tpl> $langSysShop </tpl></td>
						<td class="es-2"><tpl> $langSysMessageHuman </tpl></td>
						<td class="es-2"><tpl> $langSysMessageTime </tpl></td>
						<td class="es-2"><tpl> $langCOperation </tpl></td>
					</tr>
					<tpl> if $message_array[0].message_id neq'' </tpl>
						<tpl> section name=loop loop=$message_array </tpl>
					<tr class="es-td">
						<td id="check-1"><input name="message_id[]" type="checkbox" value="<tpl> $message_array[loop].message_id </tpl>" /></td>
						<td><tpl> $message_array[loop].shop_name </tpl></td>
						<td><tpl> $message_array[loop].member_name </tpl></td>
						<td><tpl> $message_array[loop].message_time </tpl></td>
						<td>
							<a href="shopmessage.manage.php?action=modi&message_id=<tpl> $message_array[loop].message_id </tpl>&shop_id=<tpl> $message_array[loop].shop_id </tpl>"><tpl> $langSysCEdit </tpl></a>
						</td>
					</tr>
						<tpl> /section </tpl>
					<tpl> /if </tpl>
				</table>
			</div>
			<tpl> if $message_array[0].message_id eq'' </tpl>
				<div class="msk-wi">
					<div class="msk"><tpl> $langSysCNoThing </tpl></div>
				</div>
			<tpl> /if </tpl>
			<div class="ibxbot">
				<div class="fle">
					<b><tpl> $langSysSel </tpl>:</b>
					<a href="javascript:;" onclick="sel_all_checkbox('form_del');"><tpl> $langSysAll </tpl></a> - <a href="javascript:;" onclick="sel_negative_checkbox('form_del');"><tpl> $langSysSelNegative </tpl></a> - <a href="javascript:;" onclick="sel_none_checkbox('form_del');"><tpl> $langSysSelNone </tpl></a>
				</div>
				<div class="fri">
					<tpl> if $message_array[0].message_id neq'' </tpl>
					<tpl> $page_list </tpl>
					<tpl> /if </tpl>
				</div>
			</div>
			<div class="ibxbar">
				<input class="bthl" name="" value="<tpl> $langSysCDel </tpl>" type="submit" /> 					
			</div>
			</form>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>
