<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysProductBrandRemark </tpl> &gt;&gt; <tpl> $langSysProductBrandAdd </tpl></div>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="product_brand.manage.php">
						<input type="hidden" name="action" value="save" />
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
								<tr>
									<th><tpl> $langSysProductBrandName </tpl>:</th>
									<td>
									<input class="fct-input" name="txtBrandName" id="txtBrandName" type="text" maxlength="30" /></td>
								</tr>
								<tr>
									<th><tpl> $langSysProductBrandParent </tpl>:</th>
									<td>
										<select name="txtParentBrand" id="txtParentBrand">
											<option value="0"><tpl> $langSysProductBrandDefault </tpl></option>
											<tpl> section name=loop loop=$sel_brand </tpl>
											<option value="<tpl> $sel_brand[loop][0] </tpl>"><tpl> $sel_brand[loop][2] </tpl></option>
											<tpl> /section </tpl>
										</select>
									</td>
								</tr>
								<tr>
									<th><tpl> $langSysProductBrandSort </tpl>:</th>
									<td>
										<input class="fct-input" name="txtBrandSort" id="txtBrandSort" type="text" value="0" maxlength="6" />
									</td>
								</tr>
								<tr>
									<th><tpl> $langSysProductBrandImage </tpl>:</th>
									<td>
										<input type="file" name="brand_image" />
									</td>
								</tr>
							</table>
						</div>
						<div class="bth-ct">
						<div class="bth-pl">
							<input class="bthl" value="<tpl> $langSysCSave </tpl>" type="submit" />
							<input type="button" class="bthl" value="<tpl> $langSysProductBrandReturn </tpl>" onclick='history.back();'/>
						</div>
					</div>
					</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
<script>
$(document).ready(function(){
	$("#form1").validate({
		errorClass: "wrong",
		rules: {
			txtBrandName: {required:true},
			txtBrandSort: {required:true,number:true}
		},
		messages: {
			txtBrandName: {required: "<tpl> $errSysProductBrandNameIsEmpty </tpl>"},
			txtBrandSort: {required:"<tpl> $errSysProductBrandSortIsEmpty </tpl>",number:"<tpl> $errSysProductBrandSortIsNotNumber </tpl>"}
		}
	});
});
</script>
</body>
</html>
