<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysChannelDragManage </tpl> &gt;&gt; <tpl> $langSysChannelDragPicAdd </tpl></div>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<form action="channel_drag.manage.php" id="form_add" name="form_add" enctype="multipart/form-data" method="post">
						<input type="hidden" name="action" value="save" />
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
								<tr>
									<th><tpl> $langSysChannelDragPic </tpl>:</th>
									<td><input name='txt_pic' type='file' id="txt_pic"/></td>
								</tr>
								<tr>
									<th><tpl> $langSysChannelDragStyle </tpl>:</th>
									<td>
										<select class="sele-2" name="cd_style">
											<tpl> foreach from=$style_array item=one key=key </tpl>
											<option value="<tpl> $key </tpl>"><tpl> $one </tpl></option>
											<tpl> /foreach </tpl>
										</select>
									</td>
								</tr>
								<tr>
									<th><tpl> $langSysChannelDragColor </tpl>:</th>
									<td>
										<select class="sele-2" name="cd_color">
											<tpl> foreach from=$color_array item=one key=key </tpl>
											<option value="<tpl> $key </tpl>"><tpl> $one </tpl></option>
											<tpl> /foreach </tpl>
										</select>
									</td>
								</tr>
								<tr>
									<th><tpl> $langSysChannelDragType </tpl>:</th>
									<td>
										<select class="sele-2" name="cd_type">
											<tpl> foreach from=$type_array item=one key=key </tpl>
											<option value="<tpl> $key </tpl>"><tpl> $one </tpl></option>
											<tpl> /foreach </tpl>
										</select>
									</td>
								</tr>
								<tr>
									<th><tpl> $langCSort </tpl>:</th>
									<td>
										<input class="fct-input" name="cd_sort" id="cd_sort" type="text" value="0" maxlength="9" /></td>
								</tr>
							</table>
						</div>
						<div class="bth-ct">
						<div class="bth-pl">
							<input class="bthl" value="<tpl> $langSysCSubmit </tpl>" type="submit" />
							<input type="button" class="bthl" value="<tpl> $langSysCReturn </tpl>" onclick='history.back();'/>
						</div>
					</div>
					</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
<script>

jquery(document).ready(function(){
	jquery("#form_add").validate({
		errorClass: "wrong",
		rules: {
			cd_sort: {required:true,number:true,min:0}
		},
		messages: {
			cd_sort: {required:"<tpl> $errSysChannelDragPicSortIsWrong </tpl>",number:"<tpl> $errSysChannelDragPicSortIsWrong </tpl>",min:"<tpl> $errSysChannelDragPicSortIsWrong </tpl>"}
		}
	});
});
</script>
</body>
</html>