<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langMessageLetterGroupSend </tpl> &gt;&gt; <tpl> $langMessageList </tpl></div>
					<div class="gtlbar-right" onclick="location.href='message.manage.php?action=add_message'">
							<input class="apd" name="" type="button" />
							<b><tpl> $langMessageAdd </tpl></b>
					</div>
				</div>
			</div>
			<form action="message.manage.php" id="form_del" name="form_del" method="post" onsubmit="return confirm_alert('<tpl> $langCConfirmDelete </tpl>');">
			<input type="hidden" name="action" id="action" value="del_message" />
            <tpl>if !empty($message_array) </tpl>
			<div class="fixbgwhite">
				<table class="es" id="bianse">
					<tr class="es-tr">
						<td class="es-1"><tpl> $langMessageSelect </tpl></td>
						<td class="es-4"><tpl> $langMessageTitle </tpl></td>
						<td class="es-5"><tpl> $langMessageSendTo </tpl></td>
						<td class="es-5"><tpl> $langMessageSendTime </tpl></td>
						<td class="es-6"><tpl> $langCOperation </tpl></td>
					</tr>
		  			<tpl> section name=loop loop=$message_array </tpl>
					<tr class="es-td">
						<td id="check-1">
							<input type="checkbox" name="message_system_id[]"  value="<tpl> $message_array[loop].pmid </tpl>" />
						</td>
						<td><tpl> $message_array[loop].subject </tpl></td>
						<td>
							<tpl>$message_array[loop].msgtoname</tpl>
						</td>
						<td><tpl> $message_array[loop].send_time </tpl></td>
						<td><a href="message.manage.php?action=view_message&message_system_id=<tpl> $message_array[loop].pmid </tpl>&curpage=<tpl>$curpage</tpl>&toid=<tpl>$message_array[loop].msgtoid</tpl>"><tpl> $langCview </tpl></a>
						</td>
					</tr>
				    <tpl> /section </tpl>
				</table>
			</div>
			<tpl> else </tpl>
				<div class="msk-wi">
					<div class="msk"><tpl> $langSysCNoThing </tpl></div>
				</div>
			<tpl> /if </tpl>
			<div class="ibxbot">
				<div class="fle">
					<b><tpl> $langSysSel </tpl>:</b>
					<a href="javascript:;" onclick="sel_all_checkbox('form_del');"><tpl> $langSysAll </tpl></a> - <a href="javascript:;" onclick="sel_negative_checkbox('form_del');"><tpl> $langSysSelNegative </tpl></a> - <a href="javascript:;" onclick="sel_none_checkbox('form_del');"><tpl> $langSysSelNone </tpl></a>
				</div>
				<div class="fri">
					<tpl> if $message_array[0].message_system_id neq '' </tpl>
					<tpl> $pagelist </tpl>
					<tpl> /if </tpl>
				</div>
			</div>
			<div class="ibxbar">
				<input type="submit" class="bthl" value="<tpl> $langSysCDel </tpl>" />
			</div>
			</form>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>