<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left">店铺 &gt;&gt; 管理所有店铺</div>
					<div class="gtlbar-right">
							<input class="apd" name="" type="button" />
							<b>添加商品</b>
					</div>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
								<form action="" method="get">
									<tr>
										<th>网站名称:</th>
										<td><input class="fct-input" value="ShopNC综合多用户商城系统" name="" type="text" /></td>
									</tr>
									<tr>
										<th>网址:</th>
										<td>http://localhost/multishop1</td>
									</tr>
									<tr>
										<th>公司名称:</th>
										<td><input class="fct-input" value="网城创想科技有限责任公司" name="" type="text" /></td>
									</tr>
									<tr>
										<th>联 络 人:</th>
										<td><input class="fct-input" value="网城创想科技有限责任公司" name="" type="text" /></td>
									</tr>
									<tr>
										<th>性    别:</th>
										<td><input name="" type="radio" value="" /><label class="rao">男</label> <input name="" type="radio" value="" /><label class="rao">女</label></td>
									</tr>
									<tr>
										<th>E-mail:</th>
										<td><input class="fct-input" value="test_multishopnc@163.com" name="" type="text" /></td>
									</tr>
									<tr>
										<th>联络地址:</th>
										<td><input class="fct-input" value="富力城" name="" type="text" /></td>
									</tr>
									<tr>
										<th>传    真:</th>
										<td><input class="fct-input" value="8602227260105" name="" type="text" /></td>
									</tr>
									<tr>
										<th>移动电话:</th>
										<td><input class="fct-input" value="13888888888" name="" type="text" /></td>
									</tr>
									<tr>
										<th>邮政编码:</th>
										<td><input class="fct-input" value="300201" name="" type="text" /></td>
									</tr>
									<tr>
										<th>联络电话:</th>
										<td><input class="fct-input" value="8602227260105" name="" type="text" /></td>
									</tr>
									<tr>
										<th>网站标题:</th>
										<td><input class="fct-input" value="ShopNC综合多用户商城系统" name="" type="text" /></td>
									</tr>
									<tr>
										<th>网站LOGO:</th>
										<td><span class="dptn">LOGO地址可以是外部链接，也可以是本站的图片路径，需要填写完整路径,建议图片宽高为200×60</span><input class="fct-input" value="" name="" type="text" /><br /><p class="dptnp"><img src="images/logo.gif" /></p></td>
									</tr>
									<tr>
										<th>meta关键字:</th>
										<td><textarea class="fct-input" name="" cols="" rows="">多用户商城,开源商城,ShopNC</textarea></td>
									</tr>
									<tr>
										<th>meta描  述:</th>
										<td><textarea class="fct-input" name="" cols="" rows="">ShopNC综合多用户商城系统</textarea></td>
									</tr>
									<tr>
										<th>版权所有:</th>
										<td><textarea class="fct-input" name="" cols="" rows="">版权所有 天津市网城创想科技有限责任公司</textarea></td>
									</tr>
									<tr>
										<th>ICP备案:</th>
										<td><textarea class="fct-input" name="" cols="" rows="">津ICP备080001719号</textarea></td>
									</tr>
									
								</form>
							</table>
						</div>
						<div class="bth-ct">
						<div class="bth-pl">
							<input class="bthl" name="" value="提 交" type="button" />
						</div>
					</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
</body>
</html>
