<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"> <tpl> $langSysHelpDocument </tpl> </div>
				</div>
				<div class="ctge">
					<div class="hp_nc_1">
						<div class="hp_1">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/jibenshezhi/index.html" target="_blank"><tpl> $langSysCBasicSet </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/quanxianzu/index.html" target="_blank"><tpl> $langSysCPowerGroup </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/guanliyuan/index.html" target="_blank"><tpl> $langSysCAdmin </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/youjianmoban/index.html" target="_blank"><tpl> $langSysCEmailTemplate </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/zhifujiekou/index.html" target="_blank"><tpl> $langSysCPayment </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/jifenshezhi/index.html" target="_blank"><tpl> $langSysCredits </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/huilvguanli/index.html" target="_blank"><tpl> $langSysCExchange </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/duoyuyanguanli/index.html" target="_blank"><tpl> $langSysCLanguage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/guanjianciguanli/index.html" target="_blank"><tpl> $langSysCKeyWordManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_xitongguanli/minganciguolv/index.html" target="_blank"><tpl> $langSysCKeennessWordFiltrate </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_2">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_shangpinguanli/shangpinfenlei/index.html" target="_blank"><tpl> $langSysCProductClass </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_shangpinguanli/shangpinliebiao/index.html" target="_blank"><tpl> $langSysCProductList </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_shangpinguanli/shangpinjingtai/index.html" target="_blank"><tpl> $langSysCProductStatic </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_shangpinguanli/pinpaiguanli/index.html" target="_blank"><tpl> $langSysCProductBrand </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_shangpinguanli/shangpindiaoyong/index.html" target="_blank"><tpl> $langSysMenuProductDatacall </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_shangpinguanli/jingpaizidongjiajia/index.html" target="_blank"><tpl> $langSysCAutoAddPrice </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_3">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_jiaoyiguanli/jiaoyidingdan/index.html" target="_blank"><tpl> $langSysCDealForm </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_jiaoyiguanli/tousuguanli/index.html" target="_blank"><tpl> $langSysCLawManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_jiaoyiguanli/jubaoguanli/index.html" target="_blank"><tpl> $langSysCComplaintManage </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_4">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/huiyuan/index.html" target="_blank"><tpl> $langSysCMemberManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/yonghuzu/index.html" target="_blank"><tpl> $langSysMemberGroup </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/haopingguanli/index.html" target="_blank"><tpl> $langSysCReputablyManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/shouhuodizhi/index.html" target="_blank"><tpl> $langSysCConsigneeAddress </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/shangpinliuyan/index.html" target="_blank"><tpl> $langSysCProductMessage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/dianpuliuyan/index.html" target="_blank"><tpl> $langSysCShopMessage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/zhannaxinqunfa/index.html" target="_blank"><tpl> $langSysCMessageGroupSend </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/yonghuxieyi/index.html" target="_blank"><tpl> $langSysCUserAgreement </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_huiyuanguanli/gerenshimingrenzheng/index.html" target="_blank"><tpl> $langSysMenuPersonalCertify </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_5">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/dianpufenlei/index.html" target="_blank"><tpl> $langSysCShopClass </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/dianpuliebiao/index.html" target="_blank"><tpl> $langSysCShopList </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/dianpuyouqinglianjie/index.html" target="_blank"><tpl> $langSysCShopFirendLink </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/dianpushangpinfenlei/index.html" target="_blank"><tpl> $langSysCShopProductClass </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/dianpufenggeguanli/index.html" target="_blank"><tpl> $langSysMenuShopDragManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/kaidianxieyi/index.html" target="_blank"><tpl> $langSysShopAgreement </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_dianpuguanli/shitidianpurenzheng/index.html" target="_blank"><tpl> $langSysCShopAttestation </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_6">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/jingtaihuaguanli/index.html" target="_blank"><tpl> $langSysCStaticManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/shouyeguanli/index.html" target="_blank"><tpl> $langSysCChannelIndexManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/pindaoguanli/index.html" target="_blank"><tpl> $langSysCChannelManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/pindaofenggeguanli/index.html" target="_blank"><tpl> $langSysCChannelDrag </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/jibenlanmu/index.html" target="_blank"><tpl> $langSysCBasicCote </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/diquguanli/index.html" target="_blank"><tpl> $langSysCZoneManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/xinwenguanli/index.html" target="_blank"><tpl> $langSysCNews </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/guanggaoguanli/index.html" target="_blank"><tpl> $langSysCAdvManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/toupiaodiaocha/index.html" target="_blank"><tpl> $langSysCVoteSurvey </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/youqinglianjie/index.html" target="_blank"><tpl> $langSysCFirendLink </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/shujuku/index.html" target="_blank"><tpl> $langSysCDatabase </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/caozuorizhi/index.html" target="_blank"><tpl> $langSysCOperatorNote </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_gongjuguanli/fangwentongji/index.html" target="_blank"><tpl> $langSysCAccessStat </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_7">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_caiwuguanli/yucunkuanguanli/index.html" target="_blank"><tpl> $langSysCPredepositManage </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_caiwuguanli/maijiajiaofeiguanli/index.html" target="_blank"><tpl> $langSysMenuShopPay </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hp_nc">
						<div class="hp_8">
							<div class="hp_left"></div>
							<div class="hp_right">
								<ul>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_yingyongguanli/yingyongliebiao/index.html" target="_blank"><tpl> $langSysAppList </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_yingyongguanli/huiyuanzhenghe/index.html" target="_blank"><tpl> $langSysCMemberConformity </tpl></a></li>
									<li><a href="http://www.shopnc.net/document/multishop_help_v26/html/xitong_houtaishuoming_yingyongguanli/tongxingzheng/index.html" target="_blank"><tpl> $langSysCLaissezPasser </tpl></a></li>
								</ul>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>