<tpl> include file='sys_config.head.html' </tpl>
<div id="doc3">
	<div id="yui-main">
		<div class="yui-g">
 			<div id="divinbox">
				<div class="gtlbar">
					<div class="gtlbar-left"><tpl> $langSysSecManage </tpl> &gt;&gt; <tpl> $langSysSecModi </tpl></div>
				</div>
				<div class="ctge">
					<div class="ctge-1">
						<form action="section.manage.php?action=modisave" method="post" id="form_modi">
						<input type="hidden" name="txtid" value="<tpl> $section_array.section_id </tpl>" />
						<div class="ctge-1-1">
							<table cellSpacing="0" cellPadding="0" class="fct" border="0">
								<tr>
									<th><tpl> $langSysSecName </tpl>:</th>
									<td>
									<input class="fct-input" name="txttitle" id="txttitle" type="text" maxlength="80" value="<tpl> $section_array.section_name </tpl>" />
									</td>
								</tr>
								<tr>
									<th><tpl> $langSysSecContent </tpl>:</th>
									<td>
										<tpl>php</tpl>
											include_once('../classes/resource/editor/editor.class.php');
											$editor=new editor('txtcontent');
											$editor->Value=$this->_tpl_vars['section_array']['section_content'];
											$editor->BasePath='../classes/resource/editor';
											$editor->Height=460;
											$editor->Width=621;
											$editor->AutoSave=false;
											$editor->Create();
										<tpl>/php</tpl>
									</td>
								</tr>
								<tr>
									<th><tpl> $langSysSecJumpLink </tpl>:</th>
									<td>
										<span class="dptn"><tpl> $langSysNNewsJumpUrlRemark </tpl></span>
										<input class="fct-input" name="txturl" id="txturl" type="text" maxlength="255" value="<tpl> $section_array.section_url </tpl>" />
									</td>
								</tr>
							</table>
						</div>
						<div class="bth-ct">
						<div class="bth-pl">
							<input class="bthl" value="<tpl> $langSysSecSubmit </tpl>" type="submit" />
							<input type="button" class="bthl" value="<tpl> $langSysSecReturnToList </tpl>" onclick='history.back();'/>
						</div>
					</div>
					</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<tpl> include file='sys_config.js.html' </tpl>
<script>
$("#form_modi").validate({
	errorClass: "wrong",
	rules: {
		txttitle: {required:true}
	},
	messages: {
		txttitle: {required: "<tpl> $langSysSecPleaseFillInName </tpl>"}
	}
});
</script>
</body>
</html>
