<!-- 以下版权信息不能去除，否则程序无法运行 -->
<title><tpl> $title_message </tpl><tpl>$HtmlTitle</tpl></title>
<meta name="KEYWords" content="<tpl> $Meta_keyword </tpl><tpl> $keyword_message </tpl>" />
<meta name="DEscription" content="<tpl> $Meta_desc </tpl><tpl> $desc_message </tpl>" />
<meta name="author" content="Shopnc UI Team" />
<meta name="Robots" content= "all" /> 
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="<tpl> $site_url </tpl><tpl> $templatepath </tpl>/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<script language="JavaScript" type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery1.4/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery1.4/jquery.validate.js"></script>
<script language="JavaScript" type="text/javascript" src="<tpl> $site_url </tpl>/js/jquery1.4/jquery.cookie.js"></script>
<script>
//判断统计路径的标识，1为非静态页面
var js_statics_sign=1;
</script>
<!-- 统计代码 -->
<script language="JavaScript" type="text/javascript" src="<tpl> $site_url </tpl>/js/statics.js?url=<tpl> $site_url </tpl>"></script>
<!-- 以上版权信息不能去除，否则程序无法运行 -->