<div id="faq">
    <ul class="s1">
      <h3><tpl> $langIndexUseHelpMember </tpl></h3>
	  <script src="<tpl> $site_url </tpl>/html/news_javascript/6512bd43d9caa6e02c990b0a82652dca.js"></script>
    </ul>
    <ul class="s2">
      <h3><tpl> $langIndexUseHelpSeller </tpl></h3>
	  <script src="<tpl> $site_url </tpl>/html/news_javascript/c20ad4d76fe97759aa27a0c99bff6710.js"></script>
    </ul>
    <ul class="s3">
      <h3><tpl> $langIndexUseHelpPayment </tpl></h3>
	  <script src="<tpl> $site_url </tpl>/html/news_javascript/c51ce410c124a10e0db5e4b97fc2af39.js"></script>
    </ul>
    <ul class="s4">
      <h3><tpl> $langIndexUseHelpSaleService </tpl></h3>
      <script src="<tpl> $site_url </tpl>/html/news_javascript/aab3238922bcc25a6f606eb525ffdc56.js"></script>
    </ul>
    <ul class="s5">
      <h3><tpl> $langIndexUseHelpCustomerService </tpl></h3>
	  <script src="<tpl> $site_url </tpl>/html/news_javascript/9bf31c7ff062936a96d3c8bd1f8f2ff3.js"></script>
    </ul>
    <ul class="s6">
      <h3><tpl> $langIndexUseHelpAboutUs </tpl></h3>
	  <script src="<tpl> $site_url </tpl>/html/news_javascript/c74d97b01eae257e44aa9d5bade97baf.js"></script>
    </ul>
    <div class="clear">&nbsp;</div>
</div>